$red:#c30900;
$hoverred:#520000;
@media screen and (max-width: 1200px){
  .hide992{display: none;}
  .mainsale{
    &__item{width: auto; height: auto;
      &--small{width: 100%;
        &:last-child{display: none;}
      }
    }
    &__col--small{align-items: center; width: 50%; }
    &__box{justify-content: flex-start;}
  }
}
@media screen and (max-width: 1164px){
  .catalognav__box {height: auto;}
  .category__anchors-wrap{padding: 0 50px;
    .slick-next{right: -20px;}
    .slick-prev{left: -20px;}
  }
  .card{
    &__bonus{display: none;
      &--mob{display: flex; align-items: center; margin-left: 20px;}
      svg{margin-right: 8px; width: 18px; height: 17px;  }
    }
    &__rankinfo{flex-direction: column-reverse; align-items: flex-start;}
    &__info{margin-bottom: 10px;}
  }
  .shops{
    &__icon {margin-right: 15px;
      &--big{width: 30px; height: 30px; padding: 6px;}
    }
    &__item{flex-direction: column;
      &--main{padding-left: 10px;}
    }
    &__col{width: 100%; margin-bottom: 20px;}
  }
  .batman__td{padding: 10px;}
  .catalog__items{margin: 0 auto; max-width: 780px;}
}
@media screen and (max-width: 1024px){
  .footer{
    &__box {flex-wrap: wrap;}
    &__column {width: 50%; padding: 25px 3% 25px 8%; }
  }
  .maintabs__slide {padding: 0 15px;}
}
@media screen and (max-width: 1080px){
  .brands{
    &__top{flex-wrap: wrap; max-width: 600px; }
    &__best{margin: 0 10px 20px;
      &:not(:last-child){margin-right: 10px;}
    }
    &__bott{max-width: 600px; justify-content: center;}
    &__item{width: 33%;}
  }
  .batman__btns button span{display: none;}
}
@media screen and (max-width: 992px){
  @media (hover: none){
    .banner__arrow:hover:before{border-color: #bababa;}
  }

  .js-mainbrands-slider .slick-track{padding-bottom: 0;}
  .actions{margin: 0;
    &__row{flex-direction: column; max-width: 560px; margin: 0 auto 19px;
      &:nth-child(even){flex-direction: column-reverse;}
    }
    &__col{
      &:first-child:not(.actions__col--img){border-right: 0; border-top: 1px solid #d9d9d9; padding: 16px;}
      &:last-child:not(.actions__col--img){border-left: 0; border-top: 1px solid #d9d9d9; padding: 16px;}
    }
  }
  .action-inner__box{
    &.mainblog__box{flex-wrap: wrap; justify-content: flex-start;}
    .mainblog__col--small{padding: 10px; width: 50%; flex-grow: 0;}
  }
   .banner{padding-left: 0;}
  .banner__slide {height: auto;
    img{width: 100%;}
  }
  .banner__arrow{width: 40px; height: 40px;}
  .banner__arrow:before{top: 16px;}
  .banner__arrow--next:before{left: 12px;}
  .banner__arrow--prev:before{right: 12px;}
  .paginator .banner__arrow--prev{margin-right: 0; margin-left: 0;}
  .paginator .banner__arrow--next{margin-right: 0; margin-left: 0;}
  .batman__btns button span{display: inline-block;}
  .batman__btns--nav button.hide992{display: none;}
  .batman__tags{display: none;}
  .brand:hover{
    .brand__goods{display: none;}
    .brand__link{border:none;}
  }
  .breadcrumbs{display: none;}
  .blog{padding-left: 0;
    &__mob{display: block; width: 100%; padding-bottom: 40px;}
    &__page{flex-direction: column-reverse;
      .scelet__left .mainblog__subscribe{display: none;}
    }
  }
  .btn {
    &:hover{
      span{ color: #fff; border-color:$red; background-color: $red; }
    }
    &--white {
      &:hover span{color: $red; border-color: $red; background-color: #fff}
    }
    &--black{
      &:hover{
        span{background-color: #000; border-color: #d9d9d9;}
        b{color: #000;}
      }
    }
    &--whitehover{
      &:hover span{background-color: $red; border-color:$red; color: #fff;}
    }
  }
  .butter{position: absolute; top: 50%; right: 20px; transform: translateY(-50%); }
  .cabmenu{padding-right: 0;
    &__scelet .scelet__left{order: 0;}
    &__butter{display: block;}
    &__title{border: 1px solid #d9d9d9; pointer-events: all;}
    &__list{display: none; padding: 15px; border: 1px solid #d9d9d9; border-top: 0;}
  }
  .card{align-items: flex-start;
    &__title{display: none;
      &--mob{display: block; padding-top: 25px;}
    }
    &__price{flex-direction: column; align-items: flex-start; border:none; padding:10px 0;
      .product__prices{margin-bottom: 15px;}
    }
    &__btns{flex-direction: column;}
    &__button{margin-bottom: 10px; height: 60px;
      &:not(:last-child){margin-right: 0;}
    }
    &__price-btns{width: 100%;}
    &__info{width: 100%;}
  }
  .cart{
    &__wrap{padding-left: 0;}
    &__title-wrap{position: relative; top: auto; }
    &__title-r{display: none;}
    &__table{padding-bottom: 0;}
  }
  .catalog{padding-left: 0;
    &__view-type{display: none;}
    &__items--rowed .product{
      &__people--mob{display: none;}
      &__opt{ margin: 5px 0;}
      &__opt-cussto.btn{width: 100%;
        span{white-space: normal;}
      }
      &__options{flex-wrap: nowrap; width: 100%; padding-left: 7px;}
      &__prices {width: auto;}
    }
    &__sorter--batman{display: block; padding: 5px 15px; margin-bottom: 10px;}
  }
  .catalognav{background-color: #f5f5f5;
    &:hover .catalognav__dropdown{transform: none; opacity: 1; height: auto;}
    &__decor{display: none;}
    &__closer {display: block;}
    &__mid {transform: translateX(-100%); transition: all 0.1s; display: flex; position: fixed; top: 0; left: 0; width: 100%; padding: 0 100px 10px;
      &.active {  transform: translateX(0); z-index: 130; background-color: #fff; border: 0; border-bottom: 1px solid #d9d9d9; display: flex;}
    }
    &__top {margin-bottom: 10px; position: relative; }
    &__bot { position: relative;
      .catalognav__href{width: 100%;}
    }
    &__href{width: 100%; border-right: 0;}
    &__box {left: -100%; width: 100%; padding: 0 100px 10px; background-color: #fff;   top: 50px; overflow: auto;
      &.active{left: 0; height:calc(100vh - 50px); transform: scaleX(1); opacity: 1; pointer-events: all;}
    }
    &__show-box>a {pointer-events: all;}
    &__item {min-height: 44px; border-top: 1px solid #d9d9d9;
      &>a {font-weight: 700;}
    }
    &__notmain{
      .catalognav__bot{display: flex;
        .catalognav__box{display: none;}
      }
    }
    &__dropdown{transform: none; opacity: 1; height: auto; position: relative; top: auto; pointer-events: all;}
  }
  .cataloglist {column-count: initial; width: 100%; padding: 0; max-height: calc(100vh - 58px);
    &>li {width: 100%; }
    &>li>a{padding: 9px 0 9px 20px; display: inline-block;}
    &>li ul {  height: calc(100% + 90px);  border-bottom: 1px solid #d9d9d9; padding-left: 40px;}
    &__main {display: inline-block;  }
    & > li li a {  border-top: 1px solid #d9d9d9; display: block; padding: 8px 0;}
    &__main-box {position: relative; padding-top: 2px; padding-left: 20px; padding-bottom: 5px; display: block; letter-spacing: -0.5px; text-transform: uppercase; border-bottom: 1px solid #d9d9d9; font-size: 12px;
      .banner__arrow.banner__arrow--prev {top: -14px; left: -10px; position: absolute;  display: block;}
    }
  }
  .category{
    &__slider{margin-bottom: 0;}
    &__anchors-wrap{position: relative; background-color: #000;}
    &__item{width: 50%;}
  }
  .compare{
    &__title{ flex-direction: column;
      h2{order: 0;}
      .btn{order: 1; margin-bottom: 10px;}
      .catalog__tag{justify-content: center; margin-right: 0;}
    }
    &__content{margin-bottom: 20px;}
    &__title--mob{display: block;
      .btn{width: 100%; margin-bottom: 10px;}
      .catalog__tag{margin-right: 0; margin-bottom: 40px;justify-content: center;}
    }
    &__reset{order: 2;}
    &__top{padding-left: 0;}
    &__top--wright{padding: 0;}
  }
  .faq__title{height: auto; min-height: 60px; }
  .filter{position: fixed; bottom: 52px; width: 100%; left: 0; z-index: 1200;
    &__wraper{  background-color: #fff; border: 1px solid #d9d9d9;max-height: calc(100vh - 52px); overflow-y: auto ; transform:translateY(100%); transition: all 200ms; }
    &__block{padding-left: 15px;
      &:last-child{display: none;}
    }
    &__mobbtn{display: block;transition: all 200ms; }
    &__mobctrl{display: flex;transform:translateX(-100%);transition: all 200ms; }
    &.active{
      .filter__wraper{transform:translateY(0);}
      .filter__mobbtn{transform:translateX(100%);}
      .filter__mobctrl{transform:translateX(0);}
    }

  }
  .header { display: none;}
  .mainblog { padding-bottom: 15px; padding-top:0;
    &__box {flex-wrap: wrap; margin: 0;}
    &__col {width: 100%; padding: 0;
      &--small {width: 50%; flex-grow: 1; flex-direction: row;  }
    }
    &__block{margin-bottom: 10px; margin-right: 10px;
      &:last-child{margin-right: 0;}
    }
    &__header {font-weight: 400; text-transform: none; font-size: inherit; letter-spacing: 0.05px; line-height: 18px; }
  }
  .mainbrands {
    &__slider {margin-top: 15px; margin-bottom: 0;
      .banner__arrow--next {right: 13px;}
      .banner__arrow--prev {left: 13px;}
    }
    &__box {padding: 0 25px}
  }
  .mainsale { padding: 14px 0 24px;
    &__link {text-align: center;}
    &__item { height: auto; width: 100%;
      &--small { padding-bottom: 0; width: auto; margin-bottom: 10px;
        .mainsale__link {padding: 0;}
        &:last-child{display: block;}
      }
    }
    &__box {flex-wrap: wrap;}
    &__col {width: 100%;
      &--small {width: 100%;  margin: 0 10px;  justify-content: center;}
    }
  }
  .mainseo {
    &__col {width: 100%;
      &--right {padding: 0;}
    }
    &__text{ font-size: 0.875rem; padding-top: 20px;}
  }
  .maintabs {padding-top: 14px;margin-bottom: -35px;
    &--common{margin-bottom: 0; padding-bottom: 30px;}
    &__slide {padding: 0 10px;}
    &__container{padding: 17px 0;}
    &__link.active span { background-color: #fff; color: #000; border-color: #d9d9d9;}
  }
  .mainwatched{
    &__slider {
      .banner__arrow--next {right: -10px;}
      .banner__arrow--prev {left: -10px;}
    }
    &__container {padding-top: 0;}
    .maintabs__slide {padding: 0 0;}
  }
  .mobilemenu { display: block;
    .navigation {display: block;}
  }
  .navigation {display: none;}
  .order{
    &__forms{flex-direction: column;}
    &__left{width: 100%; border-right: 0;}
    &__right{width: 100%;}
    &__btn{flex-direction: column;}
    &__info-box{padding: 7px;
      svg{margin-right: 12px;}
    }
    &__fixrow{padding-left: 0; padding-top: 0;}
    &__forms-col{flex-grow: 1;}
    &__title{text-align: center;
      .btn{position: relative; top:auto;}
    }
    &__input{
      .styled{margin-bottom: 0;  position: relative;  padding: 5px; line-height: 1.2; text-align: center; display: flex;justify-content: center;align-items: center; height: 40px;
        input[type="radio"] + i{position: absolute; width: 100%; height: 100%; left: 0;top: 0; z-index: 0; border-width: 1px  }
        input[type="radio"]:checked + i + span{color: #fff; z-index: 1;}
      }
    }
  }
  .orderdone{
    h2{font-size: 22px;}
    &__img{display: none;}
    &__text{flex-shrink:1;}
  }
  .perevagi {
    &__row {padding: 0; margin-bottom: 12px;}
    &__item {padding-top: 10px;}
    .banner__arrow--next {right:0px;}
    .banner__arrow--prev {left: 0px;}
  }
  .promo{padding: 0; padding-bottom: 15px; margin-top: 0;
    &__title{background-color: #d9d9d9; padding: 8px; font-size: 16px;
      br{display: none;}
    }
    .btn,
    &__input{padding: 0 15px;}

  }
  .scelet {flex-wrap: wrap;
    &__left {width: 100%; order: 2; padding: 14px 0;}
    &__right {width: 100%;}
  }
  .shops{ height: auto;
    &__show{display: flex;}
    &__item{pointer-events: none;
      &.shops__item--main{
        &:hover{background-color: transparent;
          .shops__icon{background-color: $red;
            svg{fill:#fff;}
          }
        }
      }
      &:hover{background-color: transparent;
        .shops__icon{background-color: #f0f0f0;
          svg{fill:#000;}
        }
      }
      a{pointer-events: all;}
      &.active{background-color: #f0f0f0; border:1px solid #d9d9d9;
        .shops__mobmap{pointer-events: all;}

        .shops__icon{background-color: $red;
          svg{fill:#fff;}
        }
      }
      button{pointer-events: all;}
    }
    &__map{display: none;}
  }
  .searchfield {display: none;}
  .title {padding-top: 30px;
    h2 {
      &:after {display: none;}
    }
  }
}
@media screen and (max-width: 876px){
  .banner {
    &__dots {width: 100%; flex-grow: 1; justify-content: space-between;}
    &__arrows {display: none;}
    &__nav {height: 32px; padding: 0 13px; margin-bottom: 0px;}
  }
  .card{flex-direction: column; align-items: center;
    &__slider{display: flex; justify-content: center;align-items: center;}
    &__description{padding-left: 0; width: 100%;}
    &__rankinfo{flex-direction: column-reverse; align-items: center; }
    &__price{align-items: center;
      .product__prices{text-align: center;}
    }
    &__like{padding: 15px; background-color: #f5f5f5; margin-bottom: 10px;}
    &__heart.product__heart{margin-bottom: 0;}
  }
  .compare{
    &__card-bot h2{font-size: 14px;}
    .product__price{font-size: 18px;}
    &__content{align-items: flex-end;}
    &__li {font-size: 14px;}
    &__figure{width: 194px;}
    &__banner--wrap{display: none;}
    &__opt-wrap{display: none;}
    &__item{width: 240px; margin-right: 10px;}
  }
  .custom-paging__button {flex-grow: 1; margin: 0 4px;}
  .layer-up .mbox {padding: 0;}
  .perevagi__item {width: 50%;}
  .subscribe{flex-direction: column;
    b{padding-right: 0; margin-bottom: 20px;}
    &__form{flex-direction: column; width: 100%;
      input[type=text],
      .btn{margin: 10px 0; width: 100%; }
    }
  }
  .topbanner {
    &__text {font-size: 0.875rem; line-height: 16px; text-transform: none; letter-spacing: normal;}
    &__wrap {padding: 5px 0;}
  }
  .catalog__items{  max-width: 520px;}
}
@media screen and (max-width: 770px){
  .action-inner__tags{flex-direction: column;
    .share__list{margin-top: 20px;}
  }
  .batman{
    &__top{flex-direction: column;}
    &__nav{margin-right: 0; margin-bottom: 10px; padding: 0; background-color: #fff; border:1px solid #d9d9d9; border-top: 0;}
    &__nav-l p{display: none;}
    &__btns{
      button span { display: none; }
      &--nav{flex-grow: initial;
        button{
          svg{fill:#000;}
        }
      }
    }
    &__banner{flex-direction: column; margin-bottom: 0;}
    &__order{display: flex; flex-direction: column;}
    .order__items{order: 3;}
    &__top{order: 2;}
    &__info{order:1;}
    &__banner-text{border-top: 1px solid #d9d9d9; border-left: 0;}
    &__nav-l .batman__tag{margin-left:0; height: auto; line-height: 1.2; color: #000; text-transform: none; background-color: transparent; padding: 0 10px; border:none;
      &:before{content:''; display: inline-block;width: 8px;height: 8px; margin-right: 8px; margin-bottom: 1px;}
      &--obr:before{background-color: #e69800; }
      &--opl:before{background-color: #002ac4; }
      &--wait:before{background-color: #c400b8; }
      &--done:before{background-color: #0f8000; }
      &--cancel:before{background-color: #c40900; }
    }
    &__table{display: flex; flex-direction: column;}
    &__td{display: inline-block;}
    &__td{display: flex; justify-content: flex-start;align-items: center; flex-wrap: wrap;
      &:nth-child(1){order: 2;  width: 50%;}
      &:nth-child(2){order: 3;  width: 50%; }
      &:nth-child(3){order: 5; width: 50%; border-top:1px solid #d9d9d9;}
      &:nth-child(4){order: 4; width: 100%; max-width: 100%;}
      &:nth-child(5){order: 1; width: 100%; border-bottom:1px solid #d9d9d9;}
      &:nth-child(6){order: 6; width: 50%; border-top:1px solid #d9d9d9;}
      b.batman__mobtitle{display: block; width: 100%; margin-bottom: 4px; font-size: 20px;}
    }
    &__tr{border: 1px solid #d9d9d9; display: flex; margin-bottom: 10px; flex-wrap: wrap;
      &:first-child{display: none; }
      &:nth-child(odd){background-color: #fff;}
    }
  }
  .catalog{
    &__item{width: 50%;}
    &__view{display: none;}
  }
  .category{
    &__twosliders{margin-bottom: 3px;}
    &__anchors-wrap{display: none;}
    &__slide{
      &>img{display: none;}
    }
    &__slide-mob{display: block;
      img{width: 100%;}
    }
    &__mobnav{display: flex; }
  }
  .cabmenu{
    &__sorter{flex-direction: column;
      .catalog__sort{width: 100%;}
      .catalog__sort-select{width: 100%;}
      .btn{margin-left: 0; margin-bottom: 10px; margin-top: 10px;}
      .catalog__sorter{order: 3;}
    }
    &__tag.catalog__tag{margin-left: 0; justify-content: center; margin-bottom: 10px;}
    &__banner.batman__banner .cabmenu__banner-l{padding: 20px;}
  }
  .comments__top{justify-content: center;
    .btn{display: none;}
  }
  .cart{
    &__table-th{display: none;}
    &__table-tr{flex-wrap: wrap;
        .cart__table-td:first-child{border-right: 0;}
    }
    &__table-td{padding: 8px;
      &:nth-child(1){width: 100%; padding-right: 30px;}
      &:nth-child(2){display: none;}
      &:nth-child(3){width: 50%;}
      &:nth-child(4){width: 50%; padding-right: 30px;}
      &:nth-child(5){display: none;}
      b{font-size: 16px;}
    }
  }
  .feedform{
    &__row{flex-direction: column; align-items: center;}
    &__left{padding-right: 0; width: 100%;}
    &__atension{max-width: 300px; text-align: center; margin: 20px auto;}
    &__right{width: 100%; overflow: hidden;}
    &__recapcha{width: 304px; margin: 0 auto;}
  }
  .feedback{padding-right: 0;
    &__rating{padding-right: 0;padding-left: 0;
      span{letter-spacing: 0;}
    }
    &__top{flex-direction: column; align-items: flex-start;}
    &__title{width: 100%; justify-content: space-between;}
    &__bot{justify-content: space-between; flex-wrap: wrap;}
    &__show{margin: 10px 0; padding-left: 15px;}
    &__date{margin-left: 0; margin-top: 12px;}
  }
  .maintabs{margin-bottom: 0;
    &__acord-btn{display: block;}
    &__tabs--common{display: none;}
    &__box--common{display: block;
      &.active .maintabs__aditional-for-mob{display: block;}
    }
    &__aditional-for-mob{display: none;  }
    &__tabs{padding:0 50px;}
    &__link-wrap-pr{padding-left: 0;}
  }
  .order{
    &__item{flex-wrap: wrap;}
    &__item-name{width: 100%;}
    &__item-col{margin-bottom: 6px;}
    &__item-art{display: none;}
    &__item-price{display: none;}
    &__item-sale{display: none;}
    &__info{flex-wrap: wrap;}
    &__info-box{width: 50%; border-right: 0;
      &--cart{width: 100%;border-right: 1px solid #d9d9d9;}
    }
  }
  .table{
    &__tr{display: flex;flex-direction: column; align-items: center;justify-content: center; padding: 10px; height: auto;}
    &__td{padding: 0; width: 100%; text-align: center;}
    &--lk{
      .table__td{width: 50%; text-align: left; padding: 10px 18px;
        &:first-child{border-right: 0;}
        &:last-child{text-align: right;}
      }
      .table__tr{display: table-row;}
    }
  }
}
@media screen and (max-width: 600px){
  .adress{
    &__bot{flex-direction: column; border-bottom: 1px solid #d9d9d9;}
    &__type{border-right: 0; width: 100%; border-bottom: 1px solid #d9d9d9;}
    &__icons{position: relative;flex-direction: row; justify-content: space-between;}
  }
  .action-inner__box{
    .mainblog__col--small{width: 100%;}
  }
  .batman__cell{
    &:first-child{width: 100%;}
  }
  .category__item{width: 100%; max-width: 100%;}
  .catcard{height: auto;
    &__bot{position: relative; top: auto; height: 159px;}
  }
  .catalognav{
    &__mid{padding: 0;}
    &__box{padding: 0;}
  }
  .catalog{
    &__items{ max-width: none;}
    &__item{width: 100%; max-width: none;}
    &__item--search{max-width: none;}
    &__view{}
    &__items--rowed .product{
      &__total-wrapper{height: auto;}
      &__wrapper{display: flex; height: auto; border:none;}
      &__top{width: 45%; border-bottom: 0; min-height: 1px; border-right: 0;}
      &__describe{width: 55%;    padding: 24px 12px 5px; justify-content: center;}
      &__have{display: block;bottom: 10px;}
      &__grey{display: none;}
      &__rating{display: none;}
      &__ratiomob{display: none;}
      &__heart{top: auto; right: auto; left: 14px;bottom: 10px;}
      &__labels{left: 0; top: 0;width: 100%;
        span{width: 100%; margin: 0;}
      }
      &__description{display: none;}
      &__header{text-align: left; line-height: 20px; height: auto; min-height: 80px; padding-left: 0;}
      &__options .btn{ width: auto;
        b{display: none;}
        span{padding: 0 5px;}
        svg {display: block; width: 34px;height: 34px; fill:#fff; transform: scale(1.5)}
      }
      &__opt-cussto.btn{width: 100%;
        span{white-space: normal;}
      }
      &__opt{text-align: left; width: 50%; flex-shrink: 1;}
      &__opt-wrap{width: 100%; flex-wrap: nowrap;}
      &__prices { width: auto;  padding-left:0;  }
      &:hover{border-color: #d9d9d9;
        .product{
          &__wrapper {  height: auto; border:none; }
          &__labels {  left: 0; }
          &__have{display: block;}
        }
      }
    }
  }
  .card{padding-bottom: 10px; width: 100%;
    &__slider{flex-direction: column-reverse; width: 100%;}

    &__like{flex-direction: column; }
    &__heart{
      &.product__heart{ bottom: auto; left:auto; margin-bottom: 10px;
        svg{margin-right: 0;}
      }
    }
  }
  .compare__item{width: 150px;}
  .footer {
    .footer__box {flex-wrap: wrap;}
    .footer__column {width: 100%; padding: 0;
      &--left:not(:last-child) {display: none;}
    }
    .footer__block {display: none;}
    .footer__call {margin-top: 0;}
    .footer__copyright {display: none;}
    .footer__copyright--mobile {padding: 20px 0 10px; width: 100%; display: flex; justify-content: center; font-size: 0.75rem;}

    .footer__made-by {width: 100%; justify-content: center;}
    .mainblog__form {display: none;}
  }
  .lk{
    .btn{width: 100%;}
  }
  .mainblog {
      &__box {}
      &__col--small{width: 100%; flex-direction: column;}
      &__block{margin-right: 0; height: 164px;
        .tag{display: none;
          &:nth-child(1),
          &:nth-child(2){display: inline-block;}
        }
      }
      &__header {}
      &__low-block{
        p{display: none;}
      }
  }
  .mainsale {
    &__col {
      &--small {width: 100%;}
    }
    &__item {
      &--small {width: auto; margin-bottom: 10px;}
    }
  }
  .mainseo__text{column-count: 1;}
  .maintabs {margin: 0 -10px;
    &__link {margin-right: 0;
      &>span {padding: 16px 10px; letter-spacing: inherit; }
    }
    &__fixer{height: auto;}
    &__container{border:none;}
  }
  .mainwatched__slider .slick-track{padding-bottom: 0;}
  .orderdone{ margin-bottom: 40px;
    br{display: none;}
    &__pay{flex-direction: column;}
    &__gray{margin-right: 0;margin-bottom: 12px; font-size: 14px;}
  }
  .perevagi {
    &__row {flex-wrap: wrap;}
    &__item {width: 100%;}
  }
  .slick-slider .product__total-wrapper{ margin: 0 auto;}
  .product{height: auto; position: relative;
    &__total-wrapper{height: auto;}
    &__wrapper{display: flex; height: auto; border:none;}
    &__top{width: 45%; border-bottom: 0; padding: 25px 0;
      img{height: 160px}
    }
    &__describe{width: 55%; padding: 20px 5px 5px 15px;}
    &__have{display: none;}
    &__grey{display: none;}
    &__rating{display: none;}
    &__heart{top: auto; right: auto; left: 14px;bottom: 10px;}
    &__labels{left: 0; top: 0;width: 100%;
      span{width: 100%; margin: 0;}
    }
    &__header{text-align: left; line-height: 20px; height: auto; min-height: 80px;}
    &__options .btn{
      b{display: none;}
      span{padding: 0 5px;}
      svg {display: inline-block; width: 34px;height: 31px; fill:#fff; transform: scale(1.3); margin-left: -5px;}
    }
    &__opt-cussto.btn{width: 100%;
      span{white-space: normal;}
    }
    &__opt{text-align: left; flex-shrink: 1;width: calc(100% - 50px); padding: 0 3px;
      &.vagno{}
      &.inpt{}
    }
    &__opt-wrap{width: 100%; flex-wrap: nowrap; justify-content: flex-start;}
    &:hover{border-color: #d9d9d9;
      .product{
        &__wrapper {  height: auto; border:none; }
        &__labels {  left: 0; }
        &__have{display: none;}
      }
    }
  }
  .slider-rule{margin-bottom: 0px;
    &__col{ width: 100%;margin-bottom: 10px;}
    &__slide-wrap{width: 100%  ; height: 300px; }
  }
  .slider-navigator{position: relative;
    &__col{ margin: 0; padding: 0 20px; width: 100%;}
    &__slide-wrap{width: 74px; height: 74px;margin: 0 auto;}
    .banner__arrow--prev{top: 50%; left: -30px;   position: absolute; z-index: 10; transform: translateY(-50%);}
    .banner__arrow--next{top: 50%; right:-30px; left: auto;  position: absolute; z-index: 10;  transform: translateY(-50%);}
  }
  .popup__list a{padding-left: 0;}
  .supertumbler{flex-direction: column;
    &__item{height: 40px;
      svg{width: 20px; height: 20px;}
      br{display: none;}
      span{max-width: 100%;}
    }
  }
}
@media screen and (max-width: 520px){
  .compare{
    &__li{  padding-top: 51px ; height: 92px; background-color: #fff;
      &:nth-child(odd){background-color: #fff;}
    }
    &__figure{width: 100%; background-color: transparent; position: absolute; left: 0; bottom: 0;  margin-right: 0;
      .compare__li{  margin-bottom: 46px ; height: 46px; padding-top: 5px; justify-content: center;    background-color: #f5f5f5;}
    }
    &__item{border-right: 0; margin-right: 0;}
    &__first{pointer-events: none;}
  }
  .mainbrands__slider{
      .banner__arrow--prev {left: 15px;}
      .banner__arrow--next {right: 15px;}
  }
}
@media screen and (max-width: 480px){
  .actions{
    &__col--img{
      img{display: none;}
      .actions__mob{display: block; width: 100%;}
    }
  }
  .action-inner{
    &__img{margin-top: 15px;
      img{display: none;}
      .actions__mob{display: block; width: 100%;}
    }
    &__text{padding: 15px 0;
      p{font-size: 16px;}
    }
  }
  .brands{margin-top: 20px;
    &__item{width: 50%; margin-bottom: 0;}
    &__bott{padding-top: 0; margin: 0 auto;}
    &__top{padding-bottom: 0;}
  }
  .banner__slider {
    .slick-slide img{display: none;
      &.banner__mobimg{display: block;}
    }

  }
  .compare__empty .btn{top: auto; bottom: 30px; width: 100%;}
  .infovindow{ width: 220px; padding: 0;
    .shops__col{width: 100%;}
  }
  .maintabs {
    &__decor {display: none;}
    &__link > span {padding: 18px 5px; font-size: 12px;}
  }
  .mbox{padding: 0 10px;}
  .order{
    &__info-box{width: 100%; border-bottom: 1px solid #d9d9d9;}
    &__info{margin-bottom: 0; border-bottom: 0;}
    &__btn{position: relative;
      &>.btn{margin-top: 55px; width: 100%; margin-left: 0;}
    }
    &__mobfix{border:none; position: absolute;bottom: 99px; padding-left: 0;padding-right: 0;
      .btn{width: 100%;}
    }
  }
  .p404{
    .btn{width: 100%;
      span{padding: 9px;}
    }
  }
  .paginator { margin: 20px 0;
    &__link a { padding: 11px 4px 11px; min-width: 38px;  }
  }
  .popup {
    &__wrap {height: 100%; display: flex; flex-direction: column; justify-content: center}
    &--small {margin-top: 0; height: 100vh; margin-bottom: 0;}
    &--decisions {
      .industry{
        &__item { height: auto;
          img { height: 68px;}
        }
        &__title {display: flex; align-items: center; justify-content: flex-start; text-align: left;}
      }
    }
  }
  q{padding: 10px; font-size: 1.25rem;margin: 18px auto;}
  .share{width: 100%;
    &__list{flex-direction: column; width: 100%;}
  }
  .catalog{
    &__items--rowed .product__options{padding: 0;}
    &__items--rowed .product__describe{padding: 20px 8px 5px;}
    &__sort{flex-wrap: wrap; width: 100%;}
    &__sort-select{width: 100%; margin-left: 0; margin-top: 10px;}
    &__sorter{height: auto; padding: 15px;}
    &__showmore{margin-top: 20px;}
  }
  .feedform__subrow{flex-direction: column;}
  .feedform__col:first-child{padding-right: 0; width: 100%;}
  .feedform__col:last-child{padding-left: 0; width: 100%;}
  .jq-selectbox {  width: calc(100% - 80px); }
}
@media screen and (max-width: 360px){
  .popup__list a{font-size: 14px;}
  .feedform__recapcha{padding-left: 0; width: 100%;}
  .g-recaptcha>div{width: 100%!important;}
  .g-recaptcha iframe{width: 100%;}
  .fancybox-close-small{top: 10px; right: 10px;}
  .popup__wrap .btn span{padding: 9px;}

}