$red:#c30900;
$hoverred:#520000;
.btn { border-radius: 0; border: none; background: transparent; padding: 0; display: inline-block; text-decoration: none; white-space: nowrap;
  span {text-transform: uppercase; color: #fff; background-color: $red; transition: all 0.3s;  letter-spacing: 3.4px; padding: 9px 35px; display: block; position: relative; border: 2px solid $red; text-align: center; }
  &:hover{
    span{ color: #fff; border-color:$hoverred; background-color: $hoverred; }
    .catalog__cross:before, .catalog__cross:after{background-color: #fff;}
  }
  &.no-hover:hover{
    span{   border-color:$red; background-color: $red; }
  }
  &--lowercase {
    span { text-transform: none; letter-spacing: 0; padding: 9px 19px;}
  }
  &--disabled {pointer-events: none;
    span { color: rgba(0, 0, 0, 0.4); border-color: transparent; background-color: #f0f0f0;}
  }
  &--white {
    span {background-color: #fff; border: 2px solid $red; color: $red; }
    &:hover span{color: #fff; border-color: $red; background-color: $red;}
  }
  &--full {width: 100%;
    span {width: 100%;}
  }
  &--black{
    span{color: #525252; background-color: #fff;border-color: #d9d9d9; letter-spacing: 0; text-transform: none; border-width: 1px;}
    b{color: #000; transition: all 0.3s;}
    &:hover{
      span{background-color: $red; border-color: $red;}
      b{color: #fff;}
    }
    &.no-hover:hover{
      span{   border-color:#d9d9d9; background-color: #fff; color: #525252; }
      b{color: #000;}
    }
  }
  &--whitehover{
    &:hover span{background-color: #fff; border-color:#fff; color: #000;}
  }
  &--flex{
    span{display: flex; justify-content: center; align-items: center;}
  }

}
input[type=email],
input[type=number] ,
input[type=text],
input[type=password] { background-color: #ececec; height: 38px; border: 1px solid transparent; width: 100%; padding: 10px;}
textarea{background-color: #ececec; resize: none; border: 1px solid transparent; width: 100%; padding: 10px; min-height: 87px; }
.title {padding-top: 53px; line-height: 1.2;
  h1,
  h2 {font-family: 'ProximaNova', sans-serif; font-weight: 700; color: #000; font-size: 1.875rem; text-align: center; position: relative; letter-spacing: 0.6px; margin: 0 0 25px;
    &:after {position: absolute; display: block; content: ''; width: 40px; height: 2px; background-color: #c30900; top: 44px; left: 50%; transform: translateX(-50%);}
  }
  &--simple{padding-top: 32px;
    h1:after,
    h2:after{display: none;}
  }
}
.mainblog { padding-bottom: 40px;
  &__box {display: flex; margin: 0 -10px;}
  &__col {padding: 10px; width: 66.6666%; flex-grow: 1;
    &--small { display: flex; flex-direction: column; justify-content: space-between; width: 33.333%; }
  }
  &__block {position: relative; width: 100%;  height: 350px;
    &--small {height: 164px;
      .mainblog__header{font-weight: 400; text-transform: none; font-size: inherit; letter-spacing: 0.05px;   }
    }
    &:before {content: ''; display: block; position: absolute; width: 100%; height: 100%; background-color: #000; opacity: 0.2; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; transition: all 0.2s;}
    &:hover:before {opacity: 0.7;}
  }
  &__background {position: absolute; width: 100%; height: 100%;  top: 0; left: 0; bottom: 0; right: 0;
    img {width: 100%; height: 100%; object-fit: cover;}
  }
  &__header { padding:15px 30px 15px 15px;  text-transform: uppercase; color: #fff; font-size: 1.25rem; font-weight: 700; text-shadow: 0px 0px 66.12px rgba(0, 0, 0, 0.61); letter-spacing: 2.95px; line-height:   1.2; z-index: 10; text-decoration: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  &__low-block { position: absolute;bottom: 0; left: 0; padding: 15px 50px 15px 15px; z-index: 10; font-weight: 300; color: #fff;line-height: 19px; letter-spacing: 0.07px;   pointer-events: none;
    p{margin: 0;}
  }
  &__watch{display: inline-flex;justify-content: flex-end; align-items: center; position: absolute;bottom: 10px; right: 15px; color: #fff; font-weight: 700; font-size: 14px; z-index: 15;
    svg{width: 16px;height: 16px; fill:#fff; margin-left: 8px;}
  }
  &__subscribe {background-color: #fff; border: 1px solid #dbdbdb; width: 100%;}
  &__know {font-weight: 700; font-size: 1.125rem; text-align: center; text-transform: uppercase; display: block; line-height: 24px; letter-spacing: 1.8px;}
  &__form { padding: 23px 19px 20px; border-bottom: 1px solid #dbdbdb;
    form { color: #000;
      input {margin-top: 24px; margin-bottom: 10px; border: 1px solid transparent;
        &.valid {border-color: #007a1b;}
        &.novalid {border-color: #c71810;}
      }

    }
  }
  &__down {padding: 24px 15px 29px;}
  &__socials{display: flex; align-items: center; justify-content: center; margin-top: 12px;}
  &__soc {width: 25px; height: 25px; display: flex; margin: 4px; transition: all 0.2s;
    svg {fill: #999999; transition: all 0.2s;}

    &:hover { background-color: #fff;
      &.vk {
        svg {fill: #4c75a3;}
      }
      &.facebook {
        svg {fill: #4266b2;}
      }
      &.google {
        svg {fill: #da4835;}
      }
      &.youtube {
        svg {fill: #ff0000;}
      }
      &.linked {
        svg {fill: #1d75bb;}
      }
    }
  }
}
.mainbrands {
  &__slider { position: relative; margin-top: 42px; margin-bottom: -120px;  }
  &__box {padding: 0 11px;}
}
.mainbrands__slider .banner__arrow--prev { top: 50px; position: absolute; left: -20px; z-index: 100; transform: translateY(-50%);}
.mainbrands__slider .banner__arrow--next { top: 50px; position: absolute; right: -20px; z-index: 100; transform: translateY(-50%);}
.js-mainbrands-slider .slick-track{padding-bottom: 150px;}
.brand {position: relative; transition: all 1s;
  &__goods {border: 1px solid #d9d9d9; border-top: none; box-sizing: border-box; padding: 14px 48px 40px; background-color: #fff; position: absolute; top: 100%; left: 0; flex-direction: column; align-items: center; justify-content: center; width: 100%; transform-origin: 50% 0; transform: scaleY(0);  opacity: 0; transition: all 0.1s; z-index: 10;
    .btn span{padding: 9px 5px; text-align: center;}
  }
  &:hover {
    .brand__link {border: 1px solid #d9d9d9;}
    .brand__goods { display: flex; opacity: 1; transform: scaleY(1);}
  }
  &__link {display: flex; justify-content: center; height: 108px; align-items: center; position: relative; background-color: #fff;
    img{max-height: 100px;}
  }
  &__decimal {margin-left: 5px;}
  &__more {color: #000000; margin-bottom: 18px;}
  &__word{letter-spacing: 0.7px;}
}
.footer { background-color: #363636; color: #fff;
  .mainblog__subscribe {background-color: #363636; border-color: transparent;}
  .mainblog__form {border-color: transparent; padding: 23px 5px 20px;}
  .mainblog__soc{
    svg {fill: #fff;}
    &.instagram {background-color: #fff; padding: 4px;
      svg{fill:#363636;}
      &:hover{background-color: #da4835;
        svg {fill: #fff;}
      }
    }

  }
  .mainblog__socials {margin-top: 10px;}
  .mainblog__down { padding: 20px 15px 29px; }
  .mainblog__form form input {margin-top: 14px;}
  &__box { display: flex; padding-top: 16px; padding-bottom: 12px;}
  &__logo {  padding: 14px 0 7px;
    svg{fill: #fff;}
  }
  &__column {width: 25%; display: flex; flex-direction: column; align-items: center; padding-right: 25px;
    &--left {align-items: flex-start; padding-top: 59px; padding-left: 21px; padding-right: 0;}
  }
  &__link {font-size: 1.125rem; text-transform: uppercase; font-weight: 700; color: #fff; text-decoration: none; font-family:'ProximaNova',sans-serif; letter-spacing: 0.3px;     margin-bottom: 32px; display: block;
    &:hover {text-decoration: underline;}
  }
  &__list {list-style-type: none; padding: 0; margin-top: 1px;}
  &__item-box {margin-top: 3px; margin-bottom: 14px;}
  &__item {color: #fff; text-decoration: none;  font-weight: 300;
    &:hover {text-decoration: underline;}
  }
  &__call {width: 100%; margin-top: 36px;
    .btn span {padding: 9px 5px;}
  }
  &__tel { padding: 0; text-align: center; margin-bottom: 17px;
    svg {fill: #fff;}
    a {font-size: 1.5rem; color: #fff; font-family: 'ProximaNova',sans-serif; font-weight: 700; letter-spacing: 0px;}
  }
  &__stripe {background-color: #fff; color: #000; }
  &__below {min-height: 50px; display: flex;justify-content: space-between; align-items: center; padding: 5px 0;}
  &__copyright {letter-spacing: 1.32px;
    &--mobile {display: none;}
  }
  &__made-by {letter-spacing: 1.32px; display: flex; align-items: center;
    span {    margin-right: 3px;}
  }
  &__brand { text-decoration: none; display: flex; width: 104px; justify-content: space-between; margin-left: 15px;
    svg.leaf {width: 24px; height: 20px;}
    svg.avivi {width: 60px; height: 20px;}
  }
}
.mainsale {padding: 50px 0 50px;
  &__box { display: flex; justify-content: flex-start; margin: -10px;}
  &__col {display: flex; width: 50%; justify-content: space-between;  margin: 10px;
    &--small {display: flex; flex-direction: column; justify-content: space-between; margin: 10px; width: 280px;}
  }
  &__item {width: 100%; height: 465px; position: relative;
    &--small  { width: 100%; height: 222px;}
    img{border: 1px solid #d9d9d9;}
  }
  &__link {display: block; width: 100%; height: 100%;}
}
.product { transition: all 0.1s; width: 100%; background-color: #fff; border: 1px solid #d9d9d9; height: 465px; position: absolute;
  &__total-wrapper {
    height: 465px;
    width: 100%;
    position: relative;
  }
  .btn span{letter-spacing: 0;}
  a {text-decoration: none;}
  &__wrapper {height: 100%; border: 1px solid transparent; transition: all 0.1s; width: 100%;}
  &:hover {  z-index: 10; border-color: $red;  height: auto;
    .product__rating { transform: scaleY(1); opacity: 1;}
    .product__wrapper { height: auto; border:1px solid $red;}
    .product__plaha {display: flex;}
    .product__have {display: none;}
    .product__labels {left: -2px;}
  }
  &__description{display: none;}
  &__top {position: relative; height: 242px; border-bottom: 1px solid #d9d9d9; display: flex; align-items: center; justify-content: center; padding: 30px 0;}
  &__grey {position: absolute; bottom: 0; left: 0; width: 100%; display: flex; justify-content: space-between; align-items: center;  }
  &__plaha {height: 30px; width: 50%; background-color: #ededed;  align-items: center; justify-content: center; font-size: 0.8125rem; display: none;
    &:first-child {border-right: 1px solid #d9d9d9;}
    span {line-height: 13px; text-transform: uppercase;}
    &--right {color: #078316;
      svg {width: 15px; height: 14px; fill: #078316; margin-right: 12px;}
    }
  }
  &__labels {position: absolute; top: 9px; left: -2px;}
  &__label { text-transform: uppercase; background: linear-gradient(to right, rgba(0,159,5,1) 0%, rgba(0,115,2,1) 100%); letter-spacing: 1.1px; color: #fff; width: 94px; font-size: 0.8125rem; padding: 5px 5px; display: flex; align-items: center; justify-content: center; height: 25px; line-height: 14px; margin-top: 5px;
    &--orange { background: linear-gradient(to right, rgba(255,183,0,1) 0%, rgba(255,145,0,1) 100%);}
    &--blue { background: linear-gradient(to right, rgba(0,169,207,1) 0%, rgba(0,128,178,1) 100%);}
  }
  &__heart {position: absolute;top: 14px; right: 14px; cursor: pointer;
    svg {  fill: #fff;  width: 20px; height: 18px; stroke: #000;}
    &:hover svg {fill: #d9d9d9;}
    &.active svg{fill: #c40900; stroke: #c40900;}
  }
  &__have {position: absolute; right: 14px; bottom: 13px;
    svg { width: 18px; height:17px; fill: #078316;}
    &--nohave{ color: $red;
      svg{fill:$red;}
    }
  }
  &__prod-img {object-fit: contain; width: 100%;height: 100%;}
  &__describe {text-align: center; display: flex; flex-direction: column; align-items: center; padding: 24px 12px 5px; justify-content: space-between;
    input {background-color: #fff; text-align: center; }
  }
  &__header {font-size: 1.125rem; color: #000000; font-weight: 700; text-align: center; line-height: 23px; margin-bottom: 5px; height: 68px;
    &:hover {text-decoration: underline;}
  }
  &__old-price {font-weight: 300; position: relative; opacity: 0.75; margin-bottom: 4px; height: 16px; color: #000; display: inline-block;
    &:after {width: 110%; height: 1px; left: -4px; display: block; content: '';  background-color: #000; opacity: 0.75; position: absolute;  top: 40%;    transform: rotateZ(170deg) translateY(-50%);}
  }
  &__price { font-weight: 700; font-size: 1.5rem; margin-bottom: 10px; height:24px;}
  &__counter {    width: 100%;   position: relative;
    input{text-align: center; border-color: #d9d9d9;}
  }
  &__btn {border: 0; background-color: transparent; padding: 0; transition: all 0.2s; display: block; width: 26px; height: 100%;  position: absolute; top: 0; opacity: 0.5;
      &:first-child{left: 0;}
      &:last-child{right: 0;}

    &:hover {opacity: 1;}
  }
  &__minus {
    &:after {content: ''; display: block; position: absolute; width: 12px; height: 2px; background-color: #000; top: 49%; transform: translate(-50%); left: 50%;}
  }
  &__plus {
    &:before {content: ''; display: block; position: absolute; width: 12px; height: 2px; background-color: #000;top: calc(50% - 1px);left: 50%; transform: translateX(-50%);}
    &:after {content: ''; display: block; position: absolute; width: 12px; height: 2px; background-color: #000;top: calc(50% - 1px); left: 50%; transform: translateX(-50%) rotateZ(90deg);}
  }
  &__options {display: flex;  margin-top: 0px; padding: 0 0; justify-content: center; width: 100%; flex-wrap: wrap;
    .btn { width: 100%;
      span {padding: 9px 15px; }
      svg{display: none;}
    }
  }
  &__opt-wrap{display: flex;justify-content: center; width: 100%; }
  &__opt {width: 50%; padding: 0 7px;}
  &__comparison {color: #006091; display: flex; font-size: 0.8125rem; justify-content: center; align-items: center; text-decoration: underline; padding-bottom: 4px;
    &:hover {text-decoration: none;}
    svg {fill: #006091; width: 24px; height: 21px;}
    .add-acitve-on-href{display: none;}
    &.active{
      span{display: none;}
      .add-acitve-on-href{display: block;}
    }
  }
  &__rating {width: 100%; background-color: #fff;  transform: scaleY(0); transform-origin: 50% 0; transition: all 0.1s; opacity: 0; margin-top: 4px;}
  &__rate { position: relative; width: 95px; text-align: left; flex-shrink: 0;
    svg { display: block; width: 100%; height: 17.58px; }
    &.no-hover:hover .product__stars-behind{opacity: 1;}
    &:hover .product__stars-behind{opacity: 0;}
    &--noaction{
      &:hover .product__stars-behind{opacity: 1;}
    }
    &.feedform__rate{width: 128px; flex-shrink: 0;
       svg{height: 23.7px;}
      .product__linked{height: 20px;}
    }
  }
  &__stars { padding: 8px 12px 10px 12px; display: flex; justify-content: space-between; align-items: center;border-top: 1px solid #d9d9d9;}
  &__stars-box {position: relative; z-index: 100; pointer-events: none;}
  &__stars-behind {position: absolute; width: 0%; background-color: #ff9c00; height: 96%; top: 1px; left: 1px; z-index: 10;}
  &__quote {
    svg {width: 15px; height: 15px; margin-right: 6px;}
  }
  &__linked {display: flex; position: absolute; left: 0; top: 3px; width: 100%; height: 14px; z-index: 50; flex-direction: row-reverse;
    label{ position: relative; display: block; width: 20%; height: 100%;  cursor: pointer;
      &:hover { background-color: #ff9c00;
        & ~ label { background-color: #ff9c00;}
      }
    }
    input[type=radio]{ position: absolute; left: 0; top: 0; opacity: 0;}
    input[type=radio]:checked + label{ background-color: #ff9c00;}
    input[type=radio]:checked ~ label{ background-color: #ff9c00;}

  }
  &__some {display: block; width: 20%;
    &:hover { background-color: #ff9c00;
      & ~ a { background-color: #ff9c00;}
    }
  }
  &__bonus {
    svg {width: 15px; height: 15px; margin-right: 5px;}
  }
  &__people {text-decoration: none; color: #363636; display: flex; align-items: center; justify-content: center;
    &--mob{display: none;}
  }
  &__ratiomob{display: none;}
  &__href{ width: 100%; height: 100%; display: block; cursor: pointer;}
}
.mainseo { position: relative; transition: all 0.5s;
  &__box { height: 165px;   margin-bottom: 50px; overflow: hidden; position: relative;
    p{margin: 0;}
    &:after {position: absolute; content: ''; width: 100%; height: 100%; display: block; top: 0; left: 0; background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); transition: all 0.3s;}
    &.active {
      &:after {opacity: 0; }
    }
  }
  &__text{position: absolute; left: 0;top: 0; width: 100%;letter-spacing: -0.1px; line-height: 19px; transition: all 0.3s; column-count: 2; column-gap: 40px; padding: 75px 0 0;}
  &__arrow {position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%) rotateZ(-90deg); z-index: 1;  transition: all 0.2s;
    &.active {transform: rotateZ(90deg) translateY(50%);}
  }
}
.maintabs {padding-bottom: 8px; padding-top: 50px;
  &--common{padding-bottom: 50px;}
  &__link{  width: 100%;   position: relative; margin: 0 auto;
    &>span{width: 100%; height: 50px; padding: 16px; transition: none;}
    &.active{
      .maintabs__decor{display: none; }
      span{border: 1px solid #d9d9d9; background-color: #fff; color: #000; position: relative;
        &:before{width: 100%; height: 2px; background-color: #fff; content:''; display: block; position: absolute;bottom: -2px; left: 0;}
      }
    }
  }
  &__link-wrap-pr{padding-left: 20px;}
  &__tabs{  width: 100%; margin-bottom: -1px; overflow: initial; z-index: 20; position: relative;
    &--common{display: flex;
      .maintabs__link{padding-left: 20px;
        &:first-child{padding-left: 0;}
      }
    }
  }
  &__decor{ overflow: hidden;position: absolute; height: 100%; width: 263px; right: 0; top: 0; z-index: 0; opacity: 0.25; pointer-events: none;
    svg{width: 317px; height: 217px; position: absolute; left: 61px;  top: -12px;z-index: -1;}
  }
  &__fixer{overflow-x: hidden; height: 544px;}
  &__container{background-color: #fff; border: 1px solid #d9d9d9; padding: 17px 15px; }
  &__box{display: none;
    &.active{display: block;
      .maintabs__acord-btn .btn{
        span {  background-color: #fff; border-color: #fff;  color: #000; }
      }
    }
  }
  &__slider{margin-bottom: 0;
    .banner__arrow--prev { top: 50%; position: absolute; left: -13px; z-index: 100; transform: translateY(-50%);}
    .banner__arrow--next { top: 50%; position: absolute; right: -13px; z-index: 100; transform: translateY(-50%);}
  }
  &__slide{  padding:0 10px 20px;}
  &__acord-btn{display: none; border: 1px solid #d9d9d9; border-bottom: 0; }
}
.mainwatched{
  &__slider{margin-bottom: 0;
    .banner__arrow--prev { top: calc(50% - 17px); position: absolute; left: -15px; z-index: 100; transform: translateY(-50%);}
    .banner__arrow--next {top: calc(50% - 18px); position: absolute; right: -15px; z-index: 100; transform: translateY(-50%);}
    .slick-track{padding-bottom: 58px;}
  }
  &__container{padding-top: 40px;}
  &__slide{padding: 0 10px;}
}
.mobilemenu { display: none; background-color: #fff; z-index: 2; position: relative;
  &.active {z-index: 125;}
  &__search-field {display: none; position: absolute; top: 51px; left: 0; z-index: 1; width: 100%; background-color: #fff; padding: 6px 15px;
      button {right: 25px; top: 50%; transform: translateY(-50%);}
  }
  &__item {width: 20%; display: flex; justify-content: center; align-items: center;}
  &__wrap { display: flex; align-items: center;  height: 50px; justify-content: space-between;}
  &__navigation { justify-content: flex-start;
    .butter { width: 23px; height: 18px; position: relative; top: auto; transform: none; right: auto;
      span {background-color: #231f20; width: 23px; transition: all 0.2s;}
      span:nth-child(2) {top: 8px; transition: all 0.2s;}
      span:nth-child(3) {top: 16px; transition: all 0.2s;}
      &.active {
        span:nth-child(1) {top: 8px; transform: rotateZ(225deg);}
        span:nth-child(2) {transform: rotateZ(135deg);}
        span:nth-child(3) {top: 8px; transform: rotateZ(-225deg);}
      }
    }
  }
  &__call-box {justify-content: flex-start;}
  &__call {
    svg {width: 18px; height: 18px; fill: #231f20;}
  }
  &__logo { display: block;
    svg {width: 48px; height: 33px;}
  }
  &__search-box {justify-content: flex-end;}
  &__search {
    svg {width: 20px; height: 20px;}
  }
  &__cart-box {justify-content: flex-end;}
  &__cart {width: 45px; height: 45px; display: block;
    svg {width: 45px; height: 45px;}
    .header__counter {top: 8px; left: 21px;}
    &.header__icon {margin-right: -5px;}
  }
  &__mobile-nav { position: absolute; top: 50px; left: 0; width: 100%; display: none;  box-shadow: 0px 10px 10px rgba(0,0,0,0.5); height: calc(100vh - 50px);
    .navigation { box-shadow: 0px 10px 10px rgba(0,0,0,0.5); background-color: #fff; height: 100%; min-height: 540px;  overflow-y: auto;
      .mbox {height: 100%;}
      &__stack {flex-grow: 1;display: flex; flex-direction: column; border-top: 1px solid #d9d9d9; margin: 0 -15px; padding: 10px 0px;
        a{margin: 5px 0;
          span{padding-right: 5px; padding-left: 5px;}
        }
        &:last-child { padding-left:15px; padding-right: 15px;}
      }
      &__wrap {flex-direction: column; height: 100%;}
      &__nav {width: 100%; flex-direction: column; height:100%;}
      &__link {text-align: left; flex-grow: 1; display: flex; align-items: center;
        a {height: 40px; display: flex; align-items: center; justify-content: flex-start; width: 100%; padding: 0 15px;
          svg{width: 21px; height: 21px; fill: #000;}
          span {line-height: 30px; margin-left: 10px; text-transform: none; color: #000;
            &:hover:before {display: none;}
          }
          &:hover {background-color: #d9d9d9;}
        }
      }
      &__city { width:100%;}
      &__city-btn {display: flex; align-items:center; height: 40px;}
    }
  }
}
.tocart{text-align: center;
  .btn{margin-bottom: 15px;}
}
//  UI - KIT (start)
  .ui {
    &__buttons {padding: 20px 0;}
    &__block {padding: 10px 0; border: 1px solid #000; border-left: 0; border-right: 0;}
    &__flex {display: flex;}
    &__col {width: 50%; }
  }
  q {position: relative; font-size: 1.625rem; text-align: center; padding: 10px 45px;  width: 100%; max-width: 820px; display: block; font-family: 'ProximaNova',sans-serif; margin: 60px auto; line-height: 1.2; font-weight: 400;
    &:before {content: ''; display: block; position: absolute; background-image: url(../images/q-start.png); width: 80px; height: 61px; top: 0; left: 0;  opacity: 0.1;}
    &:after {content: ''; display: block; position: absolute; background-image: url(../images/q-end.png);  width: 80px; height: 61px; bottom: 0; right: 0; opacity: 0.1; }
  }
  label.styled {display: flex; align-items: center; justify-content: flex-start; margin-bottom: 15px;  font-size: 0.875rem; line-height: 1.2; font-weight: 400; cursor: pointer; position: relative;
    p{text-align: left;}
  }
  input[type="radio"] {position: absolute;opacity: 0; left: 0;
    & + i {width: 16px; height: 16px; background-color: transparent; border: 2px solid #b2b2b2; display: block; margin-right: 10px; flex-shrink: 0;}
    &:checked {
      & + i {background-color: #c40900; border-color: #c40900; }
    }
  }
  input[type="checkbox"] {position: absolute;opacity: 0; left: 0;
    & + i {width: 16px; height: 16px; background-color: #ececec; display: block; margin-right: 10px; font-size: 0.875rem; flex-shrink: 0;}
    &:checked {
      & + i {background-color: #c40900;  position: relative;
        &:after {content: ''; display: block; position: absolute; width: 10px; height: 6px; border: 2px solid #fff; top: 3px; left: 3px; border-top: 0; border-right: 0; transform: rotateZ(-45deg); }
      }
    }
  }
  input { border: 1px solid transparent;
    &.valid {border-color: #007a1b;}
    &.error {border-color: #c71810;}
  }
  .slider-navigator { margin: auto 0;
    &__col {width: 104px; margin:auto 6px auto 0;}
    &__slide-wrap { cursor: pointer; margin: 5px 0;  width: 100px;  height: 100px; display: flex;justify-content: center;  align-items: center;  border: 1px solid #d9d9d9;
      & div {border: 1px solid transparent; width: 100%; height: 100%; padding: 10px;
        & img {width: 100%; height: 100%; object-fit: contain; }
      }
      &:hover {
        border: 1px solid #b50005;
        & div {border-color: #b50005;

        }
      }
      &--employee {height: 82px; width: 142px;}
    }
    .slick-current {
      .slider-navigator__slide-wrap {    border: 1px solid #b50005;
        div {    border: 1px solid #b50005;}
      }
    }
    .banner__arrow--next {top: -4px; left: 50%; transform: rotateZ(90deg) translateY(50%);}
    .banner__arrow--prev {top: 0px; left: 50%; transform: rotateZ(90deg) translateY(50%);}
  }
  .slider-rule { margin: auto 0;
    &__col { margin: auto 0;width: 360px; position: relative;  border: 1px solid #d9d9d9;
      .product__labels{left: 0; z-index: 90;}
    }
    &__slide {}
    &__slide-wrap {width: 360px; height: 360px; position: relative;
      a {display: block; width: 100%; height: 100%; padding: 30px 20px;
        img {width: 100%; height: 100%; object-fit: contain;}
      }
    }
  }
  .employee {margin: auto 0;
    &__col {width: calc(100% - 145px); padding-right: 20px; margin: auto 0;
      &--small {margin: auto 0; width: 155px; padding: 0;}
    }
    &__slide-wrap {
      a { width: 100%; height: 100%; display: block;
        img {width: 100%; height: 100%; object-fit: cover;}
      }
    }
    &__slide {   height: 550px;}
    &__galery-wrap {height: 82px; width: 100%; margin: 0 auto; cursor: pointer; position: relative;
      div {width: 100%; height: 100%;  border: 2px solid transparent; position: absolute; top: 0; left: 0;
        img {width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
      }

    }
    &__galery {width: 145px; margin: auto 0;
      .slick-list {padding: 100px 0 0 0 !important;}
      .banner__arrow--next {top: 5px; left: 50%; transform: rotateZ(90deg) translateY(50%);}
      .banner__arrow--prev {top: -5px; left: 50%; transform: rotateZ(90deg) translateY(50%);}
      .slick-current {
        .employee__galery-wrap {
          div {    border: 2px solid #b50005;}
        }
      }
    }
    &__galery-slide {margin: 10px 0 9px 0;}
  }
  .table { width: 100%; border: 1px solid #d9d9d9;
    &--lk{margin-bottom: 20px; text-align: left;}
    &__tr {width: 100%; height: 48px;
      &:nth-child(2n - 1){background-color: #f7f7f7;}
    }
    &__td {width: 50%; padding: 10px 18px;
      &:first-child{border-right: 1px solid #d9d9d9;  font-weight: 700; text-transform: uppercase;}
      &:last-child{border-right: 1px solid #d9d9d9; text-align: center;}
    }
  }
  .paginator { margin: 30px 0;
    &__wrap { display: flex; align-items: center; justify-content: center; padding: 0 30px;}
    &__link {
      a {text-decoration: none; color: #000; padding: 16px 15px 15px; background-color: #ececec; display: block; margin: 5px; min-width: 45px; cursor: pointer; text-align: center;
        &:hover {background-color: $red; color: #fff;}
        &.active {background-color: #c40900; color: #fff; }
      }
    }
    .banner__arrow--prev {margin-right: 15px; flex-shrink: 0; margin-left: 5px;}
    .banner__arrow--next {margin-left: 15px; flex-shrink: 0; margin-right: 5px;}
  }
  .link {color: $red; display: inline-block; font-weight: 600; font-style: italic; transition: all 0.2s; text-decoration: underline;
    &:hover {text-decoration: none;}
  }
  .breadcrumbs {
    &__list {list-style-type: none; padding: 0; margin: 39px 0 0;}
    &__item {margin-right: 6px; color: #c40900;font-size: 0.875rem; font-weight: 300; display: inline-block;
      a { position: relative; color: #c40900;
        &:hover {text-decoration: none;}
      }
      span{color: #000000; text-decoration: none;}
      &:last-child {
          &:after {display:none;}
      }
      &:after { content: '→'; margin-left: 6px; text-decoration: none;}
    }
  }
  .num-list { font-size: 1.125rem; font-weight: 700; font-family: 'ProximaNova', sans-serif;
    li {    padding: 5px 0 5px 16px; position: relative;
      span {font-weight: 300; }
    }
    ul { padding-top: 6px; list-style-type: none; padding-left: 17px;
      li {
        &:before {width: 5px; height: 5px; background-color: #c40900; border-radius: 50%; content: ''; position: absolute; left: -2px; top: 50%; transform: translateY(-50%);}
      }
      &.not {
        li {
          &:before {width: 5px; height: 2px; background-color: #000; content: ''; position: absolute; left: -2px; top: 50%; transform: translateY(-50%);}
        }
      }
    }
  }
  .scroll {
    &__box {width: 100%; height: 220px; overflow-y: scroll;
      .jspDrag {background-color: #c40900;}
      .jspTrack {padding: 0px 2px ; background-color: #fff; border: 1px solid #d9d9d9; border-right: none; height: 100% !important;}
      .jspVerticalBar {width: 15px; height: 100%;}
    }
  }
//  UI - KIT (end)
.fancybox-close-small:focus:after{outline: none;}
.popup-window.popup-window-with-titlebar{padding: 26px;
  input{
    &::-webkit-input-placeholder {color:rgba(0,0,0,0.8);}
    &:-moz-placeholder {color:rgba(0,0,0,0.8);opacity:1;}
    &::-moz-placeholder {color:rgba(0,0,0,0.8);opacity:1;}
    &:-ms-input-placeholder {color:rgba(0,0,0,0.8);}
  }
}
.popup-window-with-titlebar .popup-window-content{padding: 0;}
.popup-window-close-icon{width: 20px;height: 20px;border: none;background: transparent;display: block;top: 25px;right: 25px; position: absolute;padding: 0; margin: 0; border-radius: 0;z-index: 10; cursor: pointer;
  &:before,
  &:after{content: ''; width: 20px;height: 2px; background-color: $red; display: block; position: absolute; left: 0; top: 8px; transition: transform 400ms; font-size: initial; border-radius:0;}
  &:before{transform:rotate(45deg);}
  &:after{transform:rotate(-45deg);}
  &:hover{
    &:before{transform:rotate(405deg);background-color: $red;}
    &:after{transform:rotate(315deg);background-color: $red;}
  }
}


@media print {

 .print-styles{
   &.hide-print>*:not(iframe){display: none;}
   .scelet{flex-direction: column-reverse;
     &__left{width: 100%;}
     &__right{width: 100%;}
   }
   .cart__table-tr{ page-break-inside:  avoid;}
   button{display: none;}
   .product__heart{display: none;}
   .btn{display: none;}
   .cabmenu{display: none;}
   .batman__td:last-child{display: none;}
   .batman__th:last-child{display: none;}
   .batman__tags{display: none;}
   .cart__table{padding-bottom: 0;}
   .breadcrumbs{display: none;}
   .catalognav{display: none;}
   .searchfield{display: none;}
   header{display: none;}
   .topbanner{display: none;}
   .cart__title-r{display: none;}
   .promo{display: none;}
   .order__info-box{display: none;}
   .cart__infos{display: none;}
   .mainwatched{display: none;}
   .footer{display: none;}
   .batman__btns{display: none;}
   .order__items{max-height: none;}
 }

}
