.hidden-block{position:absolute;left:-99999em;top:-99999em;}
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;font-size: 16px;}
body{min-height:100%;width:100%;min-width:320px;font-family:'ProximaNovaCondensed',sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1; font-weight: 300; }
img{vertical-align:bottom;border:0;max-width:100%;}

.mbox{max-width:1170px;width:100%;margin:0 auto; padding: 0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}
input, textarea{
    &::-webkit-input-placeholder {color:rgba(0,0,0,0.8);}
    &:-moz-placeholder {color:rgba(0,0,0,0.8);opacity:1;}
    &::-moz-placeholder {color:rgba(0,0,0,0.8);opacity:1;}
    &:-ms-input-placeholder {color:rgba(0,0,0,0.8);}
}
/*End Layout*/
/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('ProximaNova', 'ProximaNovaLight', 300);
@include font-face('ProximaNova', 'ProximaNovaRegular', 400);
@include font-face('ProximaNova', 'ProximaNovaBold', 700);
@include font-face('ProximaNovaCondensed', 'ProximaNovaCondensedSemibold', 600);
@include font-face('ProximaNovaCondensed', 'ProximaNovaCondensedBold', 700);
@include font-face('ProximaNovaCondensed', 'ProximaNovaCondensedRegular', 400);
@include font-face('ProximaNovaCondensed', 'ProximaNovaCondensedLight', 300);
/*/fonts*/
.global-wrapper{display: flex;
    min-height: 100vh;
    flex-direction: column;}
.main{flex: 1;}
.svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;
    div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
    svg{width: 100%;}
}
$red:#c30900;
$hoverred:#520000;
p {
    &::selection { background-color: $red; color: #fff;}
}
a {
    &::selection {background-color: $red; color: #fff;}
}
span {
    &::selection {background-color: $red; color: #fff;}
}
body{opacity: 1;}
.filter-show{position: absolute;  text-decoration: underline; z-index: 9999;
    &:before{content: ''; width: 8px; height: 8px; background-color: $red; transform:rotate(45deg) translateX(-50%) translateY(-50%); position: absolute; top: 50%; left: -4px;}
    button{ box-shadow: none; border: 0; background-color: $red; color: #fff; padding: 9px 19px; text-decoration: underline;position: relative; z-index: 1;}
}
.answer-form{position: absolute; left: 50%; transform:translateX(-50%); width: 100%; max-width: 800px; box-shadow: 0px 1px 5px #000; z-index: 9999;
    .topbanner__cross{ margin-left: 0; position: absolute;top: 10px;right: 10px;
        &:before,
        &:after{background-color: #000;}
    }
}
.active{
    .banner__arrow--down:before{transform:rotate(-45deg); border-color: #fff;}
}
.actions{margin-top: 54px;
    &__row{display: flex; justify-content: flex-start;border-style:solid; border-color: #d9d9d9; border-width: 1px; margin-bottom: 19px; text-decoration: none;
        &:hover{
            .actions__col h2{text-decoration: underline;}
        }
    }
    &__col{flex-grow: 1; padding:22px 20px 0; overflow: hidden; position: relative;
        &:first-child:not(.actions__col--img){border-right: 1px solid #d9d9d9;}
        &:last-child:not(.actions__col--img){border-left: 1px solid #d9d9d9;}
        &--img{flex-grow: 0; flex-shrink: 0; padding: 0;
            img{max-width: 560px;}
        }
        h2{text-transform: uppercase; margin: 0; color: $red; font-size: 1.125rem; }
        p{max-width: 300px; line-height: 1.2; margin:13px 0 4px; color: #000; }
    }
    &__decor{position: absolute; top: -65px; right: -432px; z-index: -1;
        svg{width: 953px; height: 588px; fill:#f0f0f0;}
    }
    &__mob{display: none;}
}
.action-inner{  text-align: center;
    &__img{margin-top: 40px;}
    &__text{font-family: "ProximaNova",sans-serif; max-width: 810px; width: 100%; margin: 0 auto; padding: 60px 0;
        p{font-weight: 300; font-size: 18px; line-height: 1.2; text-align: left;}
    }
    &__tags{display: flex; justify-content: space-between; align-items: center;}
    &__additional{margin-bottom: 70px;}
    &__watched{font-size: 14px; display: flex; justify-content: space-between; align-items: center; padding: 8px 0;}
    &__watch{ display: flex;justify-content: center;align-items: center;
        svg{width: 16px;height: 16px; margin-left: 8px;}
    }
}
.adress{padding-top: 20px; padding-bottom: 30px;
    &__item{color: #696969; border: 1px solid #d9d9d9; width: 100%; position: relative; line-height: 1.2; margin-bottom: 10px;}
    &__top{font-size: 20px; text-transform: uppercase; background-color: #fafafa; border-bottom: 1px solid #d9d9d9; color: #000; width: 100%;padding: 15px 57px 13px 21px;}
    &__bot{display: flex;}
    &__type{border-right: 1px solid #d9d9d9;width: 313px; display: flex; align-items: stretch;}
    &__main{padding-right: 24px;}
    &__txt{padding: 18px 23px 16px; width: 100%; max-width: 400px;
        b{text-transform: uppercase; color: #000;}
        p{margin: 0;}
    }
    &__icons{position: absolute;right: 0;top: 0; height: 100%; display: flex;flex-direction: column; justify-content: space-around; padding: 5px 0; }
    &__button{padding: 0; border: 0; width: 57px; height: 57px; cursor: pointer; display: flex; justify-content: center; align-items: center; background-color: transparent;
        svg{fill:#a4a4a4;}
        .active,
        &:hover{
            svg{fill:$red;}
        }
        &--star svg{width: 15px;height: 14px;}
        &--edit svg{width: 16px;height: 16px;}
        &--del svg{width: 15px;height: 16px;}
    }
    &__img{display: flex; justify-content: center;align-items: center; padding-right: 30px; flex-shrink: 0;}
}
.banner{padding-left: 263px;
    &__slider{margin-bottom: 0;border: 1px solid #d9d9d9; border-bottom: 0; border-left: 0;
        &:not(.slick-initialized){overflow: hidden; height: 427px; opacity: 0; }
        .banner__mobimg{display: none;}
    }
    &__slide{height: 427px;}
    &__nav{border: 1px solid #d9d9d9; width: 100%; display: flex; justify-content: space-between;align-items: center; height: 60px; padding: 0 13px 0 30px; background-color: #fff; border-left: 0;}
    &__dots{display: flex; justify-content: flex-start;}
    &__arrows{display: flex; justify-content: space-between;width: 51px; flex-shrink: 0;}
    &__arrow{ cursor: pointer; display: block; position: relative; width: 20px; height: 20px;
        &:before{content: '';width: 9px;height: 9px; border-right: 2px solid #bababa; border-top: 2px solid #bababa; display: block; position: absolute; top: 6px; }
        &:hover:before{border-color: $red;}
        &.red{height: 50px;background-color: $red; width: 50px; top: 0; position: absolute;
            &:before{border-color: #fff; top: 21px; left: 20px;}
        }
    }

    &__arrow--prev.red{left: 0;}
    &__arrow--next.red{right: 0;}
    &__arrow--prev:before{transform:rotate(-135deg); left: 8px;}
    &__arrow--next:before{transform:rotate(45deg); left: 4px;}
    &__arrow--down:before{transform:rotate(135deg); left: 2px;}
    .slick-dots{z-index: -1; opacity: 0; display: none; visibility: hidden;}
}
.batman{padding-bottom: 50px;
    &__tags{display: flex; padding-bottom: 11px;}
    &__tag{flex-grow: 1; height: 40px; line-height: 36px; padding: 0 10px; margin-right: 10px;   text-transform: uppercase; border:2px solid #f0f0f0; color: #adadad; text-align: center; background-color: #f0f0f0; cursor: pointer;
        &:last-child{margin-right: 0;}
        &.active{background-color: #fff;}
        &--obr:hover{color: #e69800; }
        &--opl:hover{color: #002ac4; }
        &--wait:hover{color: #c400b8; }
        &--done:hover{color: #0f8000; }
        &--cancel:hover{color: #c40900; }
        &--all:hover{color: #000; }
        &--obr.active{border-color: #e69800; color: #e69800;}
        &--opl.active{border-color: #002ac4; color: #002ac4;}
        &--wait.active{border-color: #c400b8; color: #c400b8;}
        &--done.active{border-color: #0f8000; color: #0f8000;}
        &--cancel.active{border-color: #c40900; color: #c40900;}
        &--all.active{border-color: #000; color: #000;}
    }
    &__status{font-size: 14px;
        &:before{content:''; display: inline-block;width: 8px;height: 8px; margin-right: 8px; margin-bottom: 1px;}
        &--obr:before{background-color: #e69800; }
        &--opl:before{background-color: #002ac4; }
        &--wait:before{background-color: #c400b8; }
        &--done:before{background-color: #0f8000; }
        &--cancel:before{background-color: #c40900; }
    }
    &__top{display: flex; justify-content: space-between;align-items: stretch; margin-bottom: 20px;}
    &__nav{background-color: #f0f0f0; display: flex; justify-content: space-between; align-items: center; margin-right: 14px;flex-grow: 1; padding: 0 20px;}
    &__nav-l{display: flex;justify-content: flex-start; align-items: center;
        p{margin: 0;}
        .batman__tag{border-color: #f0f0f0; cursor: default;margin-left: 8px; padding: 0 30px; height: 38px; line-height: 34px;}
    }
    &__btns{
        button{width: 30px; height: 30px;padding: 5px; border:0; box-shadow: none; background-color: transparent; font-size: 14px;
            svg{width: 100%;height: 100%;}
            span{color: #aaaaaa;}
            &:hover{
                span{color: $red; text-decoration: underline;}
                svg{fill:$red; }
            }
        }
        &--nav{flex-grow: 1; display: flex;justify-content: space-between; align-items: center; padding-left: 20px;
            button{width: auto; display: inline-flex; justify-content: flex-start; align-items: center;
                svg{width: 18px;height: 18px; fill:#aaaaaa; margin-right: 8px; }
            }
        }
    }
    &__nowrap{width: 100%; font-size: 12px;
        p{width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin: 0;}
    }
    &__banner-text{display: flex; justify-content: flex-start;align-items: flex-start; flex-wrap: wrap;  border-left:1px solid #d9d9d9; padding-bottom: 15px;}
    &__cell{padding: 15px 15px 0; width: 33%; flex-grow: 1; line-height: 1.2;
        &:last-child{width: 100%;}
        b{text-transform: uppercase;}
        p{margin: 0;}
    }

    &__table{display: table; width: 100%;}
    &__tr{display: table-row;
        &:nth-child(odd){background-color: #f7f7f7;}
    }
    &__td{display: table-cell; vertical-align: middle; padding: 10px 20px;
        &>*{display: inline-block;}
        a{color: $red;}
        &:nth-child(4){max-width: 210px;}
        em{color: $red; font-style: normal;}
        b{white-space: nowrap;
            &.batman__mobtitle{display: none;}
        }
    }
    &__th{display: table-cell;vert-align: middle; background-color: #ededed;padding: 10px 20px;}
}
.bg{width: 100%;
    &--gray{background-color: #f5f5f5;}
    &--white{background-color: #fff;}
}
.brands{ margin-top: 55px;
    &__top{display: flex;justify-content: center; padding-bottom: 30px; width: 100%;  margin: 0 auto; flex-wrap: wrap;}
    &__best{width: 250px; flex-grow: 1; height: 190px; position: relative; line-height: 1.2; overflow: hidden; cursor: pointer; margin-bottom: 10px; margin-right: 10px;
        &:hover{
            .brands__best-text{transform:translateX(-100%);}
            .brands__best-hover{transform:translateX(0);}
        }
    }
    &__best-bg{position: absolute; height: 100%; width: 100%; z-index: 0;
        &:before{content: '';position: absolute; height: 100%; width: 100%; display: block; background-color: #000; opacity: 0.4;}
        img{height: 100%; width: 100%; object-fit: cover;}
    }
    &__best-logo{position: absolute; right: 0;top: 0;padding:10px 20px;}
    &__best-text{position: absolute; width: 100%; bottom: 0;left: 0; color: #fff; padding: 0 20px 20px; transition:transform 200ms;}
    &__best-hover{position: absolute; width: 100%; bottom: 0;left: 0; color: #fff; display: flex;justify-content: space-between;align-items: center;padding: 0 20px 20px; transform:translateX(100%); transition:transform 200ms;
        p{margin: 0;}
    }
    &__bott{display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; padding-top: 65px;  width: 100%;  margin: 0 auto -68px;}
    &__item{width: 25%; margin-bottom: 68px;}
}
.butter{width: 14px; height: 12px; position: relative; display: block; cursor: pointer; position: relative; z-index: 10;
    span{width: 100%; height: 2px; background-color: #fff; position: absolute; left: 0;top: 0;
        &:nth-child(2){top: 5px;}
        &:nth-child(3){top: 10px;}
    }
}
.blog{padding-left: 20px;
    &__mob{display: none;}
}
.cabmenu{padding-right: 15px; padding-top: 40px; padding-bottom: 20px;
    &__banner{border:1px solid #d9d9d9; display: flex; justify-content: space-between;align-items: center; height: 80px; margin-bottom: 10px; padding: 5px 25px;
        p{margin: 0;}
        b{font-size: 22px;
            em{color: $red; font-style: normal;}
        }
        svg{width: 34px; height: 34px; margin-right: 16px;}
        &.batman__banner{ height: auto; padding: 0;
            svg{width: 50px;height: 50px;}
            b{font-size: 16px;}
            .cabmenu__banner-l{padding:0 50px;
                b{font-size: 30px; white-space: nowrap;}
            }
        }
    }
    &__banner-l{display: flex;justify-content: flex-start;align-items: center;}
    &__title{text-transform: uppercase; padding: 28px 20px 25px; position: relative; pointer-events: none;}
    &__list{ padding: 0 0 0 20px;margin: 0; list-style-type: none;
        a{color: #363636; text-decoration: none; line-height: 1.2; letter-spacing: 0.3px;
            em{color: $red; font-style: normal; font-weight: 700; margin-left: 10px;}
            &:hover{
                span,
                em{text-decoration: underline;}
            }
        }
        li{margin-bottom: 7px;}
    }
    &__sorter{display: flex; justify-content: space-between; align-items: stretch;
        .catalog__sorter{margin-top: 0;}
        .btn{ margin-left: 15px;
            span{height: 40px;}
        }
    }
    &__tag{
        &.catalog__tag{color: $red;margin: 0; flex-shrink: 0; margin-left: 15px;}
        .catalog__cross:before, .catalog__cross:after{background-color: $red;}
    }
    &__butter{ display: none;
        span{background-color: #000;}
    }

}
.custom-paging__button{width: 55px; height: 5px; display: block; background-color: #999999; margin-right: 10px; position: relative; overflow: hidden; cursor: pointer;
    &:before{position: absolute; left: 0; top: 0; right: 0;bottom: 0; width: 100%; height: 100%; content: ''; display: block; background-color: $red; transform:translateX(-100%);  }
    &.active{
        &:before{transform:translateX(0);transition:transform 3s;}
    }
}
.card{display: flex; padding-bottom: 31px; padding-top: 28px;
    &__slider{display: flex; flex-shrink: 0;}
    &__description{padding-left: 16px;width: calc(100% - 470px);}
    &__title{
        h2{font-weight: 700; font-size: 30px;line-height: 1.2; margin: 0;}
        &--mob{display: none;}
    }
    &__rank{display: flex; justify-content: flex-start;align-items: center;
        &>span{margin: 0 19px;}
    }
    &__rankinfo{display: flex;justify-content: space-between;align-items: center; padding-top: 12px; padding-bottom: 11px;}
    &__info{display: flex; justify-content: flex-start; align-items: center; width: 314px;
        .product__plaha{display: flex;
            &--left{margin-left: 5px;}
            &:first-child{margin-right: 5px;}
        }
    }
    &__price{border:1px solid #d9d9d9; padding: 19px; display: flex;justify-content: space-between; align-items: center;
        .product__price{margin-bottom: 0;}
    }
    &__price-btns{width: 295px;
        .product__opt{padding: 0;
            &:first-child{padding-right: 5px;}
            &:last-child{padding-left: 5px;}
        }
        .product__opt-wrap{margin-bottom: 16px;}
    }
    &__bonus{
        svg{width: 25px; height: 23px;}
        &--mob{display: none;}
    }
    &__heart.product__heart{position: relative; top: auto; right: auto; display: flex;justify-content: flex-start;align-items: center; margin-bottom: 3px;
        svg{margin-right: 10px;}
        span{color: #363636; font-size: 14px; text-decoration: underline;}
        &:hover span{text-decoration: none;}
    }
    &__like{display: flex;justify-content: space-between; align-items: center; padding-top: 11px; padding-bottom: 5px;}
    &__button{height: 69px; background-color: #fdfdfd; border: 1px solid #d9d9d9; display: flex;justify-content: center;align-items: center; flex-grow: 1; font-size: 18px; text-decoration: none; color: #000;
        &:not(:last-child){margin-right: 20px;}
        svg:last-child{width: 17px; height: 17px;}
        &--dostavka{
            svg{width: 30px; height: 30px;}
        }
        &--garranty{
            svg{width: 28px; height: 28px;}
        }
        &--oplata{
            svg{width: 28px;height: 27px;}
        }
        b{margin: 0 10px;}
    }
    &__btns{display: flex; }
}
.cart{
    &__infos{text-align: center; line-height: 1.2; padding-bottom: 40px;
        b{font-size: 18px;}
        em{color: $red; font-style: normal;}
        p{margin: 12px 0;}
        .btn{margin-bottom: 10px;}
    }
    &__wrap{padding-left: 20px;}
    &__nav{padding: 0;border:none; background-color:transparent;
        svg{width: 18px; height: 18px;}
        span{width: 58px; height: 40px; display: flex;justify-content: center;align-items: center; background-color: #ececec; }
        &:hover{
            span{background-color: $red;}
            svg{fill:#fff;}
        }
    }
    &__tumblr{background-color: #ececec; width: 84px;display: flex; justify-content: center;align-items: stretch;
        label{width: 50%;  height: 40px; flex-grow: 1; display: flex;justify-content: center;align-items: center; position: relative; cursor: pointer;
            &:hover{ background-color: $red;
                svg{fill:#fff;}
            }
        }
        svg{width: 14px; height: 14px; fill:#a5a5a5;}
        input:checked + svg{fill:#000;}
    }
    &__title{position: relative;}
    &__title-wrap{position: absolute;width: 100%; justify-content: space-between;display: flex; align-items: center; top: 22px;left: 0;}
    &__title-l{
        em{color: $red; font-style: normal;}
    }
    &__title-r{display: flex;}
    &__table{padding-bottom: 40px;
        &.mini{padding-right: 30px;
            .cart{
                &__name-img{display: none;}
                &__name{width: 100%;
                    p{display: none;}
                }
                &__table-tr{margin: 0; border-bottom: 0;
                    .cart__table-td:first-child{border-right: 0;}
                    &:last-child{border-bottom: 1px solid #d9d9d9;}
                }
                &__table-td{padding: 7px;
                    &:nth-child(2){width: 120px;}
                    .product__counter{width: 88px;}
                    .product__old-price{font-size: 12px; display: none;}
                    .product__price{font-size: 16px; margin-bottom: 0;}
                    b{font-size: 16px;}
                    .product__counter input { height: 24px;}
                }
                &__bonus svg{width: 14px; height: 14px;}
                &__item-ctrl{flex-direction: row-reverse; width: 60px; right: -30px;}
            }
            .topbanner__cross:before, .topbanner__cross:after{width: 11px;}
        }
    }
    &__table-th{display: flex; justify-content: flex-start; align-items: center; background-color: #d9d9d9;}
    &__table-tr{display: flex; justify-content: flex-start; align-items: center; border:1px solid #d9d9d9; margin: 10px 0; position: relative;
        .cart__table-td:first-child{border-right: 1px solid #d9d9d9;}
    }
    &__table-td{display: flex; justify-content: flex-start; align-items: center; padding: 12px;
        &:nth-child(1){width: 340px;}
        &:nth-child(2){width: 140px;}
        &:nth-child(3){width: 120px;}
        &:nth-child(4){width: 140px;}
        &:nth-child(5){width: 120px;}
        .product__old-price{font-size: 13px; margin-bottom: 0;}
        .product__price{font-size: 20px; margin-bottom: 0;}
        .product__counter input{background-color: #fff;}
        b{font-size: 20px;}
    }
    &__name-img{width: 70px; height: 66px;
        img{width: 100%;height: 100%; object-fit: contain;}
    }
    &__name{ width: calc(100% - 70px);
        b{font-size: 14px;}
        p{color: #404040; font-size: 13px; margin: 0;}
        a{color: #404040; text-decoration: none;}
    }
    &__bonus{
        svg{width: 18px;height: 18px;}
    }
    &__item-ctrl{position: absolute; right: 0;top: 0; width: 42px; height: 100%;  display: flex;flex-direction: column;justify-content: space-between;align-items: center; padding: 10px 0;
        .topbanner__cross{ margin-left: 0;
            &:before,
            &:after{background-color: #000;}
        }
        .product__heart{position: relative; top: auto; right: auto; height: 20px; left: auto; bottom: auto;}
    }
}
.cataloglist{list-style-type: none;  margin: 0;padding:17px 24px;  column-count: 3;  column-gap: 40px;
    &>li{list-style-type: none; display: block; width: 100%;
        ul{margin: 0; padding: 0 0 20px 12px;}
        span{font-size: 17px; font-weight: 700; color: #000; text-decoration: none; line-height: 1.2;}
        a{font-size: 17px; font-weight: 700; color: #000; text-decoration: none; line-height: 1.2;
            &:hover{color: $red; text-decoration: underline;}
        }
        li{list-style-type: none;
            a{font-size: 14px; font-weight: 300;}
        }
    }
    &__main-box {display: none;
        .banner__arrow.banner__arrow--prev {display: none;}
    }

}
@media screen and (min-width: 992px){
    .opened .catalognav__dropdown{  opacity: 1; transform: scaleY(1); height: 488px;}
}
.catalognav{display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; height: 100%; background-color: #fff;
    &:hover .catalognav__dropdown{   opacity: 1; transform: scaleY(1); height: 488px;  transition: all 300ms;}
    &__closer {font-weight: 700; text-align: center; font-size: 1.125rem; position: relative; padding: 20px 0; display: none;
        .topbanner__cross { position: absolute; right: 10px; top: 50%; transform: translateY(-50%);
            &:after,
            &:before {background-color: red;}
        }
    }
    &__top{ height: 60px;  background-color: $red; display: flex;justify-content: space-between;align-items: center; text-decoration: none; cursor: pointer;    padding: 0 20px;
        &>span{color: #fff; font-weight: 700; text-transform: uppercase;  font-size: 18px; text-decoration: none;}
    }
    &__href{width: 263px; font-weight: 300; color: #000; text-decoration: none; display: flex; justify-content: space-between; align-items: center;  flex-grow: 1;  padding: 0 20px; border-right: 1px solid #d9d9d9;  background-color: #fff; pointer-events: all;
        &>a{color: #000; text-decoration: none; flex-grow: 0;
            &:hover{text-decoration: underline; color: $red;}
        }
        &:hover{background-color: #ececec;  }
    }

    &__dropdown{ height: 0; position: absolute;z-index: 1000; width: 100%;top: 60px; opacity: 0; transform: scaleY(0); transform-origin: 50% 0; display: flex; flex-direction: column; pointer-events: none;}
    &__mid{flex-grow: 1; display: flex; justify-content: flex-start;align-items: stretch; flex-direction: column; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;  }
    &__bot{border-right: 1px solid #d9d9d9;
        .catalognav__href{height: 60px;  background-color: #858585; display: flex;justify-content: space-between;align-items: center; text-decoration: none; cursor: pointer;    padding: 0 20px;
            &>a{color: #fff; font-weight: 700; text-transform: uppercase;  font-size: 18px; text-decoration: none; display: flex; align-items: center; justify-content: flex-start; width: 100%; height: 100%; position: relative;z-index: 20;}
        }
        &:hover .catalognav__box{transform:scaleX(1); opacity: 1;pointer-events: all;}
    }
    &__box{position: absolute; top: 0; left: 263px; width: calc(100% - 263px); min-height: calc(100% - 60px); background-color: #fff; z-index: 100;  pointer-events: all; border: 1px solid #d9d9d9; border-top: 0; display: none;
        &--top{top: 0; height: auto; min-height: 100%;}
    }
    &__item{ flex-grow: 1;   display: flex; flex-direction: column;
        &:hover .catalognav__box{ display: block;pointer-events: all;}
    }
    &__decor{ overflow: hidden;position: absolute; height: 60px; width: 263px; left: 0; top: 0; z-index: 0; opacity: 0.25; pointer-events: none;
        svg{width: 317px; height: 217px; position: absolute; left: 61px;  top: -12px;z-index: -1; fill:#FE1B00;}
    }
    &__notmain{
        .catalognav__bot{display: none;}
        .catalognav__mid{display: none;}
        .searchfield{height: 60px;  border-bottom: 1px solid #d9d9d9;}
    }
}
.catalog{padding-left: 10px;
    &__cross{position: relative;  width: 20px;height: 20px; cursor: pointer; flex-shrink: 0; margin-left: 2px; display: block;
        &:before,
        &:after{content: ''; background-color: #6d6d6d; width: 12px; height: 1px; display: block;position: absolute; top: 10px; left: 3px;}
        &:before{transform:rotate(45deg);}
        &:after{transform:rotate(-45deg);}
    }
    &__tags{display: flex; justify-content: flex-start;align-items: flex-start; flex-wrap: wrap; padding-top: 10px;}
    &__tag{background-color: #f2f2f2; height: 40px;display: flex; justify-content: space-between;align-items: center; padding: 0 8px 0 15px; font-size: 14px; color: #6d6d6d; margin-right: 14px; letter-spacing: 1.5px; margin-bottom: 10px; cursor: pointer;
        &:hover,
        &.active{background-color: $red; color: #fff;
            .catalog__cross:before,
            .catalog__cross:after{background-color: #fff;}
        }
    }
    &__sorter{width: 100%; display: flex;justify-content: space-between; align-items: center; height: 40px; background-color: #ececec; margin-top: 5px;padding: 0 15px;
        &--batman{display: none;}
    }
    &__sort{ display: flex; justify-content: flex-start; align-items: center;}
    &__sort-ic{line-height: 0; margin-right: 8px;
        svg{width: 12px; height: 12px;}
    }
    &__sort-select{width: 240px; margin-left: 32px;
        .jq-selectbox.focused .jq-selectbox__select{border-color:#d9d9d9;}
        .jq-selectbox{width: 100%; }
        .jq-selectbox__select-text{line-height: 31px;}
        .jq-selectbox__select{background: #fff; box-shadow: none; border-radius: 0; border-color:#d9d9d9;}
        .jq-selectbox__trigger{border-left: 0;}
        .jq-selectbox li:hover{background-color: #d9d9d9; color:$red;text-decoration: underline;}
        .jq-selectbox__trigger-arrow { border-top: 5px solid #000;  border-right: 3px solid transparent; border-left: 3px solid transparent;  }
    }
    &__view{display: flex; justify-content: flex-end; align-items: center;}
    &__view-type{
        button{padding: 0; line-height: 0; border:none; background: transparent; margin-left: 10px;
            svg{width: 14px; height: 14px; fill:#bfbfbf;}
            &.active svg{fill:#000;}
        }
    }
    &__view-select{
        .jq-selectbox.focused .jq-selectbox__select{border:none}
        .jq-selectbox{width: 100%;}
        .jq-selectbox__select{background: transparent; box-shadow: none; border-radius: 0; border:none; padding: 0 26px 0 10px;}
        .jq-selectbox__trigger{border-left: 0;}
        .jq-selectbox li:hover{background-color: #d9d9d9; color:$red;text-decoration: underline;}
        .jq-selectbox__trigger-arrow { border-top: 5px solid #000;  border-right: 3px solid transparent; border-left: 3px solid transparent;  }
    }
    &__show{ display: flex; justify-content: flex-end;   align-items: center;}
    &__items{display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; margin: 0 -7px; padding-top: 7px;
        &--rowed{
            .catalog__item{width: 100%;  max-width: 100%;}
            .product{position: relative; height: auto;
                &:hover{ border-color: #d9d9d9;
                    .product__wrapper{border: none;}
                    .product__labels{left: -1px;}
                }
                &__labels{left: -1px;}
                &__rating{display: none;}
                &__total-wrapper{height: auto;}
                &__plaha{display: flex;}
                &__have{display: none;}
                &__top{width: 276px; flex-shrink: 0; border-right: 1px solid #d9d9d9; height: 314px; border-bottom: 0;}
                &__grey{border-top: 1px solid #d9d9d9;}
                &__wrapper{display: flex; justify-content: flex-start;align-items: stretch; border:none;}
                &__describe{flex-direction: row; flex-wrap: wrap; padding: 16px 0 30px; align-items: center; align-content: flex-start; position: relative;}
                &__header{width: 100%; text-align: left; height: auto; padding-left: 15px;
                    br{display: none;}
                }
                &__description{display: block; text-align: left;padding: 8px 15px;  line-height: 1.2; min-height: 138px;
                    p{margin: 0;}
                }
                &__prices{width: 30%; padding-left: 15px;}
                &__options{width: 70%; justify-content: flex-end; padding-right: 7px;}
                &__people--mob{display: flex; justify-content: flex-start;align-items: center; flex-shrink: 0; margin-left: 10px; margin-right: 10px;
                    svg{width: 22px; height: 22px;}
                    span{margin-left: 10px;}
                }
                &__opt{width: 128px;}
                &__opt-wrap{justify-content: flex-end; width: auto; flex-wrap: wrap;}
                &__ratiomob{display: flex;width: 100%; border-top: 1px solid #d9d9d9; position: absolute; left: 0; bottom: 0; height: 31px; justify-content: space-between;align-items: center; padding: 0 15px;}
                &__ratiomob-l{display: flex; justify-content: space-between;align-items: center;width: 177px;}
                &__comparison{padding-bottom: 0;}
                &__price{white-space: nowrap; height: auto;}
                &__old-price{white-space: nowrap; height: auto;}
            }
        }
    }
    &__item{width: 33.333%;padding: 7px;  min-width: 260px;  max-width:50%; position: relative;
        &--search{width: 25%  }
        .topbanner__cross{ margin-left: 0; position: absolute;top: 20px;right: 20px; z-index: 109;
            &:before,
            &:after{background-color: #000;}

        }
    }
    &__showmore{text-align: center; width: 100%; margin: 50px 0 0;}
}
.catcard{ height: auto; width: 100%;  position: relative; background-color: #fff;
    &:hover{z-index: 1;
        .catcard__icon svg{fill:$red;}
        .catcard__bot{height: auto;}
        .catcard__btn{background-color: $red;
            &:after{display: none;}
            svg{fill:#fff; transform:scaleY(-1);}
        }
    }
    &.active{z-index: 1;
        .catcard__bot{height: auto;}
        .catcard__btn{background-color: $red;
            &:after{display: none;}
            svg{fill:#fff; transform:scaleY(-1);}
        }

    }
    &__top{border:1px solid #d9d9d9; display: flex; justify-content: flex-start; align-items: center; height: 79px; padding: 0 20px;}
    &__bot{ font-weight: 400;  width: 100%; position: absolute; height: calc(100% - 79px); left: 0; top: 79px; overflow: hidden; background-color: #fff; border:1px solid #d9d9d9; border-top: 0; }
    &__icon{width: 40px; height: 40px; flex-shrink: 0; margin-right: 11px;
        svg{width: 100%; height: 100%;}
    }
    &__title{font-weight: 700; font-size: 20px; color: #000; text-transform: uppercase; text-decoration: none;
        &:hover{color: $red;}
    }
    &__btn{height: 20px; width: 100%; display: flex;justify-content: center;align-items: center; background-color: #f0f0f0; position: absolute;bottom: 0;left: 0;border-top:1px solid #d9d9d9; cursor: pointer;
        svg{width: 11px; height: 10px; fill:$red;}
    }
    &__list{margin: 0; list-style-type: none; padding: 26px 20px;
        li{margin-bottom: 10px;}
        a{color: #000; text-decoration: none;
            &:hover{color: $red; text-decoration: underline;}
        }
    }
}
.category{margin: 0 -10px; display: flex;justify-content: flex-start; align-items: flex-start;flex-wrap: wrap; padding-bottom: 93px;
    &__item{width: 33%;  padding: 10px;  max-width: 50%;}
    &__twosliders{position: relative; padding-top: 29px; margin-bottom: 50px;}
    &__slider-wrap{}
    &__slider{}
    &__slide{}
    &__slide-mob{display: none; position: relative;
        p{background-color: rgba(0,0,0,0.6); position: absolute;width: 100%; left: 0;bottom: 0; margin: 0;color: #fff; text-transform: uppercase; text-align: center; padding: 10px; line-height: 1.2;}
    }
    &__mobnav{display: none; width: 100%; justify-content: space-between; align-items: center;padding: 10px 0 18px; color: #858585;}
    &__anchors-wrap{width: 100%; background-color: rgba(0,0,0,0.6); position: absolute;width: 100%; left: 0;bottom: 0;
        .slick-arrow { cursor: pointer; display: block; position: absolute; width: 20px; height: 20px; font-size: initial;
            &:before{content: '';width: 12px;height: 12px; border-right: 3px solid #bababa; border-top: 3px solid #bababa; display: block; position: absolute; top: 6px; left: 8px; }
            &:hover:before{border-color: $red;}
        }
        .slick-prev{left: -112px;
            &:before{transform:rotate(-135deg)}
        }
        .slick-next{right: -112px;
            &:before{transform:rotate(45deg); left: 2px;}
        }
        .slick-current{
            .btn--black span {  background-color: #c30900;  border-color: #c30900; color: #fff;}
        }
    }
    &__anchors{width: 100%;max-width: 880px; margin: 0 auto;}
    &__anchor{margin: 0 auto; width: 100%; max-width: 200px;
        .btn--black{width: 100%;
            span{text-transform: uppercase; font-size: 14px; font-weight: 400; width: 100%; line-height: 1.2;}
        }

    }


}
.comments{
    &__white{border: 1px solid #d9d9d9; font-size: 18px; color: #363636; line-height: 1.2;padding: 19px 20px; background-color: #fff;}
    &__top{display: flex; justify-content: space-between; align-items: center; border: 1px solid #d9d9d9; padding:16px 20px;}
    &__top-l{display: flex; justify-content: flex-start; align-items: center;
        b{color: $red; font-size: 24px; margin-left: 10px;}
        svg{width: 62px; height: 46px; margin-right: 10px; flex-shrink: 0;}
    }
}
.compare{width: 100%; overflow-x: auto; overflow-y: hidden;
    &__btns{ padding-top: 15px;
        .btn{margin-bottom: 10px;}
    }
    &__top{padding-left: 20px;}
    &__title{display: flex;justify-content: space-between;
        &--mob{display: none;}
    }
    &__cross{position: absolute; width: 20px;height: 20px; border:none; background: transparent; display: block; margin-left: 20px; line-height: 1.143; cursor: pointer; right: 10px; top: 10px;
        &:before,
        &:after{content: ''; width: 20px;height: 2px; background-color: $red; display: block; position: absolute; left: 0; top: 8px; transition: transform 400ms;}
        &:before{transform:rotate(45deg);}
        &:after{transform:rotate(-45deg);}
        &:hover{
            &:before{transform:rotate(405deg);}
            &:after{transform:rotate(315deg);}
        }
    }
    &__card{width: 100%;}
    &__card-top{ border-bottom:1px solid #d9d9d9; padding: 20px; width: 100%; height: 218px; position: relative;
        img{width: 100%;height: 100%; object-fit: contain;}
    }
    &__card-bot{ padding: 8px 10px 14px;
        h2{width: 100%; text-align: center; font-size: 18px; line-height: 1.2; padding: 9px 0 0; margin: 0; height: 65px; }
        .product__prices{text-align: center; padding-bottom: 5px; height: 60px;}
    }
    &__first{width: 100%; flex-shrink: 0; pointer-events: all; height: 405px;
        .compare__li{justify-content: flex-start;}

    }
    &__content{position: relative; display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 100px;}
    &__figure{ width: 264px; flex-shrink: 0; margin-right: 20px;  pointer-events: none; z-index: 10; background-color: #fff;
    }
    &__item{width: 275px; margin-right: 20px; flex-shrink: 0; border:1px solid #d9d9d9;
        .compare__opt-wrap{border-top:1px solid #d9d9d9; padding: 20px 0 ;}
    }
    &__row{display: flex; justify-content: flex-start; position: relative;
        &--body{
            .compare__item{border-top: none;}
        }
    }
    &__li{height: 46px; display: flex; justify-content: center; align-items: center; width: 100%; padding: 5px 15px;
        &:nth-child(odd){background-color: #f5f5f5;}
        b{text-transform: uppercase;}
    }
    &__empty{text-align: center; position: relative; padding-bottom: 50px;
        .btn{position: absolute; top: 14px; left: 50%; transform: translateX(-50%);}
    }
}
.description { display: flex; align-items: center; justify-content: flex-start; padding: 20px;
    &__logo {margin-right: 30px; max-width: 160px; width: 100%;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__list {margin: 20px 0; }
    &__head {font-weight: 400;
        span {font-weight: 600;}
    }
    &__below {font-weight: 400;}
}
.errorText{  display: block;text-align: left;font-size: 12px;color: red;margin: 5px 0;
    p { margin: 5px 0;}
}
.header{padding-bottom: 17px; position: relative;z-index: 1100;
    &__wrap{display: flex;justify-content: flex-start;align-items: flex-start;}
    &__logo{width: 263px; padding: 14px 0 0; text-align: center;
        svg{width: 158px; height: 108px;}
    }
    &__btns{width: 302px; padding: 23px 10px 0;
        a{display: block; margin-bottom: 10px;
            span{font-size: 14px; padding: 0 5px; height: 40px; line-height: 38px;}
        }
    }
    &__box{display: flex; justify-content: space-between; align-items: flex-start; padding: 48px 40px 0; width: 572px;}
    &__item{display: flex; justify-content: flex-start;align-items: center; position: relative; }
    &__icon{ position: relative; margin-right: 14px; width: 40px;height: 40px;
        svg{width: 40px;height: 40px;}
    }
    &__counter{position: absolute;left: 24px;top: -3px; line-height: 16px; font-size: 10px; border-radius: 9px; border: 1px solid #fff; background-color: $red; color: #fff; padding: 0 5px; min-width: 18px; text-align: center;}
    &__text{
        a{color: #000; text-decoration: none;
            &:hover{text-decoration: none;}
        }
    }
    &__cabinet{position: absolute; background-color: #fff; top:calc(100% + 9px); left: -16px; width: 192px;  border:1px solid #d9d9d9; display: none;
        &:before{content: ''; width: 15px;height: 15px; background-color: #fff; border:1px solid #d9d9d9; transform:rotate(45deg); display: block;position: absolute; z-index: 0; top: -8px; left: 26px;}
    }
    &__cabinet-wrap{width: 100%;background-color: #fff; position: relative; z-index: 5;}
    &__cabinet-link{width: 100%; display: flex; cursor: pointer; justify-content: flex-start; align-items: center;  text-decoration: none;color: #000; font-size: 16px;letter-spacing: 0.5px;padding: 11px 15px 10px; white-space: normal;
        &:hover{background-color: #f0f0f0; color: $red; text-decoration: none;
            svg{fill:$red;}
        }
        i{width: 68px; text-align: center; flex-shrink: 0;}
        &--compare{padding: 11px 15px 10px; white-space: normal; }
    }
    &__basket{position: absolute; background-color: #fff; top:calc(100% + 14px); right: -23px; width: 192px;  border:1px solid #d9d9d9; display: none;
        //transform-origin: 50% 0; opacity: 0; transform:scaleY(0); pointer-events: none; transition: opacity  200ms, transform 200ms;
        &:before{content: ''; width: 15px; height: 15px; background-color: #f0f0f0; border:1px solid #d9d9d9; transform:rotate(45deg) translateX(-50%); display: block; position: absolute; z-index: 0; top: -3px; left: 50%;}
    }
    &__basket-wrap{background-color: #f0f0f0;position: relative; z-index: 10;}
    &__basket-top{font-weight: 300; text-align: center; padding: 16px 0 19px;
        p{margin: 0 0 -2px; line-height: 1.2;}
        a{color: $red;
            &:hover{text-decoration: none;}
        }
    }
    &__basket-bot{background-color: #fff; padding: 17px;
        a{text-decoration: none; transition:all 200ms; background-color: $red; font-size: 16px;font-weight: 400; color: #fff; display: block;width: 100%; line-height: 1.2; text-align: center; padding: 13px 0;
            &:hover{background-color: $hoverred;}
        }
    }
}
.faq{font-family: "ProximaNova"; font-weight: 300;
    &__item{width: 100%; margin-bottom: 2px; color: #363636; line-height: 1.2;
        a{color: $red; text-decoration: underline; font-weight: 400;
            &:hover{text-decoration: none;}
        }
    }
    &__subtitle{font-size: 22px; text-align: center; padding: 55px 0 24px; }
    &__title{position: relative; width: 100%; height:  60px; cursor: pointer; background-color: #ededed; font-size: 18px; display: flex; justify-content: space-between; align-items: center; padding: 12px 20px;
        &.active{background-color: $red; color: #fff;
            .faq__decor{display: block;}
            &:hover{ color: #fff; }
        }
        &:hover{ color: $red; }
        b{margin-left: 8px;}
    }
    &__decor{ overflow: hidden;position: absolute; height: 60px; width: 263px; right: 0; bottom: 0; z-index: 0; opacity: 0.25; pointer-events: none; display: none;
        svg{width: 317px; height: 217px; position: absolute; left: 61px;  top: -12px;z-index: -1; fill:#FE1B00;}
    }
    &__body{padding: 20px; user-select: none; display: none;
        p{margin: 0;}
    }
    &__quest{text-align: center; padding: 30px 0 ;
        p{font-size: 14px; margin: 0 0 8px;}
    }
}
.feedback{border-top:1px solid #d9d9d9; color: #525252; padding-right: 19px; padding-top: 16px;
    &--noborder{border-top: none;}
    &__top{display: flex; justify-content: space-between;align-items: center; font-size: 16px;}
    &__title{font-size: 18px; display: flex;justify-content: center;align-items: center;
        b{margin-right: 20px; }
        a{color: $red;}
    }
    &__bot{display: flex; justify-content: space-between;align-items: center; padding-top: 3px; padding-bottom: 15px;}
    &__write{color: #006091; margin-right: 45px;
        span{text-decoration: underline; font-weight: 700;}
        svg{width: 16px; height: 16px; fill:#006091;}
        &:hover,
        &:hover span{text-decoration: none;}
    }
    &__count{ margin-right: 12px;
        svg{width: 14px; height: 14px;}
        b{color: $red;}
    }
    &__show{color: #006091; font-size: 14px; text-decoration: underline; border:none; padding: 0; background-color: #fff;
        &:hover{text-decoration: none;}
        .add-acitve{display: none;}
        &.active{
            span{display: none;}
            .add-acitve{display: block;}
        }
    }
    &__body{padding: 4px 0;
        p{margin: 5px 0;}
    }
    &__answer{padding-left: 25px;}
    &__hid{display: none;}
    &__date{flex-shrink: 0; margin-left: 15px;}

}
.feedform{
    &__right{flex-shrink: 0;width: 330px;}
    &__left{flex-grow: 1; padding-right: 20px;}
    &__row{display: flex;}
    &__subrow{display: flex; width: 100%; justify-content: space-between;}
    &__col{  width: 50%;
        &:first-child{padding-right: 10px;}
        &:last-child{padding-left: 10px;}
    }
    &__input{margin-bottom: 20px;}
    &__title{width: 100%; padding-bottom: 19px;
        h6{font-weight: 700; font-size: 18px; color: #000; text-transform: uppercase; text-align: center; margin: 6px 0; letter-spacing: 2.5px;}
    }
    &__rating{ display: flex; align-items: center; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 25px;
        &>span{font-size: 14px; font-weight: 400; letter-spacing: 1.5px; flex-grow: 1;}
    }
    &__recapcha{padding-left: 15px;}
    &__atension{font-size: 14px; padding-left: 15px;
        b{color: $red;}
        p{margin: 0; }
    }
}
.fancybox-close-small{ width: 20px;height: 20px; border:none; background: transparent; display: block; top: 25px; right: 25px;
    &:before,
    &:after{content: ''; width: 20px;height: 2px; background-color: $red; display: block; position: absolute; left: 0; top: 8px; transition: transform 400ms; font-size: initial; border-radius:0;}
    &:before{transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);}
    &:hover{
        &:before{transform:rotate(405deg);background-color: $red;}
        &:after{transform:rotate(315deg);background-color: $red;}
    }


}
.fancybox-bg{background: #ffffff;}
.filter{pointer-events: none;
    &__wraper{border-right: 1px solid #d9d9d9; pointer-events: all; border-left: 1px solid #d9d9d9;}
    &__title{font-weight: 700; color: #000; text-transform: uppercase; display: flex;justify-content: space-between; align-items: center; padding: 22px 15px; cursor: pointer;
        p{margin: 0;}
        button{position: relative; width: 16px; height: 16px; padding: 0; background: transparent; border:none;
            &:before{border-style: solid; border-color: #000; border-width: 1px 1px 0 0; width: 9px;height: 9px; display: block; content: ''; transform:rotate(135deg); position: absolute; left: 2px; top: 0px;}

        }
        &.active button:before{transform:rotate(-45deg); top: 5px;}
    }
    &__content{display: none; padding-left: 15px; }
    &__btn{margin-bottom: 30px; padding-right: 15px;}
    &__range{margin-bottom: 30px; padding-right: 15px; padding-top: 13px;}
    &__range-result{display: flex; justify-content: flex-start;align-items: center; padding-top: 25px;
        input[type=text]{background-color: #fff; border:1px solid #d9d9d9; width: 84px; }
        b{margin: 0 10px; font-weight: 400;}
        span{margin-left: 6px;}
    }
    &__block{border-bottom: 1px solid #d9d9d9; }
    .js-red-scroll{height: 144px;}
    &__controls{padding: 20px 15px 6px;
        a:not(.btn){color: #868686; text-decoration: underline; display: flex;justify-content: center;align-items: center;
            &:hover{color:$red;
                .catalog__cross:before, .catalog__cross:after{background-color:$red;}
            }
        }
        .btn{margin-bottom: 7px;}

    }
    &__mobbtn{color: #fff; height: 52px; width: 100%; background-color: $red; overflow: hidden; border:none; padding: 0; display: none; position: absolute; left: 0; top: 100%;pointer-events: all;}
    &__mobctrl{ height: 52px; width: 100%; background-color: $red; position: relative; overflow: hidden; display: none;justify-content: center;align-items: stretch;position: absolute; left: 0; top: 100%;pointer-events: all;
        button,
        a{color: #fff; cursor: pointer; text-decoration: none;height: 100%; display: flex; justify-content: center; align-items: center;width: 50%; border:none; background-color: transparent;
            &:first-child{border-right: 1px solid white;}
        }
    }
    &__decor{ overflow: hidden;position: absolute; height: 60px; width: 263px; right: 0; top: 0; z-index: 0; opacity: 0.25; pointer-events: none;
        svg{width: 317px; height: 217px; position: absolute; left: 61px;  top: -12px;z-index: -1; fill:#FE1B00;}
    }
}
.icon{
    &--info{width: 11px;height: 11px;}
    &--check{width: 11px;height: 10px;}
    &--logout{width: 14px;height: 11px;}
}
.industry{display: flex;justify-content: flex-start; align-items: stretch; align-content: stretch; flex-wrap: wrap; height: 100%; padding: 10px;
    &__item{width: 273px; height: 142px; margin: 5px; position: relative; border: 1px solid #d9d9d9; flex-grow: 1;
        img{width: 100%; height: 100%; object-fit: cover;}
        &:hover .industry__title{ background-color: rgba(196,9,0,0.8);}
    }
    &__title{position: absolute; left: 0;top: 0; right: 0;bottom: 0; display: flex; justify-content: center;align-items: center; width: 100%; height: 100%; color: #fff; font-weight: 700; font-size: 17px; background-color: rgba(0,0,0,0.4);}
    &__decor{ overflow: hidden;position: absolute; height: 60px; width: 100%; left: 0; bottom: 0; z-index: 0; opacity: 0.25;
        svg{width: 317px; height: 217px; position: absolute; left: 61px;  top: -12px;z-index: -1;}
    }
}
.info{border: 1px solid #d9d9d9; font-size: 18px; color: #363636; line-height: 1.2;padding: 12px 20px; background-color: #fff;
    &__text{
        p{ margin: 14px 0;}
        em{color: #666; font-size: 14px;}
    }
    &__table{
        &.table{border:none;}
        .table__td:first-child{border:none;}
        .table__td:last-child{border:none; font-weight: 400;}
    }
}
.infovindow{display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; width: 350px; padding: 10px 0 ;
    .shops__col{width: 50%; margin-bottom: 10px; padding-right: 0;
        &:first-child{width: 100%;}
    }
    .shops__icon{width: 30px; height: 30px; padding: 6px; background-color: transparent; margin-right: 8px;
        svg{fill:$red;}
    }
    .shops__text{ font-size: 14px;}
    .shops__mobmap{display: none;}
}
@keyframes tremor {
    0% {   transform: translateX(0); }
    50%{   transform: translateX(-6px); }
    100% {   transform: translateX(0); }
}
.lk{text-align: right; padding-bottom: 40px;}
.layer-up{position: relative;z-index: 110;}
.miniarrow{display: inline-block; width: 0;height: 0; border-style:solid; border-color: #000 transparent transparent ; border-width: 4px 3px 2px; margin: 0 8px ; transition: all 400ms;}
.active .miniarrow{ border-color: transparent transparent #000; border-width: 0 3px 4px; vertical-align: middle;  }
.navigation{background-color: #f5f5f5; width: 100%; position: relative; z-index: 1150;
    &__wrap{display: flex;justify-content: space-between;align-items: center;}
    &__city{width: 264px; position: relative;}
    &__city-btn{ cursor: pointer; color: #000; text-decoration: none;
        i{line-height: 0; margin-right: 10px;}
        svg{width: 8px; height: 12px;}
    }
    &__city-box{position: absolute; background-color: #fff; top:calc(100% + 14px); right: 0; width: 192px;  border:1px solid #d9d9d9; display: none;  max-height: 250px; overflow-y: auto;}
    &__city-link{white-space: nowrap; text-decoration: none;color: #000; font-size: 15px;padding: 11px 20px 10px;width: 100%; cursor: pointer; text-align: left;
        &:hover{text-decoration: underline; color:$red;}
    }
    &__nav{display: flex; justify-content: space-between;align-items: stretch; width: calc(100% - 264px);}
    &__link{text-align: center; position: relative;
        a{height: 45px; display: inline-block;color: rgb(105, 105, 105); text-transform: uppercase;  line-height: 47px; text-decoration: none; position: relative;
            span { position: relative; display: inline-block;
                &:before{background-color: $red; content: ''; width: 100%; height: 3px;display: block; position: absolute; top: 35%; transition: all 100ms; opacity: 0; transform:scaleX(0);}
                &:hover,
                &.active{color: #000;
                    &:before{ top:0;  opacity: 1; transform:scaleX(1);}
                }
            }
        }
    }
}
.order{
    &__title{position: relative;
        .btn{position: absolute; right: 0;top: 28px;}
    }
    &__forms{border:1px solid #d9d9d9; display: flex;justify-content: space-between;align-items: stretch; width: 100%; margin-top: 47px; margin-bottom: 20px;}
    &__forms-title{text-transform: uppercase; text-align: center; width: 100%; padding: 9px 0 27px; }
    &__left{flex-grow: 1; border-right: 1px solid #d9d9d9; width: 50%; padding: 20px;}
    &__right{flex-grow: 1; width: 50%; padding: 20px;}
    &__forms-row{display: flex; justify-content: space-between; align-items: center;
        &.hide{display: none;}
    }
    &__input{margin-bottom: 10px; width: 100%; text-align: left;
        label{width: 100%; display: flex;justify-content: flex-start; align-items: center;}
    }
    &__label{width: 80px; flex-shrink: 0;}
    &__fixrow{padding-left: 80px; padding-top: 20px;}
    &__items{max-height: 421px; overflow-y: auto; padding-right: 8px; margin-bottom: 29px;}
    &__item{ border:1px solid #d9d9d9; display: flex;justify-content: space-between; align-items: center; padding: 14px 20px; margin-bottom: 10px; line-height: 1.2;
        b{font-size: 22px;}
        p{margin: 0;}
        &-col{flex-grow: 1; padding-right: 10px; display: flex; flex-direction: column; align-items: flex-start;}
        &-name{width: 25%;
            b{font-size: 18px;}
        }
        &-art{font-weight: 400; text-transform: uppercase;}

    }
    &__info{display: flex; border:1px solid #d9d9d9;margin-bottom: 10px; width: 100%;}
    &__info-box{ display: flex;justify-content: center;align-items: center;  border-right:1px solid #d9d9d9; flex-grow: 1; width: 25%; padding: 12px;
         &:last-child{border-right: 0;}
        svg {width: 25px;height: 25px; margin-right: 20px;}
        b{font-size: 22px;
            em{color: $red; font-style: normal;}
        }
        p{margin: 0;}
        input[type=text]{width: 40px; margin: 0 12px;}
        &--cart{width: 100%; border:1px solid #d9d9d9; margin-bottom: 10px;
            &:last-child{border-right:1px solid #d9d9d9;}
            svg{width: 28px; height: 28px; margin-left: 18px;}
        }
    }
    &__btn{display: flex;justify-content: space-between;align-items: center; padding-bottom: 50px;
        &>.btn{flex-shrink: 0; margin-bottom: 10px; margin-left: 18px;
            span{padding: 9px 19px;}
        }
    }
}
.orderdone{ display: flex; align-items: center; line-height: 1.2; margin-bottom: 100px;
    a{color: $red;}
    h2{text-align: center; font-size: 30px;}
    p{text-align: center; font-size: 16px;}
    &__pay{display: flex; margin-top: 40px;}
    &__gray{ font-size: 16px; background-color: #d9d9d9; flex-grow: 1; margin-right: 8px; display: flex;justify-content: center;align-items: center; padding: 0 10px; height: 41px;
        svg{width: 20px; height: 16px; margin: 0 8px;}
    }
    &__img{width: 264px; text-align: center;}
    &__text{flex-grow: 1; padding: 11px; flex-shrink: 0;}
}
.popup{width: 100%; max-width: 616px;  border:1px solid #d9d9d9; text-align: center; padding: 0; overflow: initial;
    &--small{max-width: 360px;}
    &__list{display: flex;justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; width: 100%; padding: 26px 0;
        a{min-width: 50%; text-align: left; color: #000; text-decoration: none; cursor: pointer; padding-left: 60px;
            &:hover{text-decoration: underline;}
        }
    }
    &__title{font-weight: 700;font-size: 18px; color: #000; text-transform: uppercase; padding:0 20px 26px;
        &--nopadding {padding-bottom: 20px;}
    }
    &__success{display: none;  font-size: 18px; padding: 0 23px 0;}
    &__wrap{margin: 0 auto; width: 100%; max-width: 536px; padding: 0;
        .btn{width: 100%; max-width: 234px;
            span{width: 100%;}
        }
        &.faq_pop{
            .popup__success{display: block;}
            .popup__title{display: none;}
            .popup__content{display: none;}
        }
    }
    &__input{margin-bottom: 10px;}
    &__row{display: flex; margin: 0 -5px;
        .popup__input{padding: 0 5px;}
    }
    &__col{width: 50%; padding: 0 5px;}
    &__padding{padding: 26px; width: 100%;}
    &__hr{height: 1px; width: 100%; background-color: #d9d9d9;}
    label{justify-content: center;}
    &__social-fb {
        svg {fill: #385C8E;}
    }
    &__agree {padding-top: 15px; font-size: 13px;}
    &__phis-ur {display: flex; margin-bottom: 10px; margin-top: 12px;
        span{ padding: 5px; background-color: #f8f8f8; width: 100%; display: block;}
        label{position: relative; flex-grow: 1; width: 50%; cursor: pointer;}
        input{opacity: 0; position: absolute;}
        input:checked + span {background-color: $red; color: #fff;}
    }
    &__btn-col {width: 50%; padding: 5px;
        button {width: 100%; background-color: transparent; border: 1px solid #d3d3d3; padding: 5px 10px; transition: all 0.2s; font-size: 0.875rem ;
            &:hover,
            &.active {background-color: #c40900; border-color: #c40900; color: #fff;}
            span {line-height: 16px; letter-spacing: 1.1px;}
        }
    }
    &__label-place {
        input + i ~ *{opacity: 0.5;}
        input:checked + i ~ *{opacity: 1;}
        .styled{margin-bottom: 0;}
        &--center{
            .styled{justify-content: center;}
        }
    }
    &__input {
        &.hide{display: none;}
        &--relative {position: relative;}
    }
    &__eye {position: absolute; right: 13px; top: 50%; transform: translateY(-50%); display: flex; align-items: center; justify-content: center; background: transparent; border: none;
        svg { width: 19px; height: 17px; fill: #878586; transition: all 0.2s;}
        &:hover {
            svg {fill: #000;}
        }
    }
    &__social {
        span {font-size: 13px;}
    }
    &__social-box { display: flex; align-items: center; justify-content: center;
        a { margin: 5px 10px;
            svg {width: 24px; height: 24px;}
        }
    }
    &--decisions {margin: 0; border-bottom: 0;
        .popup__wrap { max-width: none; padding: 25px 0 0;}
        .industry__item { display: flex; padding: 15px; margin: 0; border-right: 0; border-left: 0; border-top: 0;
            img {width: 50%; min-width: 131px; border: 1px solid #d9d9d9;}
        }
        .industry {padding: 0; border: 0; border-top:1px solid #d9d9d9;}
        .industry__title {width: 50%; left: auto; right: 0; background-color: transparent; color: #000; padding: 15px;}
        .industry__decor {display: none;}
        .industry__item:hover .industry__title {background-color: transparent;}
    }
}
.perevagi{
    &__row{display: flex; justify-content: space-between; padding: 42px 0; flex-wrap: wrap;}
    &__item{text-decoration: none; text-align: center; width: 25%; padding: 0 30px; margin-bottom: 10px; padding-top: 10px;
        .perevagi__img svg{transition: all 0.2s;}
        &:hover {
            h6{color: $red;}
            .perevagi__img svg{transform: scale(1.2);}
        }
    }
    &__img{height: 110px; width: 100%;
        svg{width: 75px; height: 76px;}
    }
    &__txt{
        h6{margin: 0 0 14px; font-weight: 400; font-size: 1.125rem; text-transform: uppercase; color: #000; line-height: 1.333;}
        p{margin: 0;color: #000; font-weight: 300; line-height: 1.2;}
    }
    .banner__arrow--next {
        top: 50%;
        position: absolute;
        right: -20px;
        z-index: 100;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .banner__arrow--prev {
        top: 50%;
        position: absolute;
        left: -20px;
        z-index: 100;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

}
.promo{padding: 15px; border: 1px solid #d9d9d9; margin-top: 39px; margin-bottom: 28px;
    &__title{text-align: center;font-weight: 700; color: #000;font-size: 18px; line-height: 1.333;text-transform: uppercase; margin-bottom: 14px;}
    &__input{width: 100%;margin-bottom: 10px;
        input{text-align: center;}
    }
}
.price{margin-bottom: 26px;
    &__row{display: flex; margin-bottom: 4px;
        p{margin: 0; width: 50%; text-align: left; padding-left: 3px;
            &:first-child{text-align: right; padding-left: 0;}
        }
        b{font-size: 18px;}
        em{color: $red; font-style: normal;}
        &:last-child{ margin-top: 9px;
            b{font-size: 20px;}
        }
    }
}
.p404{text-align: center; margin-bottom: 70px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.scelet{width: 100%; display: flex;justify-content: flex-start; align-items: stretch; position: relative;
    &__left{width: 264px;}
    &__right{width: calc(100% - 264px);}

}
.select2-container{z-index: 99999; width: 100%;}
.searchfield{height: 59px; border: 1px solid #d9d9d9; border-bottom: 0; width: 100%; display: flex;justify-content: space-between; align-items: center; padding: 0 10px 0; background-color: #fff; border-left: 0;
    &__tel{padding: 0 34px;
        svg{width: 18px;height: 18px; fill: $red;}
        a{font-size: 20px; color: #000; text-decoration: none; font-weight: 700; letter-spacing: 1px; margin-left: 8px;}
    }
    &__input{ position: relative; flex-grow: 1;
        svg{width: 20px; height: 20px;}
        button{background-color: transparent; border:none; position: absolute; right: 5px;top: 8px;
            &:hover{opacity: 0.5;}
        }
    }
    .btn{flex-shrink: 0;}
    &__result{position: absolute; width: calc(100% - 263px); left: 263px; height: calc(100% - 60px);   z-index: 20; top: 60px; display: none;}
    &__res-wrap{max-width: 616px; width: 100%; border:1px solid #d9d9d9; background-color: #fff; height: 100%; }
    &__item{height: 82px; display: flex;justify-content: flex-start;align-items: center; padding: 0 32px; color: #000; text-decoration: none;  background-color: #fff; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;
        &:hover{background-color: $red; color: #fff;}
        &:nth-child(2n){background-color: #f7f7f7;
            &:hover{background-color: $red; }
        }
        &:nth-last-child(2){border-bottom:1px solid #d9d9d9;}
    }
    &__item-img{width: 50px; text-align: center; flex-shrink: 0; margin-right: 26px;
        img{max-height: 50px;}
    }
    &__item-name{flex-grow: 1;
        p{margin: 0;}
    }
    &__item-price{text-align: right; font-size: 18px;   }
    &__btn{width: 100%; padding: 20px  20px 0;
        .btn{width: 100%;
            span{width: 100%;}
        }
    }
}
.search{
    &__result{}
    &__filter{border:1px solid #d9d9d9; width: 100%; margin: 15px 0;
        b{width: 100%; background-color: #d9d9d9; display: block; padding: 15px; text-transform: uppercase;}
        a{color: $red; font-weight: 700; text-decoration: none;}
    }
    &__filter-box{width: 100%; padding: 15px;
        a {text-decoration: none; color: #000000; font-weight: 300;}
        span{margin-right: 12px;color: $red; font-weight: 700;}
    }
}
.shops{display: flex; justify-content: flex-start; align-items: stretch; height: 731px; margin: 30px 0 100px;
    &__map{ width: 488px; flex-shrink: 0; height: 100%;margin-right: 25px;}
    &__top{background-color: #fafafa; border:1px solid #d9d9d9; height: 47px; display: flex; justify-content: flex-start;align-items: center; padding: 0 20px;
        .catalog__view-select{min-width: 150px;}
        p{margin: 0;font-size: 14px;text-transform: uppercase; letter-spacing: 1.5px; font-weight: 400;}
    }
    &__top-icon{ margin-right: 8px;
        svg{width: 8px;height: 12px;}
    }
    &__icon{width: 30px;height: 30px; background-color: #f0f0f0; border-radius: 50%; padding: 6px; margin-right: 25px; flex-shrink: 0;
        svg{width: 100%; height: 100%;}
        &--big{background-color: $red; width: 50px; height: 50px; margin-right: 15px; padding: 10px;
            svg{fill:#fff;}
        }
    }
    &__text{font-size: 15px;font-weight: 400;
        p{margin: 0; line-height: 1.2;}
        a{color: #000;}
    }
    &__table{width: 100%;}
    &__table-main{}
    &__table-other{  height: calc(100% - 121px);
        .shops__body{  height: calc(100% - 47px); overflow-y: auto; overflow-x: hidden; }
    }
    &__item{padding: 17px 10px 18px; border-bottom: 1px solid #d9d9d9; display: flex; justify-content: flex-start;align-items: center; cursor: pointer;
        &--main{border-bottom: 0; }
        &:hover{background-color: #f0f0f0;
            .shops__icon{background-color: $red;
                svg{fill:#fff;}
            }
        }
    }
    &__col{display: flex; justify-content: flex-start; align-items: center; width: 30%; flex-grow: 1; padding-right: 10px;}
    &__show{display: none; position: relative; padding: 0; background: transparent; border:none;  justify-content: flex-start; align-items: center; color: $red ; text-decoration: underline;
        &:after{ content: ''; width: 0; height: 0;  border-top: 5px solid $red;  border-right: 3px solid transparent;  border-left: 3px solid transparent; display: block; margin-left: 8px;}
        .add-acitve{display: none;}
        &.active{
            &>span{display: none;}
            .add-acitve{display: block;}
            &:after{border-bottom: 5px solid $red; border-top:0;   border-right: 3px solid transparent;  border-left: 3px solid transparent;}
        }
    }
    &__mobmap{display: none; height: 250px; width: 100%; margin-bottom: 15px;}
}
.share{color: #fff; font-size: 14px; font-weight: 600; height: 30px; display: inline-flex;justify-content: center; align-items: center; text-decoration: none; padding: 8px; margin: 6px;
    svg{fill:#fff; width: 12px; height: 12px; margin-left: 8px;}
    &--fb{background-color: #29487c;}
    &__list{display: flex; justify-content: flex-end; align-items: center;}
}
.subscribe{background-image: url(../images/oc-bg.png); background-size: cover; border: 1px solid #999999; background-color: #fff; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 30px 20px;
    b{text-transform: uppercase; font-size: 18px; padding-right: 30px;}
    &__form{display: flex; justify-content: space-between; align-items: center; width: 50%;
        input[type=text],
        .btn{margin: 0 10px; width: 50%; flex-grow: 1;}
    }
}
.styled-scroll{
    &::-webkit-scrollbar {  -webkit-appearance: none;  }
    &::-webkit-scrollbar:vertical { width: 14px;   border: 1px solid #d9d9d9;  }
    &::-webkit-scrollbar:horizontal {  height: 14px;   border: 1px solid #d9d9d9;  }
    &::-webkit-scrollbar-thumb {  background-color:$red;    border: 1px solid #d9d9d9; }
    &::-webkit-scrollbar-track {  border-radius: 0;   background-color: #ffffff;     border: 1px solid #d9d9d9; }
}
.supertumbler{display: flex; margin-bottom: 40px;
    label{position: relative; flex-grow: 1; }
    input{position: absolute; left: 0;top: 0;opacity: 0;
        &:checked + .supertumbler__item{ background-color: $red; color: #fff; border-color: $red;
            svg{fill:#fff;}
        }
    }
    &__item{display: flex; justify-content: center;align-items: center; border: 1px solid #d9d9d9; height: 64px; cursor: pointer; padding: 10px;
        svg{width: 30px; height: 30px;  margin-right: 12px;}
        span{max-width: 100px;}
        &:hover{background-color: $hoverred; color: #fff;
            svg{fill:#fff;}
        }
    }
}
.stickyfill{
    &__wrap{position: sticky; top: 10px;}
}
.tag{font-size: 14px; color: #fff; background-color: rgba(0,0,0,0.7); display: inline-block;padding: 8px 10px;  letter-spacing: 1.3px; cursor: pointer; margin: 5px 2px; pointer-events: all; text-decoration: none;
    &:hover{background-color: $red; color: #fff;}
    &__list{text-align: left;
        .tag{background-color: #f2f2f2; color: #a1a1a1;
            &:hover{background-color: $red; color: #fff;}
        }
        a.tag{ color: #fff; background-color: rgba(0,0,0,0.7); }
        a.tag-a{ background-color: #f2f2f2; color: #a1a1a1;display: inline-block;padding: 8px 10px;  letter-spacing: 1.3px; cursor: pointer; margin: 5px 2px; pointer-events: all; text-decoration: none;
            &:hover {background-color: #c30900; color: #fff;}
            &.active {background-color: #c30900; color: #fff;}
        }
        input[type=checkbox]:checked + .tag{background-color: $red; color: #fff;}
        a.tag.a {   background-color: #f2f2f2;   color: #a1a1a1;
            &.active {  background-color: #c30900;  color: #fff; }
        }

    }
}
.topbanner{background-image: url(../images/top-banner.jpg); background-size: cover;
    &__wrap{display: flex; justify-content: space-between;align-items: center;padding: 20px 0;}
    &__text{font-size: 1.3125rem; text-transform: uppercase; color: #fff;letter-spacing: 2.1px; text-decoration: none;
        &:hover{animation: 0.2s tremor linear infinite;}
    }
    &__cross{position: relative; width: 20px;height: 20px; border:none; background: transparent; display: block; margin-left: 20px; line-height: 1.143; cursor: pointer;
        &:before,
        &:after{content: ''; width: 20px;height: 2px; background-color: #fff; display: block; position: absolute; left: 0; top: 8px; transition: transform 400ms;}
        &:before{transform:rotate(45deg);}
        &:after{transform:rotate(-45deg);}
        &:hover{
            &:before{transform:rotate(405deg);}
            &:after{transform:rotate(315deg);}
        }
    }
}
.js-hd-box{position: relative;
    &:hover{
        &:before{content: ''; height: 60px; width: 100%; left: 0; top: 99%; background-color: transparent; display: block; position: absolute;}
        .js-hd-hid{display: block;}
    }
}
.jq-selectbox.focused .jq-selectbox__select{border-color:#d9d9d9;}
.jq-selectbox{width: 100%; }
.jq-selectbox__select{background: #ececec; box-shadow: none; border-radius: 0; border-color:#d9d9d9;}
.jq-selectbox__trigger{border-left: 0;}
.jq-selectbox li:hover{background-color: #d9d9d9; color:$red;text-decoration: underline;}
.jq-selectbox__trigger-arrow { border-top: 5px solid #000;  border-right: 3px solid transparent; border-left: 3px solid transparent; top: 13px; }
select.valid + .select2-container--default .select2-selection--single{border-color:#007a1b;}
select.error + .select2-container--default .select2-selection--single{border-color:#c71810;}
.select2-container--default .select2-selection--single{border-radius: 0; border-color: #d9d9d9; background-color: #ececec;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{    border-width: 5px 3px 0 3px; border-color: #000 transparent transparent transparent;}
.select2-container--default .select2-selection--single .select2-selection__arrow{width: 27px; height: 100%;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #000 transparent;  border-width: 0 3px 5px 3px; }
.select2-container .select2-selection--single{height: 38px; line-height: 38px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 38px;}