<div class="banner">
    <div class="banner__slider js-mainslider">
        <div class="banner__slide">
            <a href="#"><img src="images/bababa.jpg" alt=""><img class="banner__mobimg" src="images/234bb.jpg" alt=""></a>
        </div>
        <div class="banner__slide">
            <a href="#"><img src="images/bababa.jpg" alt=""><img class="banner__mobimg" src="images/234bb.jpg" alt=""></a>
        </div>
        <div class="banner__slide">
            <a href="#"><img src="images/bababa.jpg" alt=""><img class="banner__mobimg" src="images/234bb.jpg" alt=""></a>
        </div>
        <div class="banner__slide">
            <a href="#"><img src="images/bababa.jpg" alt=""><img class="banner__mobimg" src="images/234bb.jpg" alt=""></a>
        </div>
        <div class="banner__slide">
            <a href="#"><img src="images/bababa.jpg" alt=""><img class="banner__mobimg" src="images/234bb.jpg" alt=""></a>
        </div>
    </div>
    <div class="banner__nav">
        <div class="banner__dots js-mainslider-paging"></div>
        <div class="banner__arrows">
            <div class="banner__arrow banner__arrow--prev js-mainslider-prev"></div>
            <div class="banner__arrow banner__arrow--next js-mainslider-next"></div>
        </div>
    </div>
</div>