<div class="breadcrumbs">
    <div class="breadcrumbs__wrap">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="#">Головна</a></li>
            <li class="breadcrumbs__item"><a href="#">Оргтехніка</a></li>
            <li class="breadcrumbs__item"><a href="#">Офісна техніка</a></li>
            <li class="breadcrumbs__item"><span>Калькулятори</span></li>
        </ul>
    </div>
</div>