<div class="cabmenu js-dd-box">
    <div class="cabmenu__banner">
        <div class="cabmenu__banner-l">
            <svg>
                <use xlink:href="#bonus"></use>
            </svg>
            <p>Ваш бонусний рахунок: <br>
                <b><em>70</em> бонусів</b>
            </p>
        </div>

    </div>
    <div class="cabmenu__banner">
        <div class="cabmenu__banner-l">
            <svg>
                <use xlink:href="#sale"></use>
            </svg>
            <p>Персональна <br>
                Знижка</p>
        </div>
        <b><em>99%</em></b>
    </div>
    <div class="cabmenu__title js-dd-btn">
        <b>Мій кабінет</b>
        <div class="butter cabmenu__butter"><span></span><span></span><span></span></div>
    </div>
    <ul class="cabmenu__list js-dd-hid">
        <li><a href="#"><span>Особисті дані</span> </a></li>
        <li><a href="#"><span>Обране</span><em>(20)</em></a></li>
        <li><a href="#"><span>Кошик</span><em>(169)</em></a></li>
        <li><a href="#"><span>Лист очікування</span> </a></li>
        <li><a href="#"><span>Мої замовлення</span><em>(58)</em></a></li>
        <li><a href="#"><span>Мої відгуки</span> </a></li>
        <li><a href="#"><span>Переглянуті товари</span> </a></li>
        <li><a href="#"><span>Розсилки</span></a></li>
        <li><a href="#"><span>Участь в акціях</span> </a></li>
        <li><a href="#"><span>Мої клуби</span> </a></li>
        <li><a href="#"><span>Моє листування</span> </a></li>
        <li><a href="#"><span>Змінити пароль</span> </a></li>
        <li><a href="#"><span>Вийти</span> </a></li>
    </ul>
</div>