
<div class="card__wrap">
    <div class="card__title card__title--mob">
        <h2>Рюкзак 2U Younger 447735  сіро-буро-малиновий в клiтину</h2>
    </div>
    <div class="card">
        <div class="card__slider">
            <div class="slider-navigator__col">
                <div class="slider-navigator js-slider-navigator">
                    <div class="slider-navigator__slide">
                        <div class="slider-navigator__slide-wrap">
                            <div>
                                <img src="images/product.png" alt="1">
                            </div>
                        </div>
                    </div>
                    <div class="slider-navigator__slide">
                        <div class="slider-navigator__slide-wrap">
                            <div>
                                <img src="images/product.png" alt="1">
                            </div>
                        </div>
                    </div>
                    <div class="slider-navigator__slide">
                        <div class="slider-navigator__slide-wrap">
                            <div>
                                <img src="images/product.png" alt="1">
                            </div>
                        </div>
                    </div>
                    <div class="slider-navigator__slide">
                        <div class="slider-navigator__slide-wrap">
                            <div>
                                <img src="images/product.png" alt="1">
                            </div>
                        </div>
                    </div>
                    <div class="slider-navigator__slide">
                        <div class="slider-navigator__slide-wrap">
                            <div>
                                <img src="images/product.png" alt="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-rule__col">
                <div class="product__labels">
                    <span class="product__label product__label--orange">  новинка </span>
                </div>
                <div class="slider-rule js-slider-rule">
                    <div class="slider-rule__slide">
                        <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                            <a href="images/product.png" data-fancybox="gallery01">
                                <img src="images/product.png" alt="1" data-object-fit="contain">
                            </a>
                        </div>
                    </div>
                    <div class="slider-rule__slide">
                        <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                            <a href="images/product.png" data-fancybox="gallery01">
                                <img src="images/product.png" alt="1" data-object-fit="contain">
                            </a>
                        </div>
                    </div>
                    <div class="slider-rule__slide">
                        <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                            <a href="images/product.png" data-fancybox="gallery01">
                                <img src="images/product.png" alt="1" data-object-fit="contain">
                            </a>
                        </div>
                    </div>
                    <div class="slider-rule__slide">
                        <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                            <a href="images/product.png" data-fancybox="gallery01">
                                <img src="images/product.png" alt="1" data-object-fit="contain">
                            </a>
                        </div>
                    </div>
                    <div class="slider-rule__slide">
                        <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                            <a href="images/product.png" data-fancybox="gallery01">
                                <img src="images/product.png" alt="1" data-object-fit="contain">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__description">
            <div class="card__title">
                <h2>Рюкзак 2U Younger 447735  сіро-буро-малиновий в клiтину</h2>
            </div>
            <div class="card__rankinfo">
                <div class="card__rank">
                    <div class="product__rate no-hover">
                        <div class="product__stars-box">
                            <svg>
                                <use xlink:href="#fivestars"></use>
                            </svg>
                        </div>
                        <div class="product__stars-behind" style="width: 30%"></div>
                    </div>
                    <span>/</span>
                    <div class="product__quote">
                        <a href="#" class="product__people" onclick="goToTabs(event);">
                            <svg>
                                <use xlink:href="#quote"></use>
                            </svg>
                            <span>16</span>
                        </a>
                    </div>
                    <div class="card__bonus card__bonus--mob">
                        <svg>
                            <use xlink:href="#bonus"></use>
                        </svg>
                        <b>15</b>
                    </div>
                </div>
                <div class="card__info">
                    <div class="product__plaha product__plaha--right">
                        <svg>
                            <use xlink:href="#have"></use>
                        </svg>
                        <span>в наявності</span>
                    </div>
                    <div class="product__plaha product__plaha--left">
                        <span>Арт.: </span>
                        <span>К123 456</span>
                    </div>

                </div>
            </div>
            <div class="card__price">
                <div class="product__prices">
                    <div class="product__old-price">
                        <span>1200.00</span>
                        <span>грн</span>

                    </div>
                    <div class="product__price">
                        <span>99 129.00</span>
                        <span>грн.</span>
                    </div>
                </div>
                <div class="card__bonus">
                    <svg>
                        <use xlink:href="#bonus"></use>
                    </svg>
                    <span><b>10</b> бонусiв</span>
                </div>
                <div class="card__price-btns">
                    <div class="product__opt-wrap">
                        <div class="product__opt">
                            <div class="product__counter js-prod-counter">
                                <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                <input type="text" value="1" class="js-count">
                                <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                            </div>
                        </div>
                        <div class="product__opt">
                            <button type="button" class="btn btn--full">
                                <span>В КОШИК</span>
                            </button>
                        </div>
                    </div>
                    <a href="#" class="btn btn--white btn--full"><span>купити в один клiк</span></a>

                </div>
            </div>
            <div class="card__like">
                <div class="product__heart js-like card__heart">
                    <svg>
                        <use xlink:href="#like"></use>
                    </svg>
                    <span>Додати до списку бажань</span>
                </div>
                <a href="javascript:;" onclick="$(this).toggleClass('active')" class="product__comparison">
                    <svg>
                        <use xlink:href="#comparison"></use>
                    </svg>
                    <span>Додати до порівняння</span>
                    <span class="add-acitve-on-href"> у порівнянні</span>
                </a>
            </div>
            <div class="card__btns">
                <a href="#" class="card__button card__button--dostavka">
                    <svg>
                        <use xlink:href="#dostavka"></use>
                    </svg>
                    <b>Доставка</b>
                    <svg>
                        <use xlink:href="#infocunt"></use>
                    </svg>
                </a>
                <a href="#" class="card__button card__button--garranty">
                    <svg>
                        <use xlink:href="#garanty"></use>
                    </svg>
                    <b>Гарантія</b>
                    <svg>
                        <use xlink:href="#infocunt"></use>
                    </svg>
                </a>
                <a href="#" class="card__button card__button--oplata">
                    <svg>
                        <use xlink:href="#oplata"></use>
                    </svg>
                    <b>Оплата</b>
                    <svg>
                        <use xlink:href="#infocunt"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>