<ul class="cataloglist">
    <li>
        <div class="cataloglist__main-box js-podmenu-btn">
                    <b>до попереднього розділу</b>
            <div class="banner__arrow banner__arrow--prev "></div>
        </div>
        <a href="#">Все для живопису су пер</a>
        <ul>
            <li><a href="#">Інструменти для мистецтва</a></li>
            <li><a href="#">Мольберти, етюдники</a></li>
            <li><a href="#">Полотно на картоні</a></li>
            <li><a href="#">Полотна на підрамнику</a></li>
            <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
            <li><a href="#">Розчинники та інші рідини для фарб</a></li>
            <li><a href="#">Універсальні лаки для живопису</a></li>
            <li><a href="#">Папір для пастелі</a></li>
            <li><a href="#">Папір акварельний, картон</a></li>
            <li><a href="#">Альбоми, склейки, блокноти</a></li>
            <li><a href="#">Акварель професійна</a></li>
            <li><a href="#">Гуаш професійна</a></li>
            <li><a href="#">Олія, темпера професійна</a></li>
            <li><a href="#">Акрил</a></li>
            <li><a href="#">Контури універсальні</a></li>
            <li><a href="#">Набори пензлів</a></li>
            <li><a href="#">Пензлі</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Графіка, креслення</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Декупаж, кракелюр</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Вітраж, розпис скла та кераміки</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Скрапбукінг та кардмейкінг</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Моделювання та дизайн</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Квілінг</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Ліплення, скульптура</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Валяння</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Набори для творчості  в різних техніках</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
    <li>
        <a href="#">test</a>
        <ul>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
            <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
            <li><a href="#">Пастель олійна, суха, акварельна</a></li>
            <li><a href="#">Туш, пера</a></li>
            <li><a href="#">Папір для креслення, картон</a></li>
        </ul>
    </li>
</ul>