    <div class="bg--gray layer-up">
        <div class="mbox">
            <div class="scelet">
                <div class="scelet__left">
                    <div class="catalognav">
                        <a href="#123" class="catalognav__top  js-catalog-btn">
                            <span>Каталог</span>
                            <div class="butter">
                                <span></span><span></span><span></span>
                            </div>
                            <div class="catalognav__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="catalognav__dropdown">
                            <div class="catalognav__mid js-catalog-list">
                                <div class="catalognav__closer">
                                    КАТАЛОГ
                                    <button type="button" class="topbanner__cross js-close-catalog"></button>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div  class=" catalognav__item js-next-menu">
                                    <div class="js-show-box catalognav__href">
                                        <a href="#">Шкiльнi товари</a><span class="banner__arrow--next banner__arrow"></span>
                                    </div>
                                    <div class="catalognav__box js-pod-menu">
                                        <ul class="cataloglist">
                                            <li>
                                                <div class="cataloglist__main-box js-podmenu-btn">
                                                    <b>до попереднього розділу</b>
                                                    <div class="banner__arrow banner__arrow--prev "></div>
                                                </div>
                                                <a href="#">Все для живопису су пер</a>
                                                <ul>
                                                    <li><a href="#">Інструменти для мистецтва</a></li>
                                                    <li><a href="#">Мольберти, етюдники</a></li>
                                                    <li><a href="#">Полотно на картоні</a></li>
                                                    <li><a href="#">Полотна на підрамнику</a></li>
                                                    <li><a href="#">Картон ґрунтований, рамки та планшети</a></li>
                                                    <li><a href="#">Розчинники та інші рідини для фарб</a></li>
                                                    <li><a href="#">Універсальні лаки для живопису</a></li>
                                                    <li><a href="#">Папір для пастелі</a></li>
                                                    <li><a href="#">Папір акварельний, картон</a></li>
                                                    <li><a href="#">Альбоми, склейки, блокноти</a></li>
                                                    <li><a href="#">Акварель професійна</a></li>
                                                    <li><a href="#">Гуаш професійна</a></li>
                                                    <li><a href="#">Олія, темпера професійна</a></li>
                                                    <li><a href="#">Акрил</a></li>
                                                    <li><a href="#">Контури універсальні</a></li>
                                                    <li><a href="#">Набори пензлів</a></li>
                                                    <li><a href="#">Пензлі</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Графіка, креслення</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Декупаж, кракелюр</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Вітраж, розпис скла та кераміки</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Скрапбукінг та кардмейкінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Моделювання та дизайн</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Квілінг</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Ліплення, скульптура</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Валяння</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Набори для творчості  в різних техніках</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test</a>
                                                <ul>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                    <li><a href="#">Вугілля, олівці, соуси, графітні матеріали</a></li>
                                                    <li><a href="#">Пастель олійна, суха, акварельна</a></li>
                                                    <li><a href="#">Туш, пера</a></li>
                                                    <li><a href="#">Папір для креслення, картон</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="catalognav__bot js-next-menu">
                                <div class="js-show-box catalognav__href">
                                    <a href="#rishennya" data-fancybox="">Галузевi рiшення</a>
                                    <div class="butter">
                                        <span></span><span></span><span></span>
                                    </div>
                                </div>
                                <div class="catalognav__box js-pod-menu">
                                    <div class="industry">
                                        <a href="#" class="industry__item">
                                            <img src="images/jp1.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Склади і виробництво</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp2.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Товари для торгівлі</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/j3.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Банківський сектор</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp4.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Ресторани, бари і кафе</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp5.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Готелі, хостели</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp6.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Професійне прибирання</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp7.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Товари для освітніх установ</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp8.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Медицина</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="#" class="industry__item">
                                            <img src="images/jp9.jpg" alt="" data-object-fit="cover">
                                            <div class="industry__title">Наші послуги</div>
                                            <div class="industry__decor">
                                                <svg>
                                                    <use xlink:href="#decor"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="scelet__right">
                    <div class="searchfield">
                        <div class="searchfield__input">
                            <input type="text" placeholder="Пошук" class="js-show-result">
                            <button type="button">
                                <svg>
                                    <use xlink:href="#glass"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="searchfield__tel">
                            <svg>
                                <use xlink:href="#phone"></use>
                            </svg>
                            <a href="tel:050 376 80 05">050 376 80 05</a>
                        </div>
                        <a href="#callback" data-fancybox="" class="btn btn--lowercase"><span>Замовити Дзвiнок</span></a>
                        <div class="searchfield__result">
                            <div class="searchfield__res-wrap">
                                <a href="#" class="searchfield__item">
                                    <div class="searchfield__item-img">
                                        <img src="images/product.png" alt="">
                                    </div>
                                    <div class="searchfield__item-name">
                                        <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                                        <p>Арт.: ВМ.5403</p>
                                    </div>
                                    <div class="searchfield__item-price">5,99 грн.</div>
                                </a>
                                <a href="#" class="searchfield__item">
                                    <div class="searchfield__item-img">
                                        <img src="images/product.png" alt="">
                                    </div>
                                    <div class="searchfield__item-name">
                                        <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                                        <p>Арт.: ВМ.5403</p>
                                    </div>
                                    <div class="searchfield__item-price">5,99 грн.</div>
                                </a>
                                <a href="#" class="searchfield__item">
                                    <div class="searchfield__item-img">
                                        <img src="images/product.png" alt="">
                                    </div>
                                    <div class="searchfield__item-name">
                                        <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                                        <p>Арт.: ВМ.5403</p>
                                    </div>
                                    <div class="searchfield__item-price">5,99 грн.</div>
                                </a>
                                <a href="#" class="searchfield__item">
                                    <div class="searchfield__item-img">
                                        <img src="images/product.png" alt="">
                                    </div>
                                    <div class="searchfield__item-name">
                                        <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                                        <p>Арт.: ВМ.5403</p>
                                    </div>
                                    <div class="searchfield__item-price">5,99 грн.</div>
                                </a>
                                <a href="#" class="searchfield__item">
                                    <div class="searchfield__item-img">
                                        <img src="images/product.png" alt="">
                                    </div>
                                    <div class="searchfield__item-name">
                                        <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                                        <p>Арт.: ВМ.5403</p>
                                    </div>
                                    <div class="searchfield__item-price">5,99 грн.</div>
                                </a>
                                <div class="searchfield__btn">
                                    <a href="#" class="btn btn--lowercase"><span>Переглянути Всi Результати</span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>