<div class="comments">
    <div class="comments__white">
        <div class="comments__top">
            <div class="comments__top-l">
                <svg>
                    <use xlink:href="#feeds"></use>
                </svg>
                <span>Всього <br> вiдгукiв:</span>
                <b>106</b>
            </div>
            <a href="#form-feed" class="btn anchor"><span>залишити вiдгук</span></a>
        </div>
        <div class="comments__box">
            <div class="feedback feedback--noborder">
                <div class="feedback__top">
                    <div class="feedback__title">
                        <b>Олег Борисенко</b>
                        <div class="product__rate product__rate--noaction ">
                            <div class="product__stars-box">
                                <svg>
                                    <use xlink:href="#fivestars"></use>
                                </svg>
                            </div>
                            <div class="product__stars-behind" style="width: 30%"></div>
                        </div>
                    </div>
                    <div class="feedback__date"><span>1  квiтня 2018</span></div>
                </div>
                <div class="feedback__body">
                    <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                </div>
                <div class="feedback__bot">
                    <a href="#" class="feedback__write js-answer-popup" >
                        <svg>
                            <use xlink:href="#feedarrow"></use>
                        </svg>
                        <span>Відповісти</span>
                    </a>

                </div>
            </div>
            <div class="feedback js-dd-box">
                <div class="feedback__top">
                    <div class="feedback__title">
                        <b>Олег Борисенко</b>
                        <div class="product__rate product__rate--noaction ">
                            <div class="product__stars-box">
                                <svg>
                                    <use xlink:href="#fivestars"></use>
                                </svg>
                            </div>
                            <div class="product__stars-behind" style="width: 30%"></div>
                        </div>
                    </div>
                    <div class="feedback__date"><span>1  квiтня 2018</span></div>
                </div>
                <div class="feedback__body">
                    <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                </div>
                <div class="feedback__bot">
                    <a href="#" class="feedback__write js-answer-popup">
                        <svg>
                            <use xlink:href="#feedarrow"></use>
                        </svg>
                        <span>Відповісти</span>
                    </a>
                    <div class="feedback__count">
                        <svg>
                            <use xlink:href="#quote"></use>
                        </svg>
                        <b>1</b>
                        <span>відповідь</span>
                    </div>
                    <button type="button" class="feedback__show js-dd-btn">
                        <span> Показати всі відповіді</span>
                        <span class="add-acitve"> Сховати всі відповіді</span>
                    </button>
                </div>
                <div class="feedback__answer">
                    <div class="feedback ">
                        <div class="feedback__top">
                            <div class="feedback__title">
                                <b>Олег Борисенко</b>
                            </div>
                            <div class="feedback__date"><span>1  квiтня 2018</span></div>
                        </div>
                        <div class="feedback__body">
                            <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                        </div>
                        <div class="feedback__bot">
                            <a href="#" class="feedback__write js-answer-popup">
                                <svg>
                                    <use xlink:href="#feedarrow"></use>
                                </svg>
                                <span>Відповісти</span>
                            </a>
                        </div>
                    </div>
                    <div class="feedback__hid js-dd-hid">
                        <div class="feedback ">
                            <div class="feedback__top">
                                <div class="feedback__title">
                                    <b>Олег Борисенко</b>
                                </div>
                                <div class="feedback__date"><span>1  квiтня 2018</span></div>
                            </div>
                            <div class="feedback__body">
                                <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                            </div>
                            <div class="feedback__bot">
                                <a href="#" class="feedback__write js-answer-popup">
                                    <svg>
                                        <use xlink:href="#feedarrow"></use>
                                    </svg>
                                    <span>Відповісти</span>
                                </a>
                            </div>
                        </div>
                        <div class="feedback ">
                            <div class="feedback__top">
                                <div class="feedback__title">
                                    <b>Олег Борисенко</b>
                                </div>
                                <div class="feedback__date"><span>1  квiтня 2018</span></div>
                            </div>
                            <div class="feedback__body">
                                <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                            </div>
                            <div class="feedback__bot">
                                <a href="#" class="feedback__write js-answer-popup">
                                    <svg>
                                        <use xlink:href="#feedarrow"></use>
                                    </svg>
                                    <span>Відповісти</span>
                                </a>
                            </div>
                        </div>
                        <div class="feedback ">
                            <div class="feedback__top">
                                <div class="feedback__title">
                                    <b>Олег Борисенко</b>
                                </div>
                                <div class="feedback__date"><span>1  квiтня 2018</span></div>
                            </div>
                            <div class="feedback__body">
                                <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                            </div>
                            <div class="feedback__bot">
                                <a href="#" class="feedback__write js-answer-popup">
                                    <svg>
                                        <use xlink:href="#feedarrow"></use>
                                    </svg>
                                    <span>Відповісти</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog__showmore">
        <a href="#" class="btn btn--white"><span>Показати ще 9</span></a>
    </div>
    //= paginator.html
    <div class="comments__white" id="form-feed">
        <div class="feedform__title">
            <h6>залишiть ваш вiдгук</h6>
        </div>
        <form class="feedform">
            <div class="feedform__row">
                <div class="feedform__left">
                    <div class="feedform__subrow">
                        <div class="feedform__col">
                            <div class="feedform__input">
                                <input type="text" placeholder="Ваше ім'я">
                            </div>
                        </div>
                        <div class="feedform__col">
                            <div class="feedform__input">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="feedform__input">
                        <textarea name="test" placeholder="Ваш вiдгук"></textarea>
                    </div>
                </div>
                <div class="feedform__right">
                    <div class="feedform__rating">
                        <span>Поставте вашу оцінку
                        нашому товару</span>
                        <div class="product__rate feedform__rate">
                            <div class="product__stars-box">
                                <svg>
                                    <use xlink:href="#fivestars"></use>
                                </svg>
                            </div>
                            <div class="product__stars-behind" style="width: 0%"></div>
                            <div class="product__linked">
                                <input type="radio" name="starz" class="product__some" id="starz1"><label for="starz1"></label>
                                <input type="radio" name="starz" class="product__some" id="starz2"><label for="starz2"></label>
                                <input type="radio" name="starz" class="product__some" id="starz3"><label for="starz3"></label>
                                <input type="radio" name="starz" class="product__some" id="starz4"><label for="starz4"></label>
                                <input type="radio" name="starz" class="product__some" id="starz5"><label for="starz5"></label>
                            </div>
                        </div>
                    </div>
                    <div class="feedform__recapcha">
                        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                    </div>
                </div>
            </div>
            <div class="feedform__row">
                <div class="feedform__left">
                    <div class="feedform__atension">
                        <b>Увага!</b>
                        <p>Ваш вiдгук буде опублiковано пiсля обробки модератором.</p>
                    </div>
                </div>
                <div class="feedform__right">
                    <button type="submit" class="btn btn--full"><span>залишити вiдгук</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
