<div class="filter">
    <div class="filter__wraper">
        <div class="filter__block  js-dd-box">
            <div class="filter__title js-dd-btn">
                <p>Ціна</p>
                <button type="button" ></button>
            </div>
            <div class="filter__content js-dd-hid">
                <div class="filter__range ofcntr">
                    <div class="js-slider-range" data-min="0" data-max="15000" data-start="1000" data-end="14000"></div>
                    <div class="filter__range-result">
                        <input type="text" class="js-slider-range-min" value="1000">
                        <b>-</b>
                        <input type="text" class="js-slider-range-max" value="14000">
                        <span>грн.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter__block  js-dd-box">
            <div class="filter__title js-dd-btn">
                <p>Ціна 2</p>
                <button type="button" ></button>
            </div>
            <div class="filter__content js-dd-hid">
                <div class="filter__range ofcntr">
                    <div class="js-slider-range" data-min="0" data-max="15000" data-start="1000" data-end="14000"></div>
                    <div class="filter__range-result">
                        <input type="text" class="js-slider-range-min" value="1000">
                        <b>-</b>
                        <input type="text" class="js-slider-range-max" value="14000">
                        <span>грн.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter__block  js-dd-box">
            <div class="filter__title js-dd-btn">
                <p>Виробник</p>
                <button type="button"></button>
            </div>
            <div class="filter__content js-dd-hid">
                <div class="filter__btn">
                    <a href="#" class="btn btn--white btn--full"><span>топ бренди</span></a>
                </div>
                <div class="filter__inputs js-red-scroll scroll__box">
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Brilliant</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>CITIZEN</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>DAYMON</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Brilliant</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>CITIZEN</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>DAYMON</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Brilliant</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>CITIZEN</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>DAYMON</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Brilliant</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>CITIZEN</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>DAYMON</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter__block  js-dd-box">
            <div class="filter__title js-dd-btn">
                <p>Тип</p>
                <button type="button"></button>
            </div>
            <div class="filter__content js-dd-hid">
                <div class="filter__inputs">
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Brilliant</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>CITIZEN</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>DAYMON</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter__block  js-dd-box">
            <div class="filter__title js-dd-btn">
                <p>Розрядність</p>
                <button type="button" ></button>
            </div>
            <div class="filter__content js-dd-hid">
                <div class="filter__inputs js-red-scroll scroll__box">
                    <label class="styled">
                        <input type="checkbox"><i></i><span>8-ми</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>10-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>12-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>8-ми</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>10-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>12-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>8-ми</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>10-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>12-ти</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter__block  js-dd-box">
            <div class="filter__title js-dd-btn">
                <p>Живлення</p>
                <button type="button"></button>
            </div>
            <div class="filter__content js-dd-hid">
                <div class="filter__inputs js-red-scroll scroll__box">
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Батарейка</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Комбіноване</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>Сонячна батарейка</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>8-ми</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>10-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>12-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>8-ми</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>10-ти</span>
                    </label>
                    <label class="styled">
                        <input type="checkbox"><i></i><span>12-ти</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter__block">
            <div class="filter__controls">
                <a href="#" class="btn btn--lowercase btn--full"><span>Показати Результати</span></a>
                <a href="#"><span class="catalog__cross"></span><span>Скинути налаштування</span></a>
            </div>
            
        </div>
    </div>
    <button type="button"  class="filter__mobbtn" onclick="$(this).closest('.filter').addClass('active')">
        <span>Фільтр</span>
        <div class="filter__decor">
            <svg>  <use xlink:href="#decor"></use>  </svg>
        </div>
    </button>
    <div class="filter__mobctrl">
        <a href="#">Скинути</a>
        <button type="button" onclick="$(this).closest('.filter').removeClass('active')">Показати</button>
        <div class="filter__decor">
            <svg>  <use xlink:href="#decor"></use>  </svg>
        </div>
    </div>
</div>