<!-- FOOTER -->

<footer class="footer">
    <div class="mbox">
        <div class="footer__box">
            <div class="footer__column">
                <a href="#" class="header__logo footer__logo">
                    <svg>
                        <use xlink:href="#footer_logo"></use>
                    </svg>
                </a>
                <div class="mainblog__subscribe">
                    <div class="mainblog__form">
                        <span class="mainblog__know">дізнавайся<br>про новини та акції</span>
                        <form action="">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="btn btn--full"> <span>підписатись</span></button>
                        </form>
                    </div>
                    <div class="mainblog__down">
                        <span class="mainblog__know">Долучайтесь до нас<br>у соціальних мережах</span>
                        <div class="mainblog__socials">
                            <a href="#" target="_blank" class="mainblog__soc facebook">
                                <svg>
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="mainblog__soc google">
                                <svg>
                                    <use xlink:href="#google"></use>
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="mainblog__soc instagram">
                                <svg>
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="mainblog__soc vk">
                                <svg>
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="mainblog__soc youtube">
                                <svg>
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="mainblog__soc linked">
                                <svg>
                                    <use xlink:href="#linked"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column--left">
                <a href="#" class="footer__link">Каталог</a>
                <ul class="footer__list">
                    <li class="footer__item-box"><a href="#" class="footer__item"> Шкiльнi товари </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Офiсний товар NEW </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Література </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Товари для мистецтва </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Оргтехнiка </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Подарунки та бiзнес сувенiри </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Послуги </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Побутовi товари та продукти </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Меблi та крicла </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Пакувальні матеріали </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Презентацiйне обладнання </a></li>
                </ul>
            </div>
            <div class="footer__column footer__column--left">
                <a href="#" class="footer__link">Галузевi рiшення</a>
                <ul class="footer__list">
                    <li class="footer__item-box"><a href="#" class="footer__item"> Шкiльнi товари </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Офiсний товар </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Товари для мистецтва </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Послуги </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Побутовi товари та продукти </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Меблi та крicла </a></li>
                    <li class="footer__item-box"><a href="#" class="footer__item"> Презентацiйне обладнання </a></li>
                </ul>
            </div>
            <div class="footer__column footer__column--left">
                <div class="footer__block">
                    <a href="#" class="footer__link">Оплата та доставка</a>
                    <a href="#" class="footer__link">Акцii</a>
                    <a href="#" class="footer__link">Новим клiєнтам</a>
                    <a href="#" class="footer__link">Адреси магазинiв</a>
                    <a href="#" class="footer__link">Бренди</a>
                </div>
                <div class="footer__call">
                    <div class="searchfield__tel footer__tel">
                        <svg>
                            <use xlink:href="#phone"></use>
                        </svg>
                        <a href="tel:050 376 80 05">050 376 80 05</a>
                    </div>
                    <a href="#callback" data-fancybox="" class="btn btn--full"><span>замовити дзвінок</span></a>
                </div>
                <div class="footer__copyright footer__copyright--mobile">
                    Copyright © 2018 All rights reserved
                </div>
            </div>
        </div>
    </div>
    <div class="footer__stripe">
        <div class="mbox">
            <div class="footer__below">
                <div class="footer__copyright">
                    Copyright © 2018 All rights reserved
                </div>
                <div class="footer__made-by">
                    <span>РОЗРОБЛЕНО</span>

                    <a href="https://avivi.pro/" target="_blank" class="footer__brand">
                        <svg class="leaf">
                            <use xlink:href="#leaves"></use>
                        </svg>
                        <svg class="avivi">
                            <use xlink:href="#avivi"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- FOOTER -->
<script>
    var revision = 281118;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/select2.min.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/scrollpane.css">
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/dev2.css">
<link rel="stylesheet" href="css/adapt.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery-ui.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.ui.touch-punch.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/stickyfill.js" ></script>
<script type="text/javascript" src="js/plagins/mousewheel.js" ></script>
<script type="text/javascript" src="js/plagins/scrollpane.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/plagins/select2.min.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>
<script type="text/javascript" src="js/dev2.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
