<div class="header">
    <div class="mbox">
        <div class="header__wrap">
            <a href="#" class="header__logo">
                <svg>
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <div class="header__btns">
                <a href="#" class="btn btn--disabled btn--full"><span>Корпоративним клієнтам</span></a>
                <a href="#" class="btn btn--white btn--full"><span>Роздрібним клієнтам</span></a>
            </div>
            <div class="header__box">
                <div class="header__item js-hd-box">
                    <div class="header__icon">
                        <svg>
                            <use xlink:href="#cabinet"></use>
                        </svg>
                    </div>
                    <div class="header__text js-hd-btn">
                        <a href="#">Мій Кабінет</a><span class="miniarrow"></span>
                    </div>
                    <div class="header__cabinet js-hd-hid">
                        <div class="header__cabinet-wrap">
                            <a href="#" class="header__cabinet-link">
                                <i>
                                    <svg class="icon--info">
                                        <use xlink:href="#info"></use>
                                    </svg>
                                </i>
                                <span>Особисті дані</span>
                            </a>
                            <a href="#" class="header__cabinet-link">
                                 <i>
                                     <svg class="icon--check">
                                         <use xlink:href="#check"></use>
                                     </svg>
                                 </i>
                                <span>Мої замовлення</span>
                            </a>
                            <a href="#" class="header__cabinet-link">

                                <span>Мої замовлення Мої замовлення</span>
                            </a>
                            <a href="#" class="header__cabinet-link">

                                <span>Мої замовлення</span>
                            </a>
                            <a href="#enter" data-fancybox="" class="header__cabinet-link">
                                <i>
                                    <svg class="icon--logout">
                                        <use xlink:href="#logout"></use>
                                    </svg>
                                </i>
                                <span>Вхід</span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="header__item js-hd-box">
                    <div class="header__icon">
                        <svg>
                            <use xlink:href="#femida"></use>
                        </svg>
                        <div class="header__counter">6</div>
                    </div>
                    <div class="header__text js-hd-btn">
                        <a href="#">Порівняння</a>
                    </div>
                    <div class="header__cabinet js-hd-hid">
                        <div class="header__cabinet-wrap">
                            <a href="#" class="header__cabinet-link header__cabinet-link--compare"> <span>Особисті дані</span> </a>
                            <a href="#" class="header__cabinet-link header__cabinet-link--compare"> <span>Особисті дані</span> </a>
                            <a href="#" class="header__cabinet-link header__cabinet-link--compare"> <span>Особисті дані собисті дані собисті дані собисті дані</span> </a>

                        </div>


                    </div>
                </div>
                <div class="header__item js-hd-box">
                    <div class="header__icon">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <div class="header__counter">1234</div>
                    </div>
                    <div class="header__text  js-hd-btn">
                        <a href="#">Кошик</a>
                    </div>
                    <div class="header__basket js-hd-hid">
                        <div class="header__basket-wrap">
                            <div class="header__basket-top">
                                <p>У <a href="#">Вашому Кошику</a></p>
                                <p><b>1830</b>товарiв</p>
                                <p>на суму</p>
                                <p><b>24 999</b>грн</p>
                            </div>
                            <div class="header__basket-bot">
                                <a href="#">Оформити <br> Замовлення</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

