<div class="hidden-block">
    <div class="popup popup--small" id="subscribe">
        <div class="popup__wrap">
            <div class="popup__padding">
                <div class="popup__title">Повідомити про наявність товару?</div>
                <form class="popup__content">
                    <div class="popup__input">
                        <input type="text" placeholder="Ваш E-mail">
                    </div>
                    <br>
                     <button type="submit" style="margin-bottom: 15px;" class="btn"><span>підписатись</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="popup" id="editing">
        <form class="popup__wrap">
            <div class="popup__padding">
                <div class="popup__title">Редагувати</div>
                <div class="popup__content js-input-box">
                    <div class="order__forms-row">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Назва</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row order__fixrow">
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test2" class="js-input-btn" data-input-rel="01">
                                    <i></i>
                                    <span>Кур'єрська Доставка</span>
                                </label>
                            </div>
                        </div>
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test2" class="js-input-btn" checked="checked" data-input-rel="02">
                                    <i></i>
                                    <span>Доставка На Відділення</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Місто</span>
                                <select name="tes12ssst" class="js-select2 error">
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Відділення</span>
                                <select name="tesssst" class="js-select2-simple valid">
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Місто</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Вулиця</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Будинок</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">квартира/офіс</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="popup__input"></div>
                    <div class="popup__input">
                        <label  class="styled" style="justify-content: center;">
                            <input  name="test" type="checkbox"> <i></i> <span>Адреса За Замовчуванням</span>
                        </label>
                    </div>
                    <div class="popup__input">
                        <button type="submit" class="btn"><span>ЗАРЕЄСТРУВАТИСЯ</span></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="popup" id="location">
       <div class="popup__padding">
           <div class="popup__wrap">
               <div class="popup__title">Введіть назву міста або оберіть потрібний зі списку</div>
               <form class="popup__content">
                   <div class="popup__search">
                       <input type="text" placeholder="Пошук">
                   </div>
                   <div class="popup__list">
                       <a href="#">м. Волочиськ</a>
                       <a href="#">м. Городок</a>
                       <a href="#">м. Деражня</a>
                       <a href="#">м. Дунаївці</a>
                       <a href="#">м. Ізяслав</a>
                       <a href="#">м. Кам'янець-Подільський</a>
                       <a href="#">м. Красилів</a>
                       <a href="#">м. Летичів</a>
                       <a href="#">м. Нетішин</a>
                       <a href="#">м. Нова-Ушиця</a>
                       <a href="#">м. Полонне</a>
                       <a href="#">м. Славута</a>
                       <a href="#">м. Староконстянтинів</a>
                       <a href="#">м. Теофіполь</a>
                       <a href="#">м. Тернопіль</a>
                       <a href="#">м. Хмельницький</a>
                       <a href="#">м. Чемерівці</a>
                       <a href="#">м. Чернівці</a>
                       <a href="#">м. Шепетівка</a>
                       <a href="#">м. Ярмолинці</a>
                       <a href="#">м. Бар</a>
                       <a href="#">м. Луцьк</a>
                       <a href="#">м. Рівне</a>
                       <a href="#">м. Нововолинськ</a>
                       <a href="#">м. Ковель</a>
                   </div>
                   <button type="submit" class="btn"><span>Обрати</span></button>
               </form>
           </div>
       </div>
    </div>
    <div class="popup popup--small" id="callback">
        <div class="popup__wrap">
            <div class="popup__padding">
                <div class="popup__title">Замовити дзвінок</div>
                <form class="popup__content">
                    <div class="popup__input">
                        <input type="text" placeholder="Ваше Iм'я">
                    </div>
                    <div class="popup__input">
                        <input type="text" placeholder="Телефон">
                    </div>
                    <p>Ми зелефонуємо вам протягом 1 години.</p>
                    <button type="submit" class="btn"><span>ЗАМОВИТИ</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="popup popup--small" id="quest">
        <div class="popup__wrap">
            <div class="popup__padding">
                <div class="popup__title">Запитуй!</div>
                <form class="popup__content">
                    <div class="popup__input errorText">
                        <p>тут можна виводити помилки з бека</p>
                        <p>якось вот так</p>
                    </div>
                    <div class="popup__input form_row form_input">
                        <input type="text" name="name" placeholder="Ваше Iм'я" required="required">
                    </div>
                    <div class="popup__input form_row form_input">
                        <input type="text" name="tel" placeholder="Телефон" class="tel-mask" required="required">
                    </div>
                    <div class="popup__input form_row form_input">
                        <input type="email" name="email" placeholder="Email" required="required">
                    </div>
                    <div class="popup__input form_row">
                        <textarea placeholder="Ваше питання" ></textarea>
                    </div>
                    <button type="submit" class="btn"><span>Надіслати</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="popup popup--small" id="register">
        <form class="popup__wrap">
            <div class="popup__padding">
                <div class="popup__title">Реєстрація</div>
                <div class="popup__content js-input-box">
                    <div class="popup__phis-ur">
                        <label>
                            <input type="radio" name="ddwq" class="js-input-btn" data-input-rel="01"><span>Фізичні <br> особи</span></input>
                        </label>
                        <label>
                            <input type="radio" name="ddwq" class="js-input-btn" data-input-rel="02" checked="checked"><span>Юридичні <br>особи</span></button>
                        </label>
                    </div>
                    <div class="popup__input js-input-hid" data-input-rel="02">
                        <input type="text" placeholder="Назва компанії">
                    </div>
                    <div class="popup__input">
                        <input type="text" placeholder="Імя">
                    </div>
                    <div class="popup__input">
                        <input type="text" placeholder="прізвище">
                    </div>
                    <div class="popup__input js-input-hid" data-input-rel="02">
                        <input type="text" placeholder="Код ЕДРПОУ">
                    </div>
                    <div class="popup__input">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="popup__input popup__input--relative">
                        <input type="password" placeholder="Пароль">
                        <button type="button" class="popup__eye js-show-pass">
                            <svg>
                                <use xlink:href="#eye"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="popup__input popup__input--relative">
                        <input type="password" placeholder="Підтвердіть пароль">
                        <button  type="button" class="popup__eye js-show-pass">
                            <svg>
                                <use xlink:href="#eye"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="popup__hr"></div>
            <div class="popup__padding">
                <div class="popup__label-place">
                    <label  class="styled">
                        <input  name="test" type="checkbox"> <i></i> <span>Я не проти розсилки новин та акцій магазину</span>
                    </label>
                </div>
                <div class="popup__label-place">
                    <label  class="styled">
                        <input  name="test" type="checkbox"> <i></i>
                        <p>Я погоджуюсь з використанням моїх персональних даних згідно  <a href="#" class="link"> Політики Конфіденційності</a></p>
                    </label>
                </div>
            </div>
            <div class="popup__hr"></div>
            <div class="popup__padding">
                <button type="submit" class="btn"><span>ЗАРЕЄСТРУВАТИСЯ</span></button>
                <div class="popup__agree">
                    <span>Реєструючись, ви погоджуєтеся <br> з <a href="#" class="link"> Користувальницькою угодою</a></span>
                </div>
            </div>
        </form>
    </div>
    <div class="popup popup--small" id="enter">
        <div class="popup__wrap">
            <div class="popup__padding">
                <div class="popup__title">ВХІД В ІНТЕРНЕТ-МАГАЗИН</div>
                <form class="popup__content">
                    <div class="popup__input">
                        <input type="text" placeholder="Ел. пошта">
                    </div>
                    <div class="popup__input">
                        <input type="text" placeholder="Пароль">
                    </div>
                    <div class="popup__input">
                        <div class="popup__label-place popup__label-place--center">
                            <label  class="styled">
                                <input  name="test" type="checkbox"> <i></i> <span>Запам'ятати мене</span>
                            </label>
                        </div>
                    </div>
                    <div class="popup__input">
                        <button type="submit" class="btn"><span>УВІЙТИ</span></button>
                    </div>
                    <a href="#" class="link">Нагадати пароль</a>
                </form>
            </div>
            <div class="popup__hr"></div>
            <div class="popup__padding">
                <div class="popup__title popup__title--nopadding">УВІЙТИ ЯК КОРИСТУВАЧ</div>
                <div class="popup__social">
                    <div class="popup__social-box">
                        <a href="#" class="popup__social-fb">
                            <svg>
                                <use xlink:href="#fb-big"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="#google-colored"></use>
                            </svg>
                        </a>
                    </div>
                    <span>* тільки для фізичних осіб </span>
                </div>
            </div>
            <div class="popup__hr"></div>
            <div class="popup__padding">
                <a  href="#register" data-fancybox="" class="btn"><span>ЗАРЕЄСТРУВАТИСЯ</span></a>
            </div>

        </div>
    </div>
    <div class="popup popup--decisions" id="rishennya">
        <div class="popup__wrap">
            <div class="popup__title">Галузеві рішення</div>
            <div class="js-decisions-field">
                <div class="industry">
                        <a href="#" class="industry__item">
                            <img src="images/jp1.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Склади і виробництво</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp2.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Товари для торгівлі</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/j3.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Банківський сектор</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp4.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Ресторани, бари і кафе</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp5.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Готелі, хостели</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp6.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Професійне прибирання</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp7.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Товари для освітніх установ</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp8.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Медицина</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="industry__item">
                            <img src="images/jp9.jpg" alt="" data-object-fit="cover">
                            <div class="industry__title">Наші послуги</div>
                            <div class="industry__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="popup popup--small" id="tocart">
        <div class="popup__padding">
            <div class="popup__title">Ви додали товар у кошик</div>
            <div class="tocart">
                <img src="images/product.png"  alt="">
                <p><b>Оснащення для штампу
                    Trodat 4642 Синій</b></p>
                <button type="button" class="btn btn--full btn--white" onclick="$.fancybox.close()"><span>Продовжити покупки</span></button>
                <a href="#" class="btn btn--full"><span>Перейти до кошика</span></a>
            </div>
        </div>
    </div>
    <div class="popup" id="prompt">
        <div class="popup__padding">
            <div class="popup__wrap">
                <div class="popup__title">Ви впевнені шо хочете це зробити?</div>
                <div class="popup__row">
                    <div class="popup__col">
                        <button type="button" class="btn"><span>О так</span></button>
                    </div>
                    <div class="popup__col">
                        <button type="button" class="btn btn--white"><span>ну Нє</span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="comments__white" id="form-answer">
        <button type="button" class="topbanner__cross" onclick=" $('.answer-form').remove();"></button>
        <div class="feedform__title">
            <h6>Відповісти</h6>
        </div>
        <form class="feedform">
            <div class="feedform__row">
                <div class="feedform__left">
                    <div class="feedform__subrow">
                        <div class="feedform__col">
                            <div class="feedform__input">
                                <input type="text" placeholder="Ваше ім'я">
                            </div>
                        </div>
                        <div class="feedform__col">
                            <div class="feedform__input">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="feedform__input">
                        <textarea name="test" placeholder="Ваш вiдгук"></textarea>
                    </div>
                </div>
                <div class="feedform__right">
                    <div class="feedform__rating">
                        <span>Поставте вашу оцінку
                        нашому товару</span>
                        <div class="product__rate feedform__rate">
                            <div class="product__stars-box">
                                <svg>
                                    <use xlink:href="#fivestars"></use>
                                </svg>
                            </div>
                            <div class="product__stars-behind" style="width: 30%"></div>
                            <div class="product__linked">
                                <a href="#" class="product__some"></a>
                                <a href="#" class="product__some"></a>
                                <a href="#" class="product__some"></a>
                                <a href="#" class="product__some"></a>
                                <a href="#" class="product__some"></a>
                            </div>
                        </div>
                    </div>
                    <div class="feedform__recapcha">
                        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                    </div>
                </div>
            </div>
            <div class="feedform__row">
                <div class="feedform__left">
                    <div class="feedform__atension">
                        <b>Увага!</b>
                        <p>Ваш вiдгук буде опублiковано пiсля обробки модератором.</p>
                    </div>
                </div>
                <div class="feedform__right">
                    <button type="submit" class="btn btn--full"><span>Відповісти</span></button>
                </div>
            </div>
        </form>
    </div>
</div>