 <div class="maintabs js-tabs-box">
     <div class="maintabs__tabs maintabs__tabs--mob">
         <div class="maintabs__link-wrap">
             <button class="maintabs__link active btn js-tab " data-sort="sort-by-03">
                 <span>ХIТИ ПРОДАЖ</span>
                 <div class="maintabs__decor">
                     <svg>
                         <use xlink:href="#decor"></use>
                     </svg>
                 </div>
             </button>
         </div>
         <div class="maintabs__link-wrap">
             <button class="maintabs__link btn js-tab maintabs__link-wrap-pr" data-sort="sort-by-02">
                 <span>НОВИНКИ</span>
                 <div class="maintabs__decor">
                     <svg>
                         <use xlink:href="#decor"></use>
                     </svg>
                 </div>
             </button>
         </div>
         <div class="maintabs__link-wrap">
             <button class="maintabs__link btn js-tab maintabs__link-wrap-pr" data-sort="sort-by-01">
                 <span>ТОВАРИ ЗІ ЗНИЖКАМИ</span>
                 <div class="maintabs__decor">
                     <svg>
                         <use xlink:href="#decor"></use>
                     </svg>
                 </div>
             </button>
         </div>
     </div>
     <div class="maintabs__fixer">
         <div class="maintabs__container">
             <div class="maintabs__slider js-sort-slider">
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>

                 <div class="maintabs__slide" data-sort="sort-by-02">
                     //= product2.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-02">
                     //= product2.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-02">
                     //= product2.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-02">
                     //= product2.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-02">
                     //= product2.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-02">
                     //= product2.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-03">
                     //= product3.html
                 </div>
                 <div class="maintabs__slide" data-sort="sort-by-01">
                     //= product.html
                 </div>
             </div>
         </div>
     </div>
     <div class="category__mobnav category__mobnav--main">
         <div class="banner__arrow banner__arrow--prev js-bigslider-prev"></div>
         <div class="category__mobnav-txt js-big-slider-text">1 / 8</div>
         <div class="banner__arrow banner__arrow--next js-bigslider-next"></div>
     </div>

 </div>
