<div class="mainsale">
    <div class="mainsale__box">
        <div class="mainsale__col">
            <div class="mainsale__item">
                <a href="#" class="mainsale__link">
                    <img src="images/sale_banner.jpg" alt=""  >
                </a>
            </div>
        </div>
        <div class="mainsale__col mainsale__col--small">
            <div class="mainsale__item mainsale__item--small">
                <a href="#" class="mainsale__link">
                    <img src="images/sale_banner.jpg" alt="" >
                </a>
            </div>
            <div class="mainsale__item mainsale__item--small">
                <a href="#" class="mainsale__link">
                    <img src="images/sale_banner.jpg" alt="" >
                </a>
            </div>
        </div>
        <div class="mainsale__col mainsale__col--small hide992">
            //= product.html
        </div>
    </div>
</div>





