<div class="perevagi">
    <div class="title">
        <h2>Нашi Переваги</h2>
    </div>
    <div class="perevagi__row js-perevagi-slider">
        <a href="#" class="perevagi__item">
            <div class="perevagi__img">
                <svg><use xlink:href="#pere1"></use></svg>
            </div>
            <div class="perevagi__txt">
                <h6>Безкоштовна <br>
                    Доставка</h6>
                <p>Особиста система доставки «Офіс-Центр» забезпечить швидку та вчасну доставку вашого замовлення.</p>
            </div>
        </a>
        <a href="#" class="perevagi__item">
            <div class="perevagi__img">
                <svg><use xlink:href="#pere2"></use></svg>
            </div>
            <div class="perevagi__txt">
                <h6>Особистий <br>
                    Менеджер</h6>
                <p>Кожен корпоративний клієнт отримує особистого менеджера, який надасть професійну допомогу.</p>
            </div>
        </a>
        <a href="#" class="perevagi__item">
            <div class="perevagi__img">
                <svg><use xlink:href="#pere3"></use></svg>
            </div>
            <div class="perevagi__txt">
                <h6>Комплексне <br>
                    Обслуговування</h6>
                <p>Якість робочого процесу
                    Ваших підлеглих повністю залежить від правильно підібраних деталей.</p>
            </div>
        </a>
        <a href="#" class="perevagi__item">
            <div class="perevagi__img">
                <svg><use xlink:href="#pere4"></use></svg>
            </div>
            <div class="perevagi__txt">
                <h6>Додаткові <br>
                    Послуги</h6>
                <p>Заправка та безкоштовна діагностика картриджів, ламінування, виготовлення печаток та штампів</p>
            </div>
        </a>
    </div>
</div>