<div class="mainbrands">
    <div class="title">
        <h2>Наші Бренди</h2>
    </div>
    <div class="mainbrands__slider js-mainbrands-slider">
        <div class="mainbrands__slide">
            <div class="mainbrands__box">
                <div class="brand">
                    <a href="#" class="brand__link">
                        <img src="images/abc.png" alt="">
                    </a>
                    <div class="brand__goods">
                        <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                        <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbrands__slide">
            <div class="mainbrands__box">
                <div class="brand">
                    <a href="#" class="brand__link">
                        <img src="images/abc.png" alt="">
                    </a>
                    <div class="brand__goods">
                        <p class="brand__more"><span class="brand__word">Товарів: </span> <span class="brand__decimal">1 417</span> </p>
                        <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbrands__slide">
            <div class="mainbrands__box">
                <div class="brand">
                    <a href="#" class="brand__link">
                        <img src="images/axent.png" alt="">
                    </a>
                    <div class="brand__goods">
                        <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                        <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbrands__slide">
            <div class="mainbrands__box">
                <div class="brand">
                    <a href="#" class="brand__link">
                        <img src="images/cityzen.png" alt="">
                    </a>
                    <div class="brand__goods">
                        <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                        <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbrands__slide">
            <div class="mainbrands__box">
                <div class="brand">
                    <a href="#" class="brand__link">
                        <img src="images/kite.png" alt="">
                    </a>
                    <div class="brand__goods">
                        <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                        <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

