<div class="mainwatched">
    <div class="title">
        <h2>Ви Дивились</h2>
    </div>
    <div class="mainwatched__container">
        <div class="mainwatched__slider js-watched-slider">
            <div class="maintabs__slide">
                //= product.html
            </div>
            <div class="maintabs__slide">
                //= product.html
            </div>
            <div class="maintabs__slide">
                //= product.html
            </div>
            <div class="maintabs__slide">
                //= product.html
            </div>
            <div class="maintabs__slide">
                //= product.html
            </div>
            <div class="maintabs__slide">
                //= product.html
            </div>
            <div class="maintabs__slide">
                //= product.html
            </div>
        </div>
        <div class="category__mobnav category__mobnav--main">
            <div class="banner__arrow banner__arrow--prev js-watched-prev"></div>
            <div class="category__mobnav-txt js-big-slider-text">1 / 8</div>
            <div class="banner__arrow banner__arrow--next js-watched-next"></div>
        </div>
    </div>

</div>