<div class="mobilemenu">
    <div class="mbox">
        <div class="mobilemenu__wrap">
            <div class="mobilemenu__navigation mobilemenu__item">
                <div class="butter js-mobile-butter">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="mobilemenu__mobile-nav js-mobile-navigation">
                    <div class="navigation">
                        <div class="mbox">
                            <div class="navigation__wrap">
                                <!--<div class="navigation__city">-->
                                    <!--<a data-fancybox="" href="#location" class="navigation__city-btn">-->
                                        <!--<i>-->
                                            <!--<svg>-->
                                                <!--<use xlink:href="#mapmark"></use>-->
                                            <!--</svg>-->
                                        <!--</i>-->
                                        <!--<b>Ваше мaiсто:</b><span>Хмельницький</span><span class="miniarrow"></span>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <div class="navigation__nav">
                                    <!--<div class="navigation__link js-dd-box">-->
                                        <!--<a href="#" class="js-dd-btn"><span>клiєнтам</span><span class="miniarrow"></span></a>-->
                                        <!--<div class="header__cabinet js-dd-hid">-->
                                            <!--<div class="header__cabinet-wrap">-->
                                                <!--<div class="navigation__city-link">пункт меню</div>-->
                                                <!--<div class="navigation__city-link">пункт меню</div>-->
                                                <!--<div class="navigation__city-link">пункт меню</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="navigation__stack">
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#man"></use>
                                                </svg>
                                                <span>Мій кабінет</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#femida-clear"></use>
                                                </svg>
                                                <span>Порівняння</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#cart-clear"></use>
                                                </svg>
                                                <span>Кошик</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="navigation__stack">
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#information"></use>
                                                </svg>
                                                <span>Клієнтам</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#post-box"></use>
                                                </svg>
                                                <span>Оплата та доставка</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#sale"></use>
                                                </svg>
                                                <span>Акції</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#brands"></use>
                                                </svg>
                                                <span>Бренди</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#blog"></use>
                                                </svg>
                                                <span>Блог</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#pointer"></use>
                                                </svg>
                                                <span>Адреси магазинів</span>
                                            </a>
                                        </div>
                                        <div class="navigation__link">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="#chat"></use>
                                                </svg>
                                                <span>FAQ</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="navigation__stack">
                                        <div class="navigation__buttons">
                                            <a href="#" class="btn btn--disabled btn--full"><span>Корпоративним клієнтам</span></a>
                                            <a href="#" class="btn btn--white btn--full"><span>Роздрібним клієнтам</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobilemenu__call-box mobilemenu__item">
                <a href="#callback" data-fancybox class="mobilemenu__call">
                    <svg>
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
            </div>
            <div class="mobilemenu__logo-box mobilemenu__item">
                <a href="#" class="mobilemenu__logo">
                    <svg>
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="mobilemenu__search-box mobilemenu__item">
                <a href="#" class="mobilemenu__search js-mobile-search">
                    <svg>
                        <use xlink:href="#glass"></use>
                    </svg>
                </a>
                <div class="searchfield__input mobilemenu__search-field js-mobile-search-field">
                    <input type="text" placeholder="Пошук" class="js-show-result">
                    <button type="button">
                        <svg>
                            <use xlink:href="#glass"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mobilemenu__cart-box mobilemenu__item">
                <a href="#" class="mobilemenu__cart header__icon">
                    <svg>
                        <use xlink:href="#solocart"></use>
                    </svg>
                    <div class="header__counter">1234</div>
                </a>
            </div>
        </div>
    </div>
</div>
