 <div class="navigation">
     <div class="mbox">
         <div class="navigation__wrap">
             <div class="navigation__city">
                 <a data-fancybox="" href="#location" class="navigation__city-btn">
                     <i>
                         <svg>
                             <use xlink:href="#mapmark"></use>
                         </svg>
                     </i>
                     <b>Ваше мaiсто:</b><span>Хмельницький</span><span class="miniarrow"></span>
                 </a>

             </div>
             <div class="navigation__nav">
                 <div class="navigation__link js-hd-box">
                     <a href="#" class="js-hd-btn"><span>клiєнтам</span><span class="miniarrow"></span></a>
                     <div class="header__cabinet js-hd-hid">
                         <div class="header__cabinet-wrap">
                             <div class="navigation__city-link">пункт меню</div>
                             <div class="navigation__city-link">пункт меню</div>
                             <div class="navigation__city-link">пункт меню</div>
                         </div>
                     </div>
                 </div>
                 <div class="navigation__link">
                     <a href="#" class="active"><span>Оплата та доставка</span></a>
                 </div>
                 <div class="navigation__link">
                     <a href="#"><span>Акцii</span></a>
                 </div>
                 <div class="navigation__link">
                     <a href="#"><span>Бренди</span></a>
                 </div>
                 <div class="navigation__link">
                     <a href="#"><span>Блог</span></a>
                 </div>
                 <div class="navigation__link">
                     <a href="#"><span>Адреси магазинiв</span></a>
                 </div>
                 <div class="navigation__link">
                     <a href="#"><span>FAQ</span></a>
                 </div>
             </div>
         </div>
     </div>
 </div>