<div class="paginator">
    <div class="paginator__wrap">
        <div class="banner__arrow banner__arrow--prev"></div>
        <div class="paginator__link">
            <a href="#" class="active">1</a>
        </div>
        <div class="paginator__link">
            <a href="#">2</a>
        </div>
        <div class="paginator__link">
            <a href="#">3</a>
        </div>

        <div class="paginator__link paginator__link--empty">
            <a href="#">...</a>
        </div>
        <div class="paginator__link">
            <a href="#">747</a>
        </div>
        <div class="banner__arrow banner__arrow--next"></div>
    </div>
</div>