<div class="product__total-wrapper">
<div class="product">
    <div class="product__wrapper">
        <div class="product__top">
            <div class="product__labels">
                <span class="product__label product__label--blue">  Хіт </span>
            </div>
            <div class="product__heart js-like">
                <svg>
                    <use xlink:href="#like"></use>
                </svg>
            </div>
            <div class="product__have product__have--nohave">
                <svg>
                    <use xlink:href="#nohave"></use>
                </svg>
            </div>
            <div class="product__grey">
                <div class="product__plaha product__plaha--left">
                    <span>Арт.: </span>
                    <span>К123 456</span>
                </div>
                <div class="product__plaha product__plaha--right product__have--nohave">
                    <svg>
                        <use xlink:href="#nohave"></use>
                    </svg>
                    <span>Відсутній</span>
                </div>
            </div>
            <a href="#" class="product__prod-href" >
                <img src="images/product.png" alt="" class="product__prod-img" data-object-fit="contain">
            </a>

        </div>
        <div class="product__describe">
            <a href="#" class="product__header"> Сумка Молодiжна <br> KITE GP16-921-4 asdasda Fawrasd asWWsdwwe  </a>
            <div class="product__description">
                <p>Калькулятор Daymon DC-8830N, розміром 142 х 195 х 34 мм, виготовлений з пластику
                    та не містить шкідливих елементів у деталях.
                    Працює за допомогою літієвої батарейки або сонячної. Клавіатура чутлива та не потребує прикладання зусиль під час користування. Два додаткові елементи пам'яті, допоможуть розраховувати більш складні математичні дії.</p>
            </div>
            <div class="product__prices">
                <div class="product__old-price">
                    <span>1200.00</span>
                    <span>грн.</span>

                </div>
                <div class="product__price">
                    <span>129.00</span>
                    <span>грн.</span>
                </div>
            </div>
            <div class="product__options">
                <div class="product__people--mob">
                    <svg>
                        <use xlink:href="#bonus"></use>
                    </svg>
                    <span><b>10</b> бонусiв</span>
                </div>
                <div class="product__opt-wrap">
                    <button class="btn btn--disabled product__opt-cussto"><span>Ви очікуєте даний товар</span></button>
                </div>
            </div>
            <div class="product__ratiomob">
                <div class="product__ratiomob-l">
                    <div class="product__rate">
                        <div class="product__stars-box">
                            <svg>
                                <use xlink:href="#fivestars"></use>
                            </svg>
                        </div>
                        <div class="product__stars-behind" style="width: 30%"></div>
                        <div class="product__linked">
                            <a href="#" class="product__some"></a>
                            <a href="#" class="product__some"></a>
                            <a href="#" class="product__some"></a>
                            <a href="#" class="product__some"></a>
                            <a href="#" class="product__some"></a>
                        </div>
                    </div>
                    <div class="product__quote">
                        <a href="#" class="product__people">
                            <svg>
                                <use xlink:href="#quote"></use>
                            </svg>
                            <span>16</span>
                        </a>
                    </div>
                </div>
                <div class="product__comparison">
                    <a href="javascript:;" onclick="$(this).toggleClass('active')" class="product__comparison">
                        <svg>
                            <use xlink:href="#comparison"></use>
                        </svg>
                        <span>Додати до порівняння</span>
                        <span class="add-acitve-on-href"> у порівнянні</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="product__rating">
            <div class="product__comparison">
                <a href="javascript:;" onclick="$(this).toggleClass('active')" class="product__comparison">
                    <svg>
                        <use xlink:href="#comparison"></use>
                    </svg>
                    <span>Додати до порівняння</span>
                    <span class="add-acitve-on-href"> у порівнянні</span>
                </a>
            </div>
            <div class="product__stars">
                <div class="product__rate">
                    <div class="product__stars-box">
                        <svg>
                            <use xlink:href="#fivestars"></use>
                        </svg>
                    </div>
                    <div class="product__stars-behind" style="width: 30%"></div>
                    <div class="product__linked">
                        <a href="#" class="product__some"></a>
                        <a href="#" class="product__some"></a>
                        <a href="#" class="product__some"></a>
                        <a href="#" class="product__some"></a>
                        <a href="#" class="product__some"></a>
                    </div>
                </div>
                <div class="product__bonus">
                    <div class="product__people">
                        <svg>
                            <use xlink:href="#bonus"></use>
                        </svg>
                        <span>16</span>
                    </div>
                </div>
                <div class="product__quote">
                    <a href="#" class="product__people">
                        <svg>
                            <use xlink:href="#quote"></use>
                        </svg>
                        <span>16</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>