<div class="searchfield">
    <div class="searchfield__input">
        <input type="text" placeholder="Пошук" class="js-show-result">
        <button type="button">
            <svg>
                <use xlink:href="#glass"></use>
            </svg>
        </button>
    </div>
    <div class="searchfield__tel">
        <svg>
            <use xlink:href="#phone"></use>
        </svg>
        <a href="tel:050 376 80 05">050 376 80 05</a>
    </div>
    <a href="#callback" data-fancybox="" class="btn btn--lowercase"><span>Замовити Дзвiнок</span></a>
    <div class="searchfield__result">
        <div class="searchfield__res-wrap">
            <a href="#" class="searchfield__item">
                <div class="searchfield__item-img">
                    <img src="images/product.png" alt="">
                </div>
                <div class="searchfield__item-name">
                    <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                    <p>Арт.: ВМ.5403</p>
                </div>
                <div class="searchfield__item-price">5,99 грн.</div>
            </a>
            <a href="#" class="searchfield__item">
                <div class="searchfield__item-img">
                    <img src="images/product.png" alt="">
                </div>
                <div class="searchfield__item-name">
                    <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                    <p>Арт.: ВМ.5403</p>
                </div>
                <div class="searchfield__item-price">5,99 грн.</div>
            </a>
            <a href="#" class="searchfield__item">
                <div class="searchfield__item-img">
                    <img src="images/product.png" alt="">
                </div>
                <div class="searchfield__item-name">
                    <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                    <p>Арт.: ВМ.5403</p>
                </div>
                <div class="searchfield__item-price">5,99 грн.</div>
            </a>
            <a href="#" class="searchfield__item">
                <div class="searchfield__item-img">
                    <img src="images/product.png" alt="">
                </div>
                <div class="searchfield__item-name">
                    <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                    <p>Арт.: ВМ.5403</p>
                </div>
                <div class="searchfield__item-price">5,99 грн.</div>
            </a>
            <a href="#" class="searchfield__item">
                <div class="searchfield__item-img">
                    <img src="images/product.png" alt="">
                </div>
                <div class="searchfield__item-name">
                    <p><b>Бейдж вертикальний 65*108мм Buromax PVC</b></p>
                    <p>Арт.: ВМ.5403</p>
                </div>
                <div class="searchfield__item-price">5,99 грн.</div>
            </a>
            <div class="searchfield__btn">
                <a href="#" class="btn btn--lowercase"><span>Переглянути Всi Результати</span></a>
            </div>

        </div>
    </div>
</div>