<div class="maintabs maintabs--common js-tab-common-box" id="anhor-tab">
    <div class="maintabs__tabs maintabs__tabs--common">
        <button class="maintabs__link btn js-tab-common-btn  active">
            <span>Опис</span>
            <div class="maintabs__decor">
                <svg>
                    <use xlink:href="#decor"></use>
                </svg>
            </div>
        </button>
        <button class="maintabs__link btn js-tab-common-btn" >
            <span>Характеристики</span>
            <div class="maintabs__decor">
                <svg>
                    <use xlink:href="#decor"></use>
                </svg>
            </div>
        </button>
        <button class="maintabs__link btn js-tab-common-btn"  >
            <span>вiдгуки</span>
            <div class="maintabs__decor">
                <svg>
                    <use xlink:href="#decor"></use>
                </svg>
            </div>
        </button>
    </div>
    <div class="maintabs__content">
        <div class="maintabs__box maintabs__box--common js-tab-common-container active">
            <div class="maintabs__acord-btn">
                <button class=" btn btn--full btn--whitehover js-tab-common-btn-mobile"> <span>Опис</span> </button>
            </div>
            <div class="maintabs__aditional-for-mob">
                <div class="info">
                    <div class="info__text">
                        <p><b>Рюкзак 2U Younger 447735</b>розміром 32*22*12 см, виготовлений з високоякісного голебену та пресованої шкіри. Корпус раньця забезпечує довготривале користування завдяки своїй надійності та високій зносостійкості. Спинка без жосткоъ ортопедичноъ основи, тому рекомендовані навантаження складають до 3 кг.</p>
                        <p>Плечові лямки мають пружну основу, що дозволяє зменшити навантаження на хребет завдяки плавній амортизації. Лямки також обладнані додатковими ремінцями регулювання висоти посадки раньця на спині та правильного балансу ваги.</p>
                        <p>Завдяки світловідбиваючим елементам, водії транспортних засобів заздалегідь побачуть обриси ранця навіть при поганому освітленні дороги. Додатково на корпусі розміщений бокові кармани, в який може поміститьсь пляшечка води або бутерброд. Посилене дно додасть шкіри надійності під час експлуатаціії.</p>
                        <p><em>* Колір або відтінок виробу на фотографії може відрізнятися від реального. Характеристики та комплектація товару можуть змінюватися виробником без інформування.
                            Магазин не несе відповідальності за зміни, внесені виробником.</em></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="maintabs__box maintabs__box--common js-tab-common-container">
            <div class="maintabs__acord-btn">
                <button class=" btn btn--full btn--whitehover js-tab-common-btn-mobile"> <span>Характеристики</span> </button>
            </div>
            <div class="maintabs__aditional-for-mob">
                <div class="info">
                    <table class="table info__table">
                        <tr class="table__tr">
                            <td class="table__td">Ліцензія</td>
                            <td class="table__td">Н / Д</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Стать</td>
                            <td class="table__td">Жіноча</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Корпус</td>
                            <td class="table__td">Пiдвищена зносостійкість</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Спинка</td>
                            <td class="table__td">Без жосткої ортопедичної основи</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Плечові лямки</td>
                            <td class="table__td">Плавна амортизація</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">додатково</td>
                            <td class="table__td">Бокові кармани</td>
                        </tr>

                    </table>
                    <div class="info__text">
                        <p><em>* Колір або відтінок виробу на фотографії може відрізнятися від реального. Характеристики та комплектація товару можуть змінюватися виробником без інформування.
                            Магазин не несе відповідальності за зміни, внесені виробником.</em></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="maintabs__box maintabs__box--common js-tab-common-container ">
            <div class="maintabs__acord-btn">
                <button class=" btn btn--full btn--whitehover js-tab-common-btn-mobile"> <span>вiдгуки</span> </button>
            </div>
            <div class="maintabs__aditional-for-mob">
                //= comments.html
            </div>

        </div>
    </div>


</div>