<div class="topbanner">
    <div class="mbox">
        <div class="topbanner__wrap">
            <a href="#" class="topbanner__text">АКЦiЯ! К празднику 8 марта все женщины получают дополнительную скидку 10% на все товары!</a>
            <button type="button" class="topbanner__cross" onclick="hideThis(this)"></button>
        </div>
    </div>
</div>