//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="title title--simple">
                <h1>Не знайдено, Помилка 404 — сервер не може знайти того, чого вимагає запит від клієнта, хоча контакт з сервером установлено.</h1>
            </div>
        </div>
        <div class="p404">
            <img src="images/404.jpg" alt="">
            <a href="index.html" class="btn"><span>Повернутись на головну</span></a>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html

</div>
</body>
</html>