//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Твори разом з нами!</h1>
            </div>
            <div class="action-inner">
                <div class="btn btn--lowercase no-hover"><span>Акція діє з <b>01.05.17</b> по <b>31.05.17</b></span></div>
                <div class="action-inner__img">
                    <img src="images/act01.jpg" alt="">
                    <img src="images/act01s.jpg" alt="" class="actions__mob">
                </div>
                <div class="action-inner__text">
                    <p><b>Этюдник</b> (французский мольберт) — это мольберт для пленэров с отделением для хранения
                        и переноски красок, кистей и других материалов. Простой этюдник представляет собой коробку с откидной крышкой и защелкой, а более удобный — имеет ножки, чтобы художник работал стоя. К <b>портативному мольберту</b> предъявляют много требований: функциональность, вместительность, легкий вес, устойчивость на неровном грунте или в непогоду.</p>
                    <q>
                        <span>Ми пропонуємо великий вибір мольбертів: як художніх,
так і для творчого розвитку дитини.
Придбайте протягом лютого будь-який мольберт у мережі магазинів «Офіс-Центр» та отримайте знижку 10%!</span>
                    </q>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>