//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Акції</h1>
            </div>
            <div class="actions">
                <a href="#" class="actions__row">
                    <div class="actions__col actions__col--img">
                        <img src="images/act01.jpg" alt="">
                        <img src="images/act01s.jpg" alt="" class="actions__mob">
                    </div>
                    <div class="actions__col">
                        <h2> Твори разом з нами! </h2>
                        <p>Ми пропонуємо великий вибір мольбертів: як художніх,
                            так і для творчого розвитку дитини.
                            Придбайте протягом лютого будь-який мольберт у мережі
                            магазинів «Офіс-Центр» та отримайте знижку 10%!</p>
                        <div href="#" class="btn btn--black no-hover"><span>Акція діє з <b>01.05.17</b> по <b>31.05.17</b></span></div>
                        <div class="actions__decor">
                            <svg>
                                <use xlink:href="#decor"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="actions__row">
                    <div class="actions__col">
                        <h2> Твори разом з нами! </h2>
                        <p>Ми пропонуємо великий вибір мольбертів: як художніх,
                            так і для творчого розвитку дитини.
                            Придбайте протягом лютого будь-який мольберт у мережі
                            магазинів «Офіс-Центр» та отримайте знижку 10%!</p>
                        <div class="btn btn--black no-hover"><span>Акція діє з <b>01.05.17</b> по <b>31.05.17</b></span></div>
                        <div class="actions__decor">
                            <svg>
                                <use xlink:href="#decor"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="actions__col actions__col--img">
                        <img src="images/act02.jpg" alt="">
                        <img src="images/act02s.jpg" alt="" class="actions__mob">
                    </div>
                </a>
                <a href="#" class="actions__row">
                    <div class="actions__col actions__col--img">
                        <img src="images/act03.jpg" alt="">
                        <img src="images/act01s.jpg" alt="" class="actions__mob">
                    </div>
                    <div class="actions__col">
                        <h2> Твори разом з нами! </h2>
                        <p>Ми пропонуємо великий вибір мольбертів: як художніх,
                            так і для творчого розвитку дитини.
                            Придбайте протягом лютого будь-який мольберт у мережі
                            магазинів «Офіс-Центр» та отримайте знижку 10%!</p>
                        <div class="btn btn--black no-hover"><span>Акція діє з <b>01.05.17</b> по <b>31.05.17</b></span></div>
                        <div class="actions__decor">
                            <svg>
                                <use xlink:href="#decor"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="actions__row">
                    <div class="actions__col">
                        <h2> Твори разом з нами! </h2>
                        <p>Ми пропонуємо великий вибір мольбертів: як художніх,
                            так і для творчого розвитку дитини.
                            Придбайте протягом лютого будь-який мольберт у мережі
                            магазинів «Офіс-Центр» та отримайте знижку 10%!</p>
                        <div class="btn btn--black no-hover"><span>Акція діє з <b>01.05.17</b> по <b>31.05.17</b></span></div>
                        <div class="actions__decor">
                            <svg>
                                <use xlink:href="#decor"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="actions__col actions__col--img">
                        <img src="images/act04.jpg" alt="">
                        <img src="images/act02s.jpg" alt="" class="actions__mob">
                    </div>
                </a>
                <a href="#" class="actions__row">
                    <div class="actions__col actions__col--img">
                        <img src="images/act01.jpg" alt="">
                        <img src="images/act01s.jpg" alt="" class="actions__mob">
                    </div>
                    <div class="actions__col">
                        <h2> Твори разом з нами! </h2>
                        <p>Ми пропонуємо великий вибір мольбертів: як художніх,
                            так і для творчого розвитку дитини.
                            Придбайте протягом лютого будь-який мольберт у мережі
                            магазинів «Офіс-Центр» та отримайте знижку 10%!</p>
                        <div  class="btn btn--black no-hover"><span>Акція діє з <b>01.05.17</b> по <b>31.05.17</b></span></div>
                        <div class="actions__decor">
                            <svg>
                                <use xlink:href="#decor"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
            //= partials/paginator.html
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>