//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet cabmenu__scelet">
                <div class="scelet__left">
                    //= partials/cabmenu.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Мої Адреси Доставки</h1>
                        </div>
                        <div class="cabmenu__sorter">
                            <div class="catalog__sorter">
                                <div class="catalog__sort">
                                    <b>Тип доставки:</b>
                                    <div class="catalog__sort-select">
                                        <select name="test" class="js-styler">
                                            <option value="test">Всі</option>
                                            <option value="test">Курєр</option>
                                            <option value="test">Відділення</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn--lowercase"><span>Додати адресу</span></a>
                        </div>
                        <div class="adress">
                            <div class="adress__item">
                                <div class="adress__top">
                                    <b>кур'єрська доставка - ДIМ</b>
                                </div>
                                <div class="adress__bot">
                                    <div class="adress__type">
                                       <div class="adress__txt">
                                           <b>тип доставки: </b>
                                           <p> Кур'єрська доставка</p>
                                       </div>
                                    </div>
                                    <div class="adress__main">
                                        <div class="adress__txt">
                                            <b>Адреса:</b>
                                            <p> 29000 Україна, Хмельницька область,
                                                м. Хмельницький, вул. Подільська, 73/1</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="adress__icons">
                                    <button type="button" class="adress__button adress__button--star">
                                        <svg>
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </button>
                                    <a href="#"  class="adress__button adress__button--edit">
                                        <svg>
                                            <use xlink:href="#edit"></use>
                                        </svg>
                                    </a>
                                    <button type="button" class="adress__button adress__button--del">
                                        <svg>
                                            <use xlink:href="#del"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="adress__item">
                                <div class="adress__top">
                                    <b>кур'єрська доставка - ДIМ</b>
                                </div>
                                <div class="adress__bot">
                                    <div class="adress__type">
                                        <div class="adress__txt">
                                            <b>тип доставки: </b>
                                            <p> Кур'єрська доставка</p>
                                        </div>
                                        <div class="adress__img">
                                            <img src="images/np.png" alt="">
                                        </div>
                                    </div>
                                    <div class="adress__main">
                                        <div class="adress__txt">
                                            <b>Адреса:</b>
                                            <p> 29000 Україна, Хмельницька область,
                                                м. Хмельницький, вул. Подільська, 73/1</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="adress__icons">
                                    <button type="button" class="adress__button adress__button--star">
                                        <svg>
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </button>
                                    <a href="#"  class="adress__button adress__button--edit">
                                        <svg>
                                            <use xlink:href="#edit"></use>
                                        </svg>
                                    </a>
                                    <button type="button" class="adress__button adress__button--del">
                                        <svg>
                                            <use xlink:href="#del"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="adress__item">
                                <div class="adress__top">
                                    <b>кур'єрська доставка - ДIМ</b>
                                </div>
                                <div class="adress__bot">
                                    <div class="adress__type">
                                        <div class="adress__txt">
                                            <b>тип доставки: </b>
                                            <p> Кур'єрська доставка</p>
                                        </div>
                                        <div class="adress__img">
                                            <img src="images/ne.png" alt="">
                                        </div>
                                    </div>
                                    <div class="adress__main">
                                        <div class="adress__txt">
                                            <b>Адреса:</b>
                                            <p> 29000 Україна, Хмельницька область,
                                                м. Хмельницький, вул. Подільська, 73/1</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="adress__icons">
                                    <button type="button" class="adress__button adress__button--star">
                                        <svg>
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </button>
                                    <a href="#"  class="adress__button adress__button--edit">
                                        <svg>
                                            <use xlink:href="#edit"></use>
                                        </svg>
                                    </a>
                                    <button type="button" class="adress__button adress__button--del">
                                        <svg>
                                            <use xlink:href="#del"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        //= partials/paginator.html
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>