//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet">
                <div class="scelet__left stickyfill">
                    <div class="stickyfill__wrap">
                        <div class="promo">
                            <div class="promo__title">Отримайте знижку <br>
                                з промо-коду</div>
                            <div class="promo__input">
                                <input type="text" placeholder="Промо-код">
                            </div>
                            <button class="btn btn--full btn--white"><span>Застосувати</span></button>
                        </div>
                        <div class="price">
                            <div class="price__row">
                                <p>Загальна вартість:</p>
                                <p><b>11 782 грн.</b></p>
                            </div>
                            <div class="price__row">
                                <p>Знижка:</p>
                                <p><b>1 930 грн.</b></p>
                            </div>
                            <div class="price__row">
                                <p><b>До оплати</b></p>
                                <p><b><em>1 930</em> грн.</b></p>
                            </div>
                        </div>
                        <div class="order__info-box order__info-box--cart">
                            <svg>
                                <use xlink:href="#bonus"></use>
                            </svg>
                            <p>
                                <span>За дане замовлення ви отримуєте:</span> <br>
                                <b><em> 96</em> бонусів</b>
                            </p>
                        </div>
                        <div class="cart__infos">
                            <button class="btn btn--full btn--lowercase"><span>Оформити замовлення</span></button>
                            <p>Для отримання безкоштовної доставки
                                по території України вам не вистачає</p>
                            <p><b><em>149</em> грн.</b></p>
                            <p><b> Бажаєте додати товар?</b></p>
                            <button class="btn btn--full btn--black btn--flex"><span>Скинути все<div class="catalog__cross" ></div></span></button>
                            <button class="btn btn--full btn--black"><span>Каталог</span></button>
                            <button class="btn btn--full btn--black"><span>Ви дивились</span></button>
                        </div>
                    </div>

                </div>
                <div class="scelet__right">
                    <div class="cart__wrap">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple cart__title">
                            <h1>Кошик </h1>
                            <div class="cart__title-wrap">
                                <div class="cart__title-l">
                                    <p>В кошику: <b><em>20 </em>товарiв</b></p>
                                </div>
                                <div class="cart__title-r">
                                    <button class="cart__nav" onclick="window.print()"><span><svg><use xlink:href="#print"></use></svg></span></button>
                                    <div class="cart__tumblr">
                                        <label><input type="radio" value="normal" name="ewew" checked="checked"><svg><use xlink:href="#viewnor"></use></svg></label>
                                        <label><input type="radio" value="mini" name="ewew"><svg><use xlink:href="#viewtab"></use></svg></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart__table">
                            <div class="cart__table-th">
                                <div class="cart__table-td"><b>Назва</b></div>
                                <div class="cart__table-td"><b>Цiна</b></div>
                                <div class="cart__table-td"><b>Кількість</b></div>
                                <div class="cart__table-td"><b>Вартість</b></div>
                                <div class="cart__table-td"><b>Бонусiв</b></div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__table-tr">
                                <div class="cart__table-td">
                                    <div class="cart__name-img">
                                        <img src="images/product.png" alt="" data-object-fit="contain">
                                    </div>
                                    <div class="cart__name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                        <p>Арт.: К123 456</p>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="cart__table-td">
                                    <b>134.32 грн</b>
                                </div>
                                <div class="cart__table-td">
                                    <div class="cart__bonus">
                                        <svg>
                                            <use xlink:href="#bonus"></use>
                                        </svg>
                                        <b>15</b>
                                    </div>
                                </div>
                                <div class="cart__item-ctrl">
                                    <button type="button" class="topbanner__cross"></button>
                                    <div class="product__heart js-like">
                                        <svg>
                                            <use xlink:href="#like"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg--gray">
            <div class="mbox">
                //= partials/mainwatched.html
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>