//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Блог</h1>
            </div>
            <div class="scelet blog__page">
                <div class="scelet__left">
                    <div class="tag__list">
                        <label><input type="checkbox"><span class="tag">#Розваги</span></label>
                        <label><input type="checkbox"><span class="tag">#Новини</span></label>
                        <label><input type="checkbox"><span class="tag">#Мiсто</span></label>
                        <label><input type="checkbox"><span class="tag">#Бiзнес</span></label>
                        <label><input type="checkbox"><span class="tag">#Люди</span></label>
                        <label><input type="checkbox"><span class="tag">#Стиль</span></label>
                        <label><input type="checkbox"><span class="tag">#Дiти</span></label>
                        <label><input type="checkbox"><span class="tag">#Канцелярiя</span></label>
                        <label><input type="checkbox"><span class="tag">#Подорожi</span></label>
                        <label><input type="checkbox"><span class="tag">#Презентацiя</span></label>
                        <label><input type="checkbox"><span class="tag">#Школа</span></label>
                    </div>
                    <div class="mainblog__subscribe">
                        <div class="mainblog__form">
                            <span class="mainblog__know">дізнавайся<br>про новини та акції</span>
                            <form action="">
                                <input type="text" placeholder="Email">
                                <button type="submit" class="btn btn--full"> <span>підписатись</span></button>
                            </form>
                        </div>
                        <div class="mainblog__down">
                            <span class="mainblog__know">долучайся<br>до соцмереж</span>
                            <div class="mainblog__socials">
                                <a href="#" class="mainblog__soc facebook">
                                    <svg>
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                                <a href="#" class="mainblog__soc google">
                                    <svg>
                                        <use xlink:href="#google"></use>
                                    </svg>
                                </a>
                                <a href="#" class="mainblog__soc vk">
                                    <svg>
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                </a>
                                <a href="#" class="mainblog__soc youtube">
                                    <svg>
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                                <a href="#" class="mainblog__soc linked">
                                    <svg>
                                        <use xlink:href="#linked"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scelet__right">
                    <div class="blog">
                        <div class="mainblog__box">
                            <div class="mainblog__col">
                                <div class="mainblog__block">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block">
                                        <p> Ювілейна, 90-а церемонія вручення кінопремії «Оскар» побила антирекорд популярності, повідомляє Hollywood Reporter. </p>
                                        <p> Церемонію подивилися всього 26,5 млн глядачів, що на 19% менше, ніж в минулому році. Тоді вручення «Оскара» подивилися 34,3 млн осіб </p>
                                        <div class="tag__list">
                                             <a href="#" class="tag">#Розваги</a>
                                             <a href="#" class="tag">#Новини</a>
                                             <a href="#" class="tag">#Мiсто</a>
                                             <a href="#" class="tag">#Бiзнес</a>
                                             <a href="#" class="tag">#Люди</a>
                                             <a href="#" class="tag">#Стиль</a>
                                             <a href="#" class="tag">#Дiти</a>
                                             <a href="#" class="tag">#Канцелярiя</a>
                                             <a href="#" class="tag">#Подорожi</a>
                                             <a href="#" class="tag">#Презентацiя</a>
                                             <a href="#" class="tag">#Школа</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mainblog__col mainblog__col--small">
                                <div class="mainblog__block mainblog__block--small">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block">
                                        <div class="tag__list">
                                            <a href="#" class="tag">#Розваги</a>
                                            <a href="#" class="tag">#Новини</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="mainblog__block mainblog__block--small">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block ">
                                        <div class="tag__list">
                                            <a href="#" class="tag">#Розваги</a>
                                            <a href="#" class="tag">#Новини</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainblog__box">
                            <div class="mainblog__col mainblog__col--small">
                                <div class="mainblog__block mainblog__block--small">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block">
                                        <div class="tag__list">
                                            <a href="#" class="tag">#Розваги</a>
                                            <a href="#" class="tag">#Новини</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="mainblog__block mainblog__block--small">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block ">
                                        <div class="tag__list">
                                            <a href="#" class="tag">#Розваги</a>
                                            <a href="#" class="tag">#Новини</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mainblog__col">
                                <div class="mainblog__block">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block">
                                        <p> Ювілейна, 90-а церемонія вручення кінопремії «Оскар» побила антирекорд популярності, повідомляє Hollywood Reporter. </p>
                                        <p> Церемонію подивилися всього 26,5 млн глядачів, що на 19% менше, ніж в минулому році. Тоді вручення «Оскара» подивилися 34,3 млн осіб </p>
                                        <div class="tag__list">
                                            <a href="#" class="tag">#Розваги</a>
                                            <a href="#" class="tag">#Новини</a>
                                            <a href="#" class="tag">#Мiсто</a>
                                            <a href="#" class="tag">#Бiзнес</a>
                                            <a href="#" class="tag">#Люди</a>
                                            <a href="#" class="tag">#Стиль</a>
                                            <a href="#" class="tag">#Дiти</a>
                                            <a href="#" class="tag">#Канцелярiя</a>
                                            <a href="#" class="tag">#Подорожi</a>
                                            <a href="#" class="tag">#Презентацiя</a>
                                            <a href="#" class="tag">#Школа</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainblog__box">
                            <div class="mainblog__col">
                                <div class="mainblog__block">
                                    <div class="mainblog__background">
                                        <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <a href="#sss" class="mainblog__header">
                                        <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                                    </a>
                                    <div class="mainblog__low-block">
                                        <p> Ювілейна, 90-а церемонія вручення кінопремії «Оскар» побила антирекорд популярності, повідомляє Hollywood Reporter. </p>
                                        <p> Церемонію подивилися всього 26,5 млн глядачів, що на 19% менше, ніж в минулому році. Тоді вручення «Оскара» подивилися 34,3 млн осіб </p>
                                        <div class="tag__list">
                                            <a href="#" class="tag">#Розваги</a>
                                            <a href="#" class="tag">#Новини</a>
                                            <a href="#" class="tag">#Мiсто</a>
                                            <a href="#" class="tag">#Бiзнес</a>
                                            <a href="#" class="tag">#Люди</a>
                                            <a href="#" class="tag">#Стиль</a>
                                            <a href="#" class="tag">#Дiти</a>
                                            <a href="#" class="tag">#Канцелярiя</a>
                                            <a href="#" class="tag">#Подорожi</a>
                                            <a href="#" class="tag">#Презентацiя</a>
                                            <a href="#" class="tag">#Школа</a>
                                        </div>
                                    </div>
                                    <div class="mainblog__watch">
                                        <span>10</span>
                                        <svg>
                                            <use xlink:href="#eye"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    //= partials/paginator.html
                </div>
            </div>
            <div class="blog__mob">
                <div class="mainblog__subscribe">
                    <div class="mainblog__form">
                        <span class="mainblog__know">дізнавайся<br>про новини та акції</span>
                        <form action="">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="btn btn--full"> <span>підписатись</span></button>
                        </form>
                    </div>
                    <div class="mainblog__down">
                        <span class="mainblog__know">долучайся<br>до соцмереж</span>
                        <div class="mainblog__socials">
                            <a href="#" class="mainblog__soc facebook">
                                <svg>
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                            <a href="#" class="mainblog__soc google">
                                <svg>
                                    <use xlink:href="#google"></use>
                                </svg>
                            </a>
                            <a href="#" class="mainblog__soc vk">
                                <svg>
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                            <a href="#" class="mainblog__soc youtube">
                                <svg>
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                            <a href="#" class="mainblog__soc linked">
                                <svg>
                                    <use xlink:href="#linked"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>