//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Ілон Маск розповів
                    про таємний комедійний проект</h1>
            </div>
            <div class="action-inner">
                <div class="action-inner__img">
                    <img src="images/act01.jpg" alt="">
                    <img src="images/act01s.jpg" alt="" class="actions__mob">
                    <div class="action-inner__watched">
                        <div class="action-inner__date">
                            <span>17:33   16 Березень 2018</span>
                        </div>
                        <div class="action-inner__watch">
                            <span>10</span>
                            <svg>
                                <use xlink:href="#eye"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="action-inner__text">
                    <p><b>Этюдник</b> (французский мольберт) — это мольберт для пленэров с отделением для хранения
                        и переноски красок, кистей и других материалов. Простой этюдник представляет собой коробку с откидной крышкой и защелкой, а более удобный — имеет ножки, чтобы художник работал стоя. К <b>портативному мольберту</b> предъявляют много требований: функциональность, вместительность, легкий вес, устойчивость на неровном грунте или в непогоду.</p>
                    <q>
                        <span>Ми пропонуємо великий вибір мольбертів: як художніх,
так і для творчого розвитку дитини.
Придбайте протягом лютого будь-який мольберт у мережі магазинів «Офіс-Центр» та отримайте знижку 10%!</span>
                    </q>
                    <div class="action-inner__tags">
                        <div class="tag__list">
                            <label><input type="checkbox"><span class="tag">#Розваги</span></label>
                            <label><input type="checkbox"><span class="tag">#Новини</span></label>
                            <label><input type="checkbox"><span class="tag">#Мiсто</span></label>
                            <label><input type="checkbox"><span class="tag">#Бiзнес</span></label>
                            <label><input type="checkbox"><span class="tag">#Люди</span></label>
                            <label><input type="checkbox"><span class="tag">#Стиль</span></label>
                            <label><input type="checkbox"><span class="tag">#Дiти</span></label>
                            <label><input type="checkbox"><span class="tag">#Канцелярiя</span></label>
                            <label><input type="checkbox"><span class="tag">#Подорожi</span></label>
                            <label><input type="checkbox"><span class="tag">#Презентацiя</span></label>
                            <label><input type="checkbox"><span class="tag">#Школа</span></label>
                        </div>
                        <div class="share__list">
                            <a href="#" class="share share--fb">
                                <span>Поділитись</span>
                                <svg>
                                    <use xlink:href="#fb-big"></use>
                                </svg>
                            </a>
                            <a href="#" class="share share--fb">
                                <span>Поділитись</span>
                                <svg>
                                    <use xlink:href="#fb-big"></use>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="bg--gray">
            <div class="mbox">
                <div class="subscribe">
                    <b>дізнавайся
                        про новини та акції</b>
                    <form   class="subscribe__form">
                        <input type="text" placeholder="email">
                        <button class="btn btn--full"><span>пiдписатись</span></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="mbox">
            <div class="action-inner__additional">
                <div class="title title--simple">
                    <h2>Схожі статті</h2>
                </div>
                <div class="mainblog__box action-inner__box">
                    <div class="mainblog__col mainblog__col--small">
                        <div class="mainblog__block mainblog__block--small">
                            <div class="mainblog__background">
                                <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                            </div>
                            <a href="#sss" class="mainblog__header">
                                <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                            </a>
                            <div class="mainblog__low-block">
                                <div class="tag__list">
                                    <a href="#" class="tag">#Розваги</a>
                                    <a href="#" class="tag">#Новини</a>
                                </div>
                            </div>
                            <div class="mainblog__watch">
                                <span>10</span>
                                <svg>
                                    <use xlink:href="#eye"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="mainblog__col mainblog__col--small">
                        <div class="mainblog__block mainblog__block--small">
                            <div class="mainblog__background">
                                <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                            </div>
                            <a href="#sss" class="mainblog__header">
                                <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                            </a>
                            <div class="mainblog__low-block">
                                <div class="tag__list">
                                    <a href="#" class="tag">#Розваги</a>
                                    <a href="#" class="tag">#Новини</a>
                                </div>
                            </div>
                            <div class="mainblog__watch">
                                <span>10</span>
                                <svg>
                                    <use xlink:href="#eye"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="mainblog__col mainblog__col--small">
                        <div class="mainblog__block mainblog__block--small">
                            <div class="mainblog__background">
                                <img src="images/block-bg.jpg" alt="" data-object-fit="cover">
                            </div>
                            <a href="#sss" class="mainblog__header">
                                <span>«Оскар-2018» став найнепопулярнішим  в історії</span>
                            </a>
                            <div class="mainblog__low-block">
                                <div class="tag__list">
                                    <a href="#" class="tag">#Розваги</a>
                                    <a href="#" class="tag">#Новини</a>
                                </div>
                            </div>
                            <div class="mainblog__watch">
                                <span>10</span>
                                <svg>
                                    <use xlink:href="#eye"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>