//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Наші Бренди</h1>
            </div>
            <div class="brands">
                <div class="brands__top">
                    <div class="brands__best">
                        <div class="brands__best-bg">
                            <img src="images/brand01.jpg" alt="" data-object-fit="cover">
                        </div>
                        <div class="brands__best-logo">
                            <img src="images/blogo01.png" alt="">
                        </div>
                        <div class="brands__best-text">
                            <span>Parker — бренд пишущих инструментов и компания по их производству.</span>
                        </div>
                        <div class="brands__best-hover">
                            <div class="brands__best-cunt">
                                <b>Товарiв:</b>
                                <p>1485</p>
                            </div>
                            <a href="#" class="btn btn--whitehover btn--lowercase"><span>Каталог Бренду</span></a>
                        </div>
                    </div>
                    <div class="brands__best">
                        <div class="brands__best-bg">
                            <img src="images/brand02.jpg" alt="" data-object-fit="cover">
                        </div>
                        <div class="brands__best-logo">
                            <img src="images/blogo02.png" alt="">
                        </div>
                        <div class="brands__best-text">
                            <span>Parker — бренд пишущих инструментов и компания по их производству.</span>
                        </div>
                        <div class="brands__best-hover">
                            <div class="brands__best-cunt">
                                <b>Товарiв:</b>
                                <p>1485</p>
                            </div>
                            <a href="#" class="btn btn--whitehover btn--lowercase"><span>Каталог Бренду</span></a>
                        </div>
                    </div>
                    <div class="brands__best">
                        <div class="brands__best-bg">
                            <img src="images/brand03.jpg" alt="" data-object-fit="cover">
                        </div>
                        <div class="brands__best-logo">
                            <img src="images/blogo03.png" alt="">
                        </div>
                        <div class="brands__best-text">
                            <span>Parker — бренд пишущих инструментов и компания по их производству.</span>
                        </div>
                        <div class="brands__best-hover">
                            <div class="brands__best-cunt">
                                <b>Товарiв:</b>
                                <p>1485</p>
                            </div>
                            <a href="#" class="btn btn--whitehover btn--lowercase"><span>Каталог Бренду</span></a>
                        </div>
                    </div>
                    <div class="brands__best">
                        <div class="brands__best-bg">
                            <img src="images/brand04.jpg" alt="" data-object-fit="cover">
                        </div>
                        <div class="brands__best-logo">
                            <img src="images/blogo04.png" alt="">
                        </div>
                        <div class="brands__best-text">
                            <span>COLOP — изготовитель печатей
и штампов с использованием
лазерной технологии.</span>
                        </div>
                        <div class="brands__best-hover">
                            <div class="brands__best-cunt">
                                <b>Товарiв:</b>
                                <p>1485</p>
                            </div>
                            <a href="#" class="btn btn--whitehover btn--lowercase"><span>Каталог Бренду</span></a>
                        </div>
                    </div>
                </div>
                <div class="brands__bott">
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/abc.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb01.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/axent.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb02.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb03.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb04.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb05.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb06.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb07.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/cityzen.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb08.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/kite.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb09.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb10.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb11.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb12.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brands__item">
                        <div class="mainbrands__box">
                            <div class="brand">
                                <a href="#" class="brand__link">
                                    <img src="images/bb13.png" alt="">
                                </a>
                                <div class="brand__goods">
                                    <p class="brand__more"><span class="brand__word">Товарів: </span> 1417</p>
                                    <a href="#" class="btn btn--full btn--lowercase"><span>Каталог бренду</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            //= partials/paginator.html
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>