//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet">
                <div class="scelet__left">
                    //= partials/filter.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Калькулятори</h1>
                        </div>
                        <div class="catalog__tags">
                           <div class="catalog__tag" onclick="$(this).remove()"><span>DAYMON</span><div class="catalog__cross"></div></div>
                           <div class="catalog__tag" onclick="$(this).remove()"><span>12-розрядний</span><div class="catalog__cross"></div></div>
                           <div class="catalog__tag" onclick="$(this).remove()"><span>Комбіноване</span><div class="catalog__cross"></div></div>
                           <div class="catalog__tag "  onclick="$('.catalog__tag').remove()"><span>Скинути все</span><div class="catalog__cross"></div></div>
                        </div>
                        <div class="catalog__sorter">
                            <div class="catalog__sort">
                                <div class="catalog__sort-ic">
                                    <svg>
                                        <use xlink:href="#sort"></use>
                                    </svg>
                                </div>
                                <b>Сортувати:</b>
                                <div class="catalog__sort-select">
                                    <select name="test" class="js-styler">
                                        <option value="test">Від дешевих до дорогих</option>
                                        <option value="test">Від дорогих до дешевих</option>
                                        <option value="test">Від д гих до де их</option>
                                        <option value="test">Від дор их до де их</option>
                                    </select>
                                </div>
                            </div>
                            <div class="catalog__view">
                                <div class="catalog__show">
                                    <b>Показати:</b>
                                    <div class="catalog__view-select">
                                        <select name="test" class="js-styler">
                                            <option value="test">20 товарів</option>
                                            <option value="test">40 товарів</option>
                                            <option value="test">60 товарів</option>
                                            <option value="test">100 товарів</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="catalog__view-type">
                                    <button
                                        type="button"
                                        class="active"
                                        onclick="
                                            $('.catalog__items').removeClass('catalog__items--rowed');
                                            $('.catalog__view-type button').removeClass('active');
                                            $(this).addClass('active');">
                                        <svg>
                                            <use xlink:href="#view1"></use>
                                        </svg>
                                    </button>
                                    <button
                                        type="button"
                                        onclick="$('.catalog__items').addClass('catalog__items--rowed');
                                            $('.catalog__view-type button').removeClass('active');
                                            $(this).addClass('active');">
                                        <svg>
                                            <use xlink:href="#view2"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__items">
                            <div class="catalog__item">
                                //= partials/product.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product2.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product3.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product2.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product3.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product2.html
                            </div>
                            <div class="catalog__item">
                                //= partials/product3.html
                            </div>
                        </div>
                        <div class="catalog__showmore">
                            <a href="#" class="btn btn--white"><span>Показати ще 9</span></a>
                        </div>
                        //= partials/paginator.html
                    </div>
                </div>
            </div>
            //= partials/mainseo.html
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>