//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Категорії Товарів</h1>
            </div>
            <div class="category">
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat01"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat02"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat03"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat06"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat05"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat04"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat07"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat08"></use>
                                </svg>
                            </div>
                            <a href="#" class="catcard__title">
                                Товари
                                для мистецтва
                            </a>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn"  >
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>