//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Товари Для Мистецтва</h1>
            </div>
            <div class="category__twosliders">
                <div class="category__slider-wrap">
                    <div class="category__slider js-big-slider">
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                        <div class="category__slide-wrap">
                            <div class="category__slide">
                                <img src="images/ss01.jpg" alt="">
                                <div class="category__slide-mob">
                                    <img src="images/act01s.jpg" alt="">
                                    <p>Практичные подарки <br>за ОЦ-Premium!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="category__anchors-wrap">
                    <div class="category__anchors js-anchor-slider">
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Практичные подарки <br>за ОЦ-Premium!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Чистящие салфетки <br>в подарок!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Внешний аккумулятор <br>в подарок!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Финальная <br>распродажа!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Практичные подарки <br>за ОЦ-Premium!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Чистящие салфетки <br>в подарок!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Внешний аккумулятор <br>в подарок!</span></button>
                            </div>
                        </div>
                        <div class="category__anchor-wrap">
                            <div class="category__anchor">
                                <button class="btn btn--black"><span>Финальная <br>распродажа!</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category__mobnav">
                <div class="banner__arrow banner__arrow--prev js-bigslider-prev"></div>
                <div class="category__mobnav-txt js-big-slider-text">1 / 8</div>
                <div class="banner__arrow banner__arrow--next js-bigslider-next"></div>
            </div>
            <div class="category">
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat01"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat02"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat03"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat06"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat05"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat04"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat07"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__item">
                    <div class="catcard">
                        <div class="catcard__top">
                            <div class="catcard__icon">
                                <svg>
                                    <use xlink:href="#cat08"></use>
                                </svg>
                            </div>
                            <div class="catcard__title">
                                Товари
                                для мистецтва
                            </div>
                        </div>
                        <div class="catcard__bot">
                            <ul class="catcard__list">
                                <li><a href="#">• Все для живопису</a></li>
                                <li><a href="#">• Графіка, креслення</a></li>
                                <li><a href="#">• Декупаж, кракелюр</a></li>
                                <li><a href="#">• Розпис шовку (батік) та тканин</a></li>
                                <li><a href="#">• Вітраж, розпис скла та кераміки</a></li>
                                <li><a href="#">• Скрапбукінг та кардмейкінг</a></li>
                                <li><a href="#">• Квілінг</a></li>
                                <li><a href="#">• Моделювання та дизайн</a></li>
                                <li><a href="#">• Ліплення, скульптура</a></li>
                                <li><a href="#">• Валяння (фелтінг)</a></li>
                                <li><a href="#">• Набори для творчості в різних техніках</a></li>
                                <li><a href="#">• Навчальна література (творчість та мистецтво)</a></li>
                            </ul>
                            <div class="catcard__btn" onclick="hideout($(this))">
                                <svg>
                                    <use xlink:href="#catarrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>