//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet">
                <div class="scelet__left compare__top--wright">
                    <div class="compare__btns">
                        <button type="button" class="btn btn--full btn--disabled"><span>Усі параметри</span></button>
                        <button type="button" class="btn btn--full btn--white"><span>Тільки відмінності</span></button>
                    </div>
                </div>
                <div class="scelet__right">
                    <div class="compare__top">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple compare__title">
                            <a href="#" class="btn btn--black"><span>Додати товар +</span></a>
                            <h1>Порівнюємо зошити</h1>
                            <div class="compare__reset">
                                <div class="catalog__tag active"><span>Скинути все</span><div class="catalog__cross"></div></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="compare__content">
                <div class="compare__figure">
                    <div class="compare__row compare__banner--wrap">
                        <div class="compare__first">
                            <a href="#" class="compare__banner">
                                <img src="images/babaner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="compare__row">
                        <div class="compare__first js-one-height">
                            <div class="compare__li"><b>Кількість аркушів</b></div>
                            <div class="compare__li"><b>Лініювання</b></div>
                            <div class="compare__li"><b>Кількість в упаковці</b></div>
                            <div class="compare__li"><b>Тип</b></div>
                            <div class="compare__li"><b>Обкладинка</b></div>
                            <div class="compare__li"><b>Формат</b></div>
                            <div class="compare__li"><b>Тип скріплення</b></div>
                            <div class="compare__li"><b>Країна реєстрації бренду</b></div>
                            <div class="compare__li"><b>Країна-виробник товару</b></div>
                            <div class="compare__li"><b>Гарантія</b></div>
                        </div>
                    </div>
                </div>
                <div class="compare">
                    <div class="compare__row compare__row--head">
                        <div class="compare__item">
                            <div class="compare__card">
                                <div class="compare__card-top">
                                    <img src="images/product.png" alt="" data-object-fit="contain">
                                    <div class="compare__cross"></div>
                                </div>
                                <div class="compare__card-bot">
                                    <h2>Зошит 12 аркушів  клітинка 1В Oxford колор</h2>
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                    <div class="product__options">
                                        <div class="product__opt-wrap">
                                            <div class="product__opt inpt">
                                                <div class="product__counter js-prod-counter">
                                                    <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                                    <input type="text" value="1" class="js-count">
                                                    <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                                </div>
                                            </div>
                                            <div class="product__opt vagno">
                                                <button type="button" class="btn">
                                                <span>
                                                    <b>В КОШИК</b>
                                                    <svg>
                                                        <use xlink:href="#solocart"></use>
                                                    </svg>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compare__item">
                            <div class="compare__card">
                                <div class="compare__card-top">
                                    <img src="images/product.png" alt="" data-object-fit="contain">
                                    <div class="compare__cross"></div>
                                </div>
                                <div class="compare__card-bot">
                                    <h2>Зошит 12 аркушів  клітинка 1В Oxford колор</h2>
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                    <div class="product__options">
                                        <div class="product__opt-wrap">
                                            <div class="product__opt inpt">
                                                <div class="product__counter js-prod-counter">
                                                    <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                                    <input type="text" value="1" class="js-count">
                                                    <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                                </div>
                                            </div>
                                            <div class="product__opt vagno">
                                                <button type="button" class="btn">
                                                <span>
                                                    <b>В КОШИК</b>
                                                    <svg>
                                                        <use xlink:href="#solocart"></use>
                                                    </svg>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compare__item">
                            <div class="compare__card">
                                <div class="compare__card-top">
                                    <img src="images/product.png" alt="" data-object-fit="contain">
                                    <div class="compare__cross"></div>
                                </div>
                                <div class="compare__card-bot">
                                    <h2>Зошит 12 аркушів  клітинка 1В Oxford колор</h2>
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                    <div class="product__options">
                                        <div class="product__opt-wrap">
                                            <div class="product__opt inpt">
                                                <div class="product__counter js-prod-counter">
                                                    <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                                    <input type="text" value="1" class="js-count">
                                                    <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                                </div>
                                            </div>
                                            <div class="product__opt vagno">
                                                <button type="button" class="btn">
                                                <span>
                                                    <b>В КОШИК</b>
                                                    <svg>
                                                        <use xlink:href="#solocart"></use>
                                                    </svg>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compare__item">
                            <div class="compare__card">
                                <div class="compare__card-top">
                                    <img src="images/product.png" alt="" data-object-fit="contain">
                                    <div class="compare__cross"></div>
                                </div>
                                <div class="compare__card-bot">
                                    <h2>Зошит 12 аркушів  клітинка 1В Oxford колор</h2>
                                    <div class="product__prices">
                                        <div class="product__old-price">
                                            <span>1200.00</span>
                                            <span>грн.</span>

                                        </div>
                                        <div class="product__price">
                                            <span>129.00</span>
                                            <span>грн.</span>
                                        </div>
                                    </div>
                                    <div class="product__options">
                                        <div class="product__opt-wrap">
                                            <div class="product__opt inpt">
                                                <div class="product__counter js-prod-counter">
                                                    <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                                    <input type="text" value="1" class="js-count">
                                                    <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                                </div>
                                            </div>
                                            <div class="product__opt vagno">
                                                <button type="button" class="btn">
                                                <span>
                                                    <b>В КОШИК</b>
                                                    <svg>
                                                        <use xlink:href="#solocart"></use>
                                                    </svg>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="compare__row compare__row--body">
                        <div class="compare__item js-one-height">
                            <div class="compare__li"><span>48</span></div>
                            <div class="compare__li"><span>Клітинка</span></div>
                            <div class="compare__li"><span>10 шт.</span></div>
                            <div class="compare__li"><span>Учнівські</span></div>
                            <div class="compare__li"><span>Картонна</span></div>
                            <div class="compare__li"><span>А5</span></div>
                            <div class="compare__li"><span>Скоба</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>14 днів</span></div>
                            <div class="product__opt-wrap compare__opt-wrap">
                                <div class="product__opt">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="product__opt">
                                    <button type="button" class="btn btn--full btn--lowercase">
                                        <span>В КОШИК</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="compare__item js-one-height">
                            <div class="compare__li"><span>48</span></div>
                            <div class="compare__li"><span>Клітинка</span></div>
                            <div class="compare__li"><span>10 шт.</span></div>
                            <div class="compare__li"><span>Учнівські</span></div>
                            <div class="compare__li"><span>Картонна</span></div>
                            <div class="compare__li"><span>А5</span></div>
                            <div class="compare__li"><span>Скоба</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>14 днів</span></div>
                            <div class="product__opt-wrap compare__opt-wrap">
                                <div class="product__opt">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="product__opt">
                                    <button type="button" class="btn btn--full btn--lowercase">
                                        <span>В КОШИК</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="compare__item js-one-height">
                            <div class="compare__li"><span>48</span></div>
                            <div class="compare__li"><span>Клітинка</span></div>
                            <div class="compare__li"><span>10 шт.</span></div>
                            <div class="compare__li"><span>Учнівські</span></div>
                            <div class="compare__li"><span>Картонна</span></div>
                            <div class="compare__li"><span>А5</span></div>
                            <div class="compare__li"><span>Скоба</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>14 днів</span></div>
                            <div class="product__opt-wrap compare__opt-wrap">
                                <div class="product__opt">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="product__opt">
                                    <button type="button" class="btn btn--full btn--lowercase">
                                        <span>В КОШИК</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="compare__item js-one-height">
                            <div class="compare__li"><span>48</span></div>
                            <div class="compare__li"><span>Клітинка</span></div>
                            <div class="compare__li"><span>10 шт.</span></div>
                            <div class="compare__li"><span>Учнівські</span></div>
                            <div class="compare__li"><span>Картонна</span></div>
                            <div class="compare__li"><span>А5</span></div>
                            <div class="compare__li"><span>Скоба</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>Україна</span></div>
                            <div class="compare__li"><span>14 днів</span></div>
                            <div class="product__opt-wrap compare__opt-wrap">
                                <div class="product__opt">
                                    <div class="product__counter js-prod-counter">
                                        <button type="button" class="product__btn product__minus js-minus" onclick="productCount($(this), -1)"></button>
                                        <input type="text" value="1" class="js-count">
                                        <button type="button" class="product__btn product__plus js-plus" onclick="productCount($(this), 1)"></button>
                                    </div>
                                </div>
                                <div class="product__opt">
                                    <button type="button" class="btn btn--full btn--lowercase">
                                        <span>В КОШИК</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="compare__title--mob">
                <a href="#" class="btn btn--black"><span>Додати товар +</span></a>
                <div class="compare__reset">
                    <div class="catalog__tag active"><span>Скинути все</span><div class="catalog__cross"></div></div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>