//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title">
                <h1>Запитання та відповіді</h1>
            </div>
            <div class="faq">
                <div class="faq__subtitle">
                    <b>Поширені запитання під час купівлі квитків</b>
                </div>
                <div class="faq__box">
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                </div>
                <div class="faq__subtitle">
                    <b>Гарантія та сервісне обслуговування</b>
                </div>
                <div class="faq__box">
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                    <div class="faq__item js-dd-box">
                        <div class="faq__title js-dd-btn">
                            <b>Чи доставляєте Ви товари до квартири й підіймаєте на поверх?</b>
                            <div class="banner__arrow banner__arrow--down"></div>
                            <div class="faq__decor">
                                <svg>
                                    <use xlink:href="#decor"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__body js-dd-hid">
                            <p>Товари з розділу «Побутова техніка і інтер'єр», великогабаритні товари з розділів "Фітнес", і "Дитячий світ" (тренажери, дитячі ліжечка, дитячі меблі,
                                матраци і т. Д.) Доставляються до квартири.</p>
                            <p> Вартість ручного занесення в квартиру залежить від: габаритів техніки, складності підйому і наявності ліфта (куди товар поміщається в упаковці).</p>
                            <p> Докладніше: <a href="#"><i>https://ofis-centr.ua/oplata_ta_dostavka</i></a> </p>
                        </div>
                    </div>
                </div>
                <div class="faq__quest">
                    <p><i>не знайшли відповіді? запитайте у нас</i></p>
                    <a href="#quest" data-fancybox class="btn "><span>Запитати</span></a>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html

</div>
</body>
</html>