//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">

            <ul style="list-style-type: none; display: flex; justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;">
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="main.html"><span>Главная</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="ui-kit.html"><span>UI KIT</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="actions.html"><span>список акций</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="action.html"><span>акция</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="brandslist.html"><span>списокбрендів</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="catalog.html"><span>каталог</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="categories-list.html"><span>Категорії Товарів</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="category.html"><span>Категорія</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="product.html"><span>Карточка товара</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="compare.html"><span>Сравнение</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="compare-empty.html"><span>Сравнение пустой</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="wishlist.html"><span>список отложеного</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="adress.html"><span>адреса доставки</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="shops.html"><span>адреса магазинов</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="404.html"><span>404</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="faq.html"><span>faq</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="bloglist.html"><span>bloglist</span></a></li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="blog.html"><span>blog</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="order.html"><span>оформлення замовлення</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="basket.html"><span>корзина</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="lk-edit.html"><span>редакт личных данных</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="result.html"><span>результаты поиска</span></a></li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="lk-order.html"><span> страница заказа</span></a></li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="lk-orderlist.html"><span> список заказов</span></a></li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="success.html"><span>успішне замовлення</span></a></li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" href="lk-feed.html"><span>відгуки</span></a></li>
            </ul>

            <hr>
            <h1>POPUPS</h1>
            <ul style="list-style-type: none; display: flex; justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;">
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#subscribe"><span>#subscribe</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#location"><span>#location</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#callback"><span>#callback</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#register"><span>#register</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#enter"><span>#enter</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#rishennya"><span>#rishennya</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#editing"><span>#editing</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#quest"><span>#quest</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#tocart"><span>#tocart</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#prompt"><span>#prompt</span></a> </li>
                <li style="margin: 5px;"><a class="btn btn--lowercase" data-fancybox href="#form-answer"><span>#form-answer</span></a> </li>
            </ul>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>

        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>

</div>
</body>
</html>