//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet cabmenu__scelet">
                <div class="scelet__left">
                    //= partials/cabmenu.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Oсобисті Дані</h1>
                        </div>
                        <div class="lk">
                            <table class="table table--lk">
                                <tr class="table__tr">
                                    <td class="table__td">прізвище</td>
                                    <td class="table__td">Н / Д</td>
                                </tr>
                                <tr class="table__tr">
                                    <td class="table__td">ім'я</td>
                                    <td class="table__td">Жіноча</td>
                                </tr>
                                <tr class="table__tr">
                                    <td class="table__td">По батькові</td>
                                    <td class="table__td">Пiдвищена зносостійкість</td>
                                </tr>
                                <tr class="table__tr">
                                    <td class="table__td">Стать</td>
                                    <td class="table__td">Без жосткої ортопедичної основи</td>
                                </tr>
                                <tr class="table__tr">
                                    <td class="table__td">Компанія</td>
                                    <td class="table__td">Плавна амортизація</td>
                                </tr>
                                <tr class="table__tr">
                                    <td class="table__td">Телефон</td>
                                    <td class="table__td">Бокові кармани</td>
                                </tr>
                                <tr class="table__tr">
                                    <td class="table__td">Електронна пошта</td>
                                    <td class="table__td">Бокові кармани</td>
                                </tr>
                            </table>
                            <a href="#" class="btn btn--white"><span>Редагувати</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>