//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet cabmenu__scelet">
                <div class="scelet__left">
                    //= partials/cabmenu.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Це шоб незабути де і який товар поливав брудом</h1>
                        </div>
                        <div class="feeder">
                            <div class="feedback feedback--noborder">
                                <div class="feedback__top">
                                    <div class="feedback__title">
                                        <b>Назва Товару</b>
                                        <div class="product__rate product__rate--noaction ">
                                            <div class="product__stars-box">
                                                <svg>
                                                    <use xlink:href="#fivestars"></use>
                                                </svg>
                                            </div>
                                            <div class="product__stars-behind" style="width: 30%"></div>
                                        </div>
                                    </div>
                                    <div class="feedback__date"><span>1  квiтня 2018</span></div>
                                </div>
                                <div class="feedback__body">
                                    <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                                </div>
                                <div class="feedback__bot">
                                    <a href="#" class="feedback__write js-answer-popup" >
                                        <svg>
                                            <use xlink:href="#del"></use>
                                        </svg>
                                        <span>Видалити</span>
                                    </a>
                                    <b>на модерації</b>
                                </div>
                            </div>
                            <div class="feedback">
                                <div class="feedback__top">
                                    <div class="feedback__title">
                                        <b><a href="#">Чоловічий годинник Xiaomi I8 Quartz Watch 41 мм Black </a></b>
                                        <div class="product__rate product__rate--noaction ">
                                            <div class="product__stars-box">
                                                <svg>
                                                    <use xlink:href="#fivestars"></use>
                                                </svg>
                                            </div>
                                            <div class="product__stars-behind" style="width: 30%"></div>
                                        </div>
                                    </div>
                                    <div class="feedback__date"><span>1  квiтня 2018</span></div>
                                </div>
                                <div class="feedback__body">
                                    <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                                </div>
                                <div class="feedback__bot">
                                    <a href="#" class="feedback__write js-answer-popup" >
                                        <svg>
                                            <use xlink:href="#del"></use>
                                        </svg>
                                        <span>Видалити</span>
                                    </a>
                                    <b>опубліковано</b>
                                </div>
                            </div>
                            <div class="feedback">
                                <div class="feedback__top">
                                    <div class="feedback__title">
                                        <b><a href="#"> Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Чоловічий годинник Xiaomi I8 Quartz Watch 41 мм Black </a></b>
                                        <div class="product__rate product__rate--noaction ">
                                            <div class="product__stars-box">
                                                <svg>
                                                    <use xlink:href="#fivestars"></use>
                                                </svg>
                                            </div>
                                            <div class="product__stars-behind" style="width: 30%"></div>
                                        </div>
                                    </div>
                                    <div class="feedback__date"><span>1  квiтня 2018</span></div>
                                </div>
                                <div class="feedback__body">
                                    <p>Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают Практичный, компактный, вместительный. Крутая организация внутри, цвет не маркий. Влазит ноут, удобно на плечи, руки не устают</p>
                                </div>
                                <div class="feedback__bot">
                                    <a href="#" class="feedback__write js-answer-popup" >
                                        <svg>
                                            <use xlink:href="#del"></use>
                                        </svg>
                                        <span>Видалити</span>
                                    </a>
                                    <b>статус повідомлення</b>
                                </div>
                            </div>
                        </div>
                        //= partials/paginator.html
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>