//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet cabmenu__scelet">
                <div class="scelet__left">
                    //= partials/cabmenu.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Замовлення №122414 <br>
                                вiд 14 жовтня 2018</h1>
                        </div>
                        <div class="batman batman__order">
                            <div class="batman__top">
                                <div class="batman__nav">
                                    <div class="batman__nav-l">
                                        <p>Статус:</p>
                                        <div class="batman__tag batman__tag--obr active">Обробляється</div>
                                    </div>
                                    <div class="batman__btns batman__btns--nav">
                                        <button class="hide992"> <svg><use xlink:href="#print"></use></svg><span>Роздрукувати</span> </button>
                                        <button> <svg><use xlink:href="#copy"></use></svg><span>Повторити</span> </button>
                                        <button> <svg><use xlink:href="#del"></use></svg><span>Відмінити</span> </button>
                                    </div>
                                </div>
                                <a href="" class="btn btn--white"><span>Оплатити</span></a>
                            </div>
                            <div class="batman__info">
                                <div class="cabmenu__banner batman__banner">
                                    <div class="cabmenu__banner-l">
                                        <svg>
                                            <use xlink:href="#price"></use>
                                        </svg>
                                        <p>Вартість всього: <br>
                                            <b><em>27 134.32</em> грн</b>
                                        </p>
                                    </div>
                                    <div class="batman__banner-text">
                                        <div class="batman__cell">
                                            <b>ПIБ:</b>
                                            <p> Олексюк Євген Богданович</p>
                                        </div>
                                        <div class="batman__cell">
                                            <b>телефон:</b>
                                            <p> +38 (096) 100 11 00</p>
                                        </div>
                                        <div class="batman__cell">
                                            <b>Розрахунок:</b>
                                            <p> Готiвка</p>
                                        </div>
                                        <div class="batman__cell">
                                            <b>Адреса:</b>
                                            <p> 29000 Україна, Хмельницька область,
                                                м. Хмельницький, вул. Проскурівська, буд. 4/3, кв. 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order__items styled-scroll">
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>