//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet cabmenu__scelet">
                <div class="scelet__left">
                    //= partials/cabmenu.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Мої Замовлення</h1>
                        </div>
                        <div class="batman">
                            <div class="batman__tags">
                                <div class="batman__tag batman__tag--all">Усі</div>
                                <div class="batman__tag batman__tag--obr active">Обробляється</div>
                                <div class="batman__tag batman__tag--opl">Оплачені</div>
                                <div class="batman__tag batman__tag--wait">Чекають відправки</div>
                                <div class="batman__tag batman__tag--done">Виконані</div>
                                <div class="batman__tag batman__tag--cancel">Відмінені</div>
                            </div>
                            <div class="catalog__sorter catalog__sorter--batman">
                                <div class="catalog__sort">
                                    <div class="catalog__sort-ic">
                                        <svg>
                                            <use xlink:href="#sort"></use>
                                        </svg>
                                    </div>
                                    <b>Статус:</b>
                                    <div class="catalog__sort-select">
                                        <select name="test" class="js-styler">
                                            <option value="test"> Усі</option>
                                            <option value="test"> Обробляється</option>
                                            <option value="test"> Оплачені</option>
                                            <option value="test"> Чекають відправки</option>
                                            <option value="test"> Виконані</option>
                                            <option value="test"> Відмінені</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="batman__table">
                                <div class="batman__tr">
                                    <div class="batman__th">
                                        <b>Дата</b>
                                    </div>
                                    <div class="batman__th">
                                        <b>Номер</b>
                                    </div>
                                    <div class="batman__th">
                                        <b>Статус</b>
                                    </div>
                                    <div class="batman__th">
                                        <b>Товари</b>
                                    </div>
                                    <div class="batman__th">
                                        <b>Сума</b>
                                    </div>
                                    <div class="batman__th"></div>
                                </div>
                                <div class="batman__tr">
                                    <div class="batman__td"><b class="batman__mobtitle">Дата:</b><span>06.04.2018</span></div>
                                    <div class="batman__td"><b class="batman__mobtitle">Номер:</b><a href="#">5656560165</a></div>
                                    <div class="batman__td"><span class="batman__status batman__status--wait">Чекає відправки</span></div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Товари:</b>
                                        <div class="batman__nowrap">
                                           <p>Альбом А4 24 арк. Поділля Маяки</p>
                                           <p>Альбом А4 50 арк. спіраль Добрий</p>
                                           <p>Альбом А4 20 арк.я спіраль YES Кінь saasdsa sad sad  </p>
                                        </div>
                                    </div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Сума:</b>
                                        <b><em>10 739.25</em> грн</b>
                                    </div>
                                    <div class="batman__td">
                                        <div class="batman__btns">
                                            <button class="hide992" data-print-url="http://front.showmemysite.ru/office-center/testprintingpage.html"> <svg><use xlink:href="#print"></use></svg> </button>
                                            <button> <svg><use xlink:href="#copy"></use></svg> </button>
                                            <button> <svg><use xlink:href="#del"></use></svg> </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="batman__tr">
                                    <div class="batman__td"><b class="batman__mobtitle">Дата:</b><span>06.04.2018</span></div>
                                    <div class="batman__td"><b class="batman__mobtitle">Номер:</b><a href="#">5656560165</a></div>
                                    <div class="batman__td"><span class="batman__status batman__status--obr">Обробляється</span></div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Товари:</b>
                                        <div class="batman__nowrap">
                                            <p>Альбом А4 24 арк. Поділля Маяки</p>
                                            <p>Альбом А4 50 арк. спіраль Добрий</p>
                                            <p>Альбом А4 20 арк.я спіраль YES Кінь saasdsa sad sad  </p>
                                        </div>
                                    </div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Сума:</b>
                                        <b><em>10 739.25</em> грн</b>
                                    </div>
                                    <div class="batman__td">
                                        <div class="batman__btns">
                                            <button  class="hide992" data-print-url="http://front.showmemysite.ru/office-center/testprintingpage.html"> <svg><use xlink:href="#print"></use></svg> </button>
                                            <button> <svg><use xlink:href="#copy"></use></svg> </button>
                                            <button> <svg><use xlink:href="#del"></use></svg> </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="batman__tr">
                                    <div class="batman__td"><b class="batman__mobtitle">Дата:</b><span>06.04.2018</span></div>
                                    <div class="batman__td"><b class="batman__mobtitle">Номер:</b><a href="#">5656560165</a></div>
                                    <div class="batman__td"><span class="batman__status batman__status--opl">Оплачений</span></div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Товари:</b>
                                        <div class="batman__nowrap">
                                            <p>Альбом А4 24 арк. Поділля Маяки</p>
                                            <p>Альбом А4 50 арк. спіраль Добрий</p>
                                            <p>Альбом А4 20 арк.я спіраль YES Кінь saasdsa sad sad  </p>
                                        </div>
                                    </div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Сума:</b>
                                        <b><em>10 739.25</em> грн</b>
                                    </div>
                                    <div class="batman__td">
                                        <div class="batman__btns">
                                            <button  class="hide992" data-print-url="http://front.showmemysite.ru/office-center/testprintingpage.html"> <svg><use xlink:href="#print"></use></svg> </button>
                                            <button> <svg><use xlink:href="#copy"></use></svg> </button>
                                            <button> <svg><use xlink:href="#del"></use></svg> </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="batman__tr">
                                    <div class="batman__td"><b class="batman__mobtitle">Дата:</b><span>06.04.2018</span></div>
                                    <div class="batman__td"><b class="batman__mobtitle">Номер:</b><a href="#">5656560165</a></div>
                                    <div class="batman__td"><span class="batman__status batman__status--done">Виконані</span></div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Товари:</b>
                                        <div class="batman__nowrap">
                                            <p>Альбом А4 24 арк. Поділля Маяки</p>
                                            <p>Альбом А4 50 арк. спіраль Добрий</p>
                                            <p>Альбом А4 20 арк.я спіраль YES Кінь saasdsa sad sad  </p>
                                        </div>
                                    </div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Сума:</b>
                                        <b><em>10 739.25</em> грн</b>
                                    </div>
                                    <div class="batman__td">
                                        <div class="batman__btns">
                                            <button  class="hide992" data-print-url="http://front.showmemysite.ru/office-center/testprintingpage.html"> <svg><use xlink:href="#print"></use></svg> </button>
                                            <button> <svg><use xlink:href="#copy"></use></svg> </button>
                                            <button> <svg><use xlink:href="#del"></use></svg> </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="batman__tr">
                                    <div class="batman__td"><b class="batman__mobtitle">Дата:</b><span>06.04.2018</span></div>
                                    <div class="batman__td"><b class="batman__mobtitle">Номер:</b><a href="#">5656560165</a></div>
                                    <div class="batman__td"><span class="batman__status batman__status--cancel">Відмінені</span></div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Товари:</b>
                                        <div class="batman__nowrap">
                                            <p>Альбом А4 24 арк. Поділля Маяки</p>
                                            <p>Альбом А4 50 арк. спіраль Добрий</p>
                                            <p>Альбом А4 20 арк.я спіраль YES Кінь saasdsa sad sad  </p>
                                        </div>
                                    </div>
                                    <div class="batman__td">
                                        <b class="batman__mobtitle">Сума:</b>
                                        <b><em>10 739.25</em> грн</b>
                                    </div>
                                    <div class="batman__td">
                                        <div class="batman__btns">
                                            <button  class="hide992" data-print-url="http://front.showmemysite.ru/office-center/testprintingpage.html"> <svg><use xlink:href="#print"></use></svg> </button>
                                            <button> <svg><use xlink:href="#copy"></use></svg> </button>
                                            <button> <svg><use xlink:href="#del"></use></svg> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>