//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        <div class="bg--gray layer-up">
            <div class="mbox">
                <div class="scelet">
                    <div class="scelet__left opened">
                        //= partials/catalognav.html
                    </div>
                    <div class="scelet__right">
                        //= partials/searchfield.html
                    </div>
                </div>
                //= partials/banner.html
            </div>
        </div>
        <div class="bg--white">
            <div class="mbox">
                //= partials/mainsale.html
            </div>
        </div>
        <div class="bg--gray">
            <div class="mbox">
                //= partials/maintabs.html
            </div>
        </div>
        <div class="bg--white">
            <div class="mbox">
                //= partials/mainperevagi.html
            </div>
        </div>
        <div class="bg--gray">
            <div class="mbox">
                //= partials/mainblog.html
            </div>
        </div>
        <div class="bg--white layer-up">
            <div class="mbox">
                //= partials/mainbrands.html
            </div>
        </div>
        <div class="bg--gray">
            <div class="mbox">
                //= partials/mainwatched.html
            </div>
        </div>
        <div class="bg--white">
            <div class="mbox">
                //= partials/mainseo.html
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>