//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple order__title">
                <h1>Оформлення Замовлення</h1>
                <a href="#" class="btn btn--lowercase"><span>Я постійний клієнт</span></a>
            </div>
            <div class="order__forms">
                <div class="order__left js-input-box">
                    <div class="order__forms-title">
                        <b>особисті дані</b>
                    </div>
                    <div class="order__forms-row order__fixrow">
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test" class="js-input-btn" data-input-rel="01">
                                    <i></i>
                                    <span>Фізична Особа</span>
                                </label>
                            </div>
                        </div>
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test" class="js-input-btn" checked="checked"  data-input-rel="02">
                                    <i></i>
                                    <span>Корпоративний Клієнт</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">піб*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Email*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Телефон*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Назва компанії*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Імя*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">прізвище*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">код ЄДРПОУ*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Email*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="order__right js-input-box">
                    <div class="order__forms-title">
                        <b>дані доставки</b>
                    </div>

                    <div class="order__forms-row">
                        <div class="order__input">
                            <label>
                                <span class="order__label">Населений пункт *</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row order__fixrow">
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test2" class="js-input-btn" data-input-rel="01">
                                    <i></i>
                                    <span>Самовивіз</span>
                                </label>
                            </div>
                        </div>
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test2" class="js-input-btn" checked="checked" data-input-rel="02">
                                    <i></i>
                                    <span>Доставка за адресою</span>
                                </label>
                            </div>
                        </div>
                        <div class="order__forms-col">
                            <div class="order__input">
                                <label class="styled">
                                    <input type="radio" name="test2" class="js-input-btn" data-input-rel="03">
                                    <i></i>
                                    <span>Нова пошта</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="01">
                        <div class="order__input">
                            <label>
                                <span class="order__label"> Список магазинов *</span>
                                <select name="tesssst" class="js-styler">
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="03">
                        <div class="order__input">
                            <label>
                                <span class="order__label"> выбор отделения</span>
                                <select name="tesssst" class="js-styler">
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                    <option value="01">Магаз моцнєйший адрес такойто</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">вулиця*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">будинок*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="order__forms-row js-input-hid" data-input-rel="02">
                        <div class="order__input">
                            <label>
                                <span class="order__label">квартира\ офіс*</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order__forms-title">
                <b>Ваше замовлення</b>
            </div>
            <div class="supertumbler">
                <label>
                    <input type="radio" name="trololo">
                    <span class="supertumbler__item">
                        <svg><use xlink:href="#pay-card"></use></svg>
                        <span>Онлайн карткою <br> Visa/MasterCard</span>
                    </span>
                </label>
                <label>
                    <input type="radio" name="trololo">
                    <span class="supertumbler__item">
                        <svg><use xlink:href="#pay-cash"></use></svg>
                        <span>Оплата готівкою <br>на відділенні</span>
                    </span>
                </label>
                <label>
                    <input type="radio" name="trololo">
                    <span class="supertumbler__item">
                        <svg><use xlink:href="#pay-curier"></use></svg>
                        <span>Оплата готівкою <br> кур’єру</span>
                    </span>
                </label>
            </div>
            <div class="order__forms-title">
                <b>Ваше замовлення</b>
            </div>
            <div class="order__items styled-scroll">
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__item-col order__item-name">
                        <b>Зошит А5 80 аркушів клітинка
                            пружина YES Автологотипи</b>
                    </div>
                    <div class="order__item-col order__item-art">
                        <p>Арт.: <br>
                            К123 456</p>
                    </div>
                    <div class="order__item-col order__item-price">
                        <div class="product__old-price">
                            <span>12312.21</span>
                            <span>грн</span>
                        </div>
                        <b>16.79 грн</b>
                    </div>
                    <div class="order__item-col order__item-sale">
                        <p>Знижка</p>
                        <b>30%</b>
                    </div>
                    <div class="order__item-col order__item-count">
                        <p>Кількість:</p>
                        <b> 1 шт</b>
                    </div>
                    <div class="order__item-col order__item-total">
                        <p>Вартість:</p>
                        <b>134.32 грн</b>
                    </div>
                </div>
            </div>
            <div class="order__info">
                <div class="order__info-box">
                    <svg>
                        <use xlink:href="#price"></use>
                    </svg>
                    <p>
                        <span>Вартість замовлення:</span><br>
                        <b><em> 27 134.32 </em>грн</b>
                    </p>
                </div>
                <div class="order__info-box">
                    <svg>
                        <use xlink:href="#car"></use>
                    </svg>
                    <p>
                        <span>Вартість доставки:</span><br>
                        <b><em>  1 530.00 </em>грн</b>
                    </p>
                </div>
                <div class="order__info-box">
                    <svg>
                        <use xlink:href="#price"></use>
                    </svg>
                    <p>
                        <span>Сума до сплати:</span><br>
                        <b><em> 28 664.32</em> грн</b>
                    </p>
                </div>
                <div class="order__info-box">
                    <svg>
                        <use xlink:href="#bonus"></use>
                    </svg>
                    <p>
                        <span>Ви отримуєте:</span><br>
                        <b><em> 96</em> бонусів</b>
                    </p>
                </div>
            </div>
            <div class="order__btn">
                <div class="order__info">
                    <div class="order__info-box">
                        <svg>
                            <use xlink:href="#bonus"></use>
                        </svg>
                        <p>
                            <span>Ваш бонусний рахунок:</span> <br>
                            <b><em> 96</em> бонусів</b>
                        </p>
                    </div>
                    <div class="order__info-box">
                        <span>Використати:</span>
                        <input type="text">
                        <span>бонусів</span>
                    </div>
                    <div class="order__info-box order__mobfix">
                        <button type="button" class="btn btn--white"><span>Перерахувати</span></button>
                    </div>
                </div>
                <button class="btn" type="button "><span>Оформити замовлення</span></button>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>