//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            //= partials/card.html
        </div>
        <div class="bg--gray">
            <div class="mbox">
                //= partials/tabs.html
            </div>
        </div>
        <div class="bg--white">
            <div class="mbox">
                //= partials/mainwatched.html
            </div>
        </div>
        <div class="bg--gray">
            <div class="mbox">
                //= partials/mainwatched.html
            </div>
        </div>

    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>