//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Результати пошуку для 'zipit'</h1>
            </div>
            <div class="description">
                <div class="description__logo">
                    <a href="#" class="header__logo">
                        <img src="images/abc.png" alt="" data-object-fit="cover">
                    </a>
                </div>
                <div class="description__text">
                    <div class="description__head">
                        <span>ROSA</span> - це компанія-лідер на художньому ринку України. На сьогоднішній день ми:
                    </div>
                    <ul class="description__list">
                        <li>Дистрибютор найширшого в Україні фсортименту матеріалів для художників, творчості та хобі.</li>
                        <li>виробник високоякісних основ для живопису</li>
                        <li>власник більше 10-ти торгових марок, серед яких "ROSA", "KOLOS", "MAESTRO", "ЕТЮД", "Jam clay", "Margo", "4'Art".</li>
                    </ul>
                    <div class="description__below">
                        Усі досягнення компанії - це результат 12-річної наполегливої, кропіткої роботи на ринку художніх матеріалів, а ще - постійний пошук з подальшим втіленням наших креативних ідей. Молоді, амбіційні, творчі - це все про нашу команду.
                    </div>
                </div>
            </div>
            <div class="search__result">
                <div class="searchfield__input">
                    <input type="text" placeholder="Пошук">
                    <button type="button">
                        <svg>
                            <use xlink:href="#glass"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="search__filter">
                <b>всього знайдено товарiв <a href="#">(14)</a></b>
                <div class="search__filter-box">
                    <a href="#">Пенали шкiльнi  <span> (10)</span></a>
                    <a href="#">Гаманцi  <span> (1)</span></a>
                    <a href="#">Шкiльнi аксесуари  <span> (3)</span></a>
                </div>
            </div>
            <div class="catalog__sorter">
                <div class="catalog__sort">
                    <div class="catalog__sort-ic">
                        <svg>
                            <use xlink:href="#sort"></use>
                        </svg>
                    </div>
                    <b>Сортувати:</b>
                    <div class="catalog__sort-select">
                        <select name="test" class="js-styler">
                            <option value="test">Від дешевих до дорогих</option>
                            <option value="test">Від дорогих до дешевих</option>
                            <option value="test">Від д гих до де их</option>
                            <option value="test">Від дор их до де их</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="catalog__items">
                <div class="catalog__item catalog__item--search">
                    //= partials/product.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product2.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product3.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product2.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product3.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product2.html
                </div>
                <div class="catalog__item catalog__item--search">
                    //= partials/product3.html
                </div>
            </div>
            <div class="catalog__showmore">
                <a href="#" class="btn btn--white"><span>Показати ще 9</span></a>
            </div>
            //= partials/paginator.html
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>