//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="title title--simple">
                <h1>Адреси Магазинів</h1>
            </div>
            <div class="shops">
                <div class="shops__map" id="map"></div>
                <div class="shops__table">
                    <div class="shops__table-main">
                        <div class="shops__top">
                            <p>головний офіс</p>
                        </div>
                        <div class="shops__body">
                            <div class="shops__item shops__item--main" data-map='[49.426517, 26.988456]'>
                                <div class="shops__col">
                                    <div class="shops__icon shops__icon--big">
                                        <svg>
                                            <use xlink:href="#mapmark"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p>Подільська, 93, Хмельницький, Хмельницька область, 29000</p>
                                        <button type="button" class="shops__show">
                                            <span>Показати на карті</span>
                                            <span class="add-acitve">Приховати карту</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="shops__mobmap"></div>
                                <div class="shops__col">
                                    <div class="shops__icon shops__icon--big">
                                        <svg>
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p><a href="tel:(050) 376-55-04" onclick="event.stopPropagation()">(050) 376-55-04</a></p>
                                    </div>
                                </div>
                                <div class="shops__col">
                                    <div class="shops__icon shops__icon--big">
                                        <svg>
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p>ПН-ПТ: 10.00 - 21.00</p>
                                        <p>СБ: 10.00 - 21.00</p>
                                        <p>НД: 10.00 - 21.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shops__table-other">
                        <div class="shops__top">
                            <div class="shops__top-icon">
                                <svg>
                                    <use xlink:href="#mapmark"></use>
                                </svg>
                            </div>
                            <b>Виберіть місто:</b>
                            <div class="catalog__view-select">
                                <select name="test" class="js-styler">
                                    <option value="test">Хмельницький</option>
                                    <option value="test">Леттичів</option>
                                    <option value="test">Вінниця</option>
                                    <option value="test">Будапешт</option>
                                    <option value="test">Берлін</option>
                                </select>
                            </div>
                        </div>
                        <div class="shops__body">
                            <div class="shops__item" data-map='[49.433410, 26.982069]'>
                                <div class="shops__col">
                                    <div class="shops__icon">
                                        <svg>
                                            <use xlink:href="#mapmark"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p>м. Хмельницький,
                                            вул. М.Рибалка, 2а
                                            (ТРЦ "Оазис")</p>
                                        <button type="button" class="shops__show">
                                            <span>Показати на карті</span>
                                            <span class="add-acitve">Приховати карту</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="shops__mobmap"></div>
                                <div class="shops__col">
                                    <div class="shops__icon">
                                        <svg>
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p><a href="tel:(050) 376-55-04" onclick="event.stopPropagation()">(050) 376-55-04</a></p>
                                    </div>
                                </div>
                                <div class="shops__col">
                                    <div class="shops__icon">
                                        <svg>
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p>ПН-ПТ: 10.00 - 21.00</p>
                                        <p>СБ: 10.00 - 21.00</p>
                                        <p>НД: 10.00 - 21.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="shops__item" data-map='[49.653235, 26.974150]'>
                                <div class="shops__col">
                                    <div class="shops__icon">
                                        <svg>
                                            <use xlink:href="#mapmark"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p>провулок Ціолковського, 3
                                            Красилів, Хмельницька область, 31002
                                            </p>
                                        <button type="button" class="shops__show">
                                            <span>Показати на карті</span>
                                            <span class="add-acitve">Приховати карту</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="shops__mobmap"></div>
                                <div class="shops__col">
                                    <div class="shops__icon">
                                        <svg>
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p><a href="tel:(050) 376-55-04" onclick="event.stopPropagation()">(050) 376-55-04</a></p>
                                    </div>
                                </div>
                                <div class="shops__col">
                                    <div class="shops__icon">
                                        <svg>
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                    </div>
                                    <div class="shops__text">
                                        <p>ПН-ПТ: 10.00 - 21.00</p>
                                        <p>СБ: 10.00 - 21.00</p>
                                        <p>НД: 10.00 - 21.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html

    <script>
        var allMark = [];
        var allInfo = [];
        var box = $('#map');
        var centerMap = $('.shops__item--main').data('map');
        function initMap(){
            allInfo = [];
            allMark = [];
            var myLatlng = new google.maps.LatLng(centerMap[0], centerMap[1]);
            var myOptions = {
                zoom: 15,
                center: myLatlng,
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                },
                mapTypeControl: false,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                }
            };

            var map = new google.maps.Map(box[0], myOptions);
            var SQUARE_PIN = 'M356.208,107.051c-1.531-5.738-4.64-11.852-6.94-17.205C321.746,23.704,261.611,0,213.055,0\n' +
                '\t\tC148.054,0,76.463,43.586,66.905,133.427v18.355c0,0.766,0.264,7.647,0.639,11.089c5.358,42.816,39.143,88.32,64.375,131.136 c27.146,45.873,55.314,90.999,83.221,136.106c17.208-29.436,34.354-59.259,51.17-87.933c4.583-8.415,9.903-16.825,14.491-24.857 c3.058-5.348,8.9-10.696,11.569-15.672c27.145-49.699,70.838-99.782,70.838-149.104v-20.262 C363.209,126.938,356.581,108.204,356.208,107.051z M214.245,199.193c-19.107,0-40.021-9.554-50.344-35.939 c-1.538-4.2-1.414-12.617-1.414-13.388v-11.852c0-33.636,28.56-48.932,53.406-48.932c30.588,0,54.245,24.472,54.245,55.06 C270.138,174.729,244.833,199.193,214.245,199.193z';
            var markers = $('[data-map]');

            markers.each(function (i) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng($(this).data('map')[0], $(this).data('map')[1]),
                    map: map,
                    icon:{
                        path: SQUARE_PIN,
                        fillColor: '#c30900',
                        fillOpacity: 1,
                        strokeColor: '#c30900',
                        scale: 0.1

                    }});
                allMark.push(marker);
                var copy = $(this).clone();
                copy.find('.shops__show').remove();
                copy.find('.shops__mobmap').remove();
                var contentString = '<div class="infovindow">' + copy.html()+ '</div>';
                var infowindow = new google.maps.InfoWindow({ content: contentString });
                allInfo.push(infowindow);
                marker.addListener('click', function() {
                    allInfo.forEach(function (info) {
                        info.close();
                    });
                    allInfo[i].open(map,allMark[i]);
                });

            });
        }
        $(document).on('click', '.shops__show', function (e) {
            e.stopPropagation();
            if(!$(this).hasClass('active')){
                $('.shops__show').removeClass('active');
                $('.shops__item').removeClass('active');
                $('.shops__mobmap').css('display','none');
                $(this).addClass('active');
                $(this).closest('[data-map]').addClass('active');
                box = $(this).closest('[data-map]').find('.shops__mobmap');
                box.css('display','block');
                centerMap = $(this).closest('[data-map]').data('map');
                $('html').animate({scrollTop:$(this).closest('[data-map]').offset().top},500);
                setTimeout(function () {
                   initMap();
                },10);
            }else{
                $('.shops__show').removeClass('active');
                $('.shops__item').removeClass('active');
                $('.shops__mobmap').css('display','none');
            }

        });
        $(document).on('click', '[data-map]', function () {
            centerMap = $(this).data('map');
            initMap();
        })
        $(document).ready(function () {
            if($('.shops__map').css('display') != 'none'){
                box = $('#map');
                initMap();
            }
        })
        $(window).resize(function () {
            if($('.shops__map').css('display') != 'none'){
                box = $('#map');
                initMap();
                $('.shops__show').removeClass('active');
                $('.shops__item').removeClass('active');
                $('.shops__mobmap').css('display','none');
            }
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsCq3QOswzp0n9VBZyz5N0xbgysyJyrr0"></script>
</div>
</body>
</html>