//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="orderdone">
                <div class="orderdone__img">
                    <img src="images/fdf33.png" alt="">
                </div>
                <div class="orderdone__text">
                    <h2>
                        Ваше замовлення <a href="#">№2843</a> від <a href="#">22.11.2018</a> <br>
                        12:30 успішно створене
                    </h2>
                    <p> Вы можете слідкувати за виконанням свого замовлення у <a href="#">Особистому Кабінеті</a>. <br>
                        Зверніть увагу для входу у цей розділ вам необіхно буде ввесті логін та пароль</p>
                    <div class="orderdone__pay">
                        <div class="orderdone__gray"><span>Оплата:</span><svg><use xlink:href="#pay-card"></use></svg><span>Онлайн карткою Visa/MasterCard</span></div>
                        <a href="#" class="btn btn--white"><span>Оплатити</span></a>
                    </div>
                </div>
                <div class="orderdone__img">
                    <img src="images/fdf22.png" alt="">
                </div>
            </div>

        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>