//= partials/head.html

<div class="global-wrapper">
    <div class="main">
        <div class="mbox">
                    <div class="catalog">
                        <div class="title title--simple">
                            <h1>Замовлення №122414 <br>
                                вiд 14 жовтня 2018</h1>
                        </div>
                        <div class="batman batman__order">
                            <div class="batman__top">
                                <div class="batman__nav">
                                    <div class="batman__nav-l">
                                        <p>Статус:</p>
                                        <div class="batman__tag batman__tag--obr active">Обробляється</div>
                                    </div>
                                </div>
                            </div>
                            <div class="batman__info">
                                <div class="cabmenu__banner batman__banner">
                                    <div class="cabmenu__banner-l">
                                        <svg>
                                            <use xlink:href="#price"></use>
                                        </svg>
                                        <p>Вартість всього: <br>
                                            <b><em>27 134.32</em> грн</b>
                                        </p>
                                    </div>
                                    <div class="batman__banner-text">
                                        <div class="batman__cell">
                                            <b>ПIБ:</b>
                                            <p> Олексюк Євген Богданович</p>
                                        </div>
                                        <div class="batman__cell">
                                            <b>телефон:</b>
                                            <p> +38 (096) 100 11 00</p>
                                        </div>
                                        <div class="batman__cell">
                                            <b>Розрахунок:</b>
                                            <p> Готiвка</p>
                                        </div>
                                        <div class="batman__cell">
                                            <b>Адреса:</b>
                                            <p> 29000 Україна, Хмельницька область,
                                                м. Хмельницький, вул. Проскурівська, буд. 4/3, кв. 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                                <div class="order__item">
                                    <div class="order__item-col order__item-name">
                                        <b>Зошит А5 80 аркушів клітинка
                                            пружина YES Автологотипи</b>
                                    </div>
                                    <div class="order__item-col order__item-art">
                                        <p>Арт.: <br>
                                            К123 456</p>
                                    </div>
                                    <div class="order__item-col order__item-price">
                                        <div class="product__old-price">
                                            <span>12312.21</span>
                                            <span>грн</span>
                                        </div>
                                        <b>16.79 грн</b>
                                    </div>
                                    <div class="order__item-col order__item-sale">
                                        <p>Знижка</p>
                                        <b>30%</b>
                                    </div>
                                    <div class="order__item-col order__item-count">
                                        <p>Кількість:</p>
                                        <b> 1 шт</b>
                                    </div>
                                    <div class="order__item-col order__item-total">
                                        <p>Вартість:</p>
                                        <b>134.32 грн</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>


</div>
<script>
    var revision = 300718;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/select2.min.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/scrollpane.css">
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/dev2.css">
<link rel="stylesheet" href="css/adapt.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        window.print();
    })
</script>
</body>
</html>