//= partials/head.html
<div class="global-wrapper">
    <div class="main">
        <div class="mbox">
            <h1>title h1</h1>
            <h2>title h2</h2>
            <h3>title h3</h3>
            <h4>title h4</h4>
            <h5>title h5</h5>
            <h6>title h6</h6>
            <hr>
            <div class="svg-container"></div>

        </div>
        <div class="ui__buttons">
            <div class="mbox">
                <div class="ui__block">
                    <a href="#" class="btn"><span>кнопка</span></a>
                    <a href="#" class="btn btn--lowercase"><span>кнопка</span></a>
                    <a href="#" class="btn btn--white"><span>кнопка white</span></a>
                    <a href="#" class="btn btn--disabled"><span>кнопка disabled</span></a>
                </div>
            </div>
            <div class="mbox">
                <div class="ui__block">
                    <a href="#" class="btn btn--full"><span>кнопка на весь екран</span></a>
                </div>
            </div>
            <div class="mbox">
                <div class="ui__block">
                    <h2>Selecting text</h2>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.</p>
                </div>
                <div class="ui__block">
                    <h2>Quote</h2>
                    <q>
                        <span>
                        Ми пропонуємо великий вибір мольбертів: як художніх,
                        так і для творчого розвитку дитини.
                        Придбайте протягом лютого будь-який мольберт у мережі
                        магазинів «Офіс-Центр» та отримайте знижку 10%!
                        Ми пропонуємо великий вибір мольбертів: як художніх,
                        так і для творчого розвитку дитини.
                        Придбайте протягом лютого будь-який мольберт у мережі
                        магазинів «Офіс-Центр» та отримайте знижку 10%!
                        </span>
                    </q>
                </div>
                <div class="ui__block">
                        <span class="mainblog__know">Form</span>
                        <form action="">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="VALID" class="valid">
                            <input type="text" placeholder="NO VALID" class="error">
                            <button type="submit" class="btn btn--full"> <span>підписатись</span></button>
                        </form>
                </div>
                <div class="ui__block">
                    <form action="">
                        <label class="styled">
                            <input  type="checkbox" > <i></i> дзен
                        </label>
                        <label class="styled">
                            <input  type="checkbox"  checked> <i></i> дзен
                        </label>
                        <label  class="styled">
                            <input   type="checkbox" > <i></i> дзен
                        </label>
                    </form>
                </div>
                <div class="ui__block">
                    <form action="">
                        <label class="styled">
                            <input   type="radio" > <i></i> дзен
                        </label>
                        <label  class="styled">
                            <input   type="radio"  checked> <i></i> дзен
                        </label>
                        <label  class="styled">
                            <input   type="radio"  > <i></i> дзен
                        </label>
                    </form>
                </div>
                <div class="ui__block">
                    <div class="ui__flex">
                        <div class="ui__col slider-navigator__col">
                            <div class="slider-navigator js-slider-navigator">
                                <div class="slider-navigator__slide">
                                    <div class="slider-navigator__slide-wrap">
                                        <div>
                                            <img src="images/product.png" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-navigator__slide">
                                    <div class="slider-navigator__slide-wrap">
                                        <div>
                                            <img src="images/product.png" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-navigator__slide">
                                    <div class="slider-navigator__slide-wrap">
                                        <div>
                                            <img src="images/product.png" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-navigator__slide">
                                    <div class="slider-navigator__slide-wrap">
                                        <div>
                                            <img src="images/product.png" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-navigator__slide">
                                    <div class="slider-navigator__slide-wrap">
                                        <div>
                                            <img src="images/product.png" alt="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui__col slider-rule__col">
                            <div class="slider-rule js-slider-rule">
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-rule__slide">
                                    <div class="slider-rule__slide-wrap slider-rule__slide-wrap--employee">
                                        <div class="product__labels">
                                            <span class="product__label product__label--orange">  новинка </span>
                                        </div>
                                        <a href="#">
                                            <img src="images/product.png" alt="1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="ui__block">
                    <div class="ui__flex">
                        <div class="ui__col employee__col">
                            <div class="employee js-employee-slider-rule">
                                <div class="employee__slide">
                                    <div class="employee__slide-wrap">
                                        <a href="#">
                                            <img src="images/photo.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="employee__slide">
                                    <div class="employee__slide-wrap">
                                        <a href="#">
                                            <img src="images/photo.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="employee__slide">
                                    <div class="employee__slide-wrap">
                                        <a href="#">
                                            <img src="images/photo.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="employee__slide">
                                    <div class="employee__slide-wrap">
                                        <a href="#">
                                            <img src="images/photo.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="employee__slide">
                                    <div class="employee__slide-wrap">
                                        <a href="#">
                                            <img src="images/photo.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                                <div class="employee__slide">
                                    <div class="employee__slide-wrap">
                                        <a href="#">
                                            <img src="images/photo.jpg" alt="1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="ui__col employee__col employee__col--small">
                            <div class="employee__galery js-employee-slider-navigator">
                                <div class="employee__galery-slide">
                                    <div class="employee__galery-wrap">
                                        <div>
                                            <img src="images/photo.jpg" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="employee__galery-slide">
                                    <div class="employee__galery-wrap">
                                        <div>
                                            <img src="images/photo.jpg" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="employee__galery-slide">
                                    <div class="employee__galery-wrap">
                                        <div>
                                            <img src="images/photo.jpg" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="employee__galery-slide">
                                    <div class="employee__galery-wrap">
                                        <div>
                                            <img src="images/photo.jpg" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="employee__galery-slide">
                                    <div class="employee__galery-wrap">
                                        <div>
                                            <img src="images/photo.jpg" alt="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="employee__galery-slide">
                                    <div class="employee__galery-wrap">
                                        <div>
                                            <img src="images/photo.jpg" alt="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui__block">
                    <table class="table">
                        <tr class="table__tr">
                            <td class="table__td">Ліцензія</td>
                            <td class="table__td">Н / Д</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Стать</td>
                            <td class="table__td">Жіноча</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Корпус</td>
                            <td class="table__td">Пiдвищена зносостійкість</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Спинка</td>
                            <td class="table__td">Без жосткої ортопедичної основи</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">Плечові лямки</td>
                            <td class="table__td">Плавна амортизація</td>
                        </tr>
                        <tr class="table__tr">
                            <td class="table__td">додатково</td>
                            <td class="table__td">Бокові кармани</td>
                        </tr>
                    </table>
                </div>
                <div class="ui__block">
                    //= partials/paginator.html
                </div>
                <div class="ui__block">
                    <a href="google.com" class="link">google.com</a>
                    <a href="facebook.com" class="link">facebook.com</a>
                    <a href="twitter.com" class="link">twitter.com</a>
                </div>
                <div class="ui__block">
                    //= partials/breadcrumbs.html
                </div>
                <div class="ui__block">
                    <ol class="num-list">
                        <li><span>Безкоштовна доставка</span></li>
                        <li><span>Особистий менеджер</span></li>
                        <li><span>Філіжанка кави при візиті</span></li>
                        <ul>
                            <li><span>Безкоштовна доставка</span></li>
                            <li><span>Безкоштовна доставка</span></li>
                            <li><span>Виготовлення печаток та штампів</span></li>
                            <ul class="not">
                                <li><span>Пакет «VIP»</span></li>
                                <li><span>Пакет «Оптимальний»</span></li>
                                <li><span>Пакет «Ефективний»</span></li>
                            </ul>
                        </ul>
                    </ol>
                </div>
                <div class="ui__block">
                    <div class="scroll__box js-red-scroll">
                        <div class="scroll__content">
                            asdasd asdaasda sdasdasdasdasd asd asd asd asdasdasda das asd
                            asdasd asdaasd asdasdasda sdasd asd asd asd asdasdasda das asd
                            asdasdasdaa sdasdasdas dasdasd asd asd asd asdasdasda das asd
                            asdasdasdaasdasdasdasdasdasd asd asd asd asdasdasda das asd
                            asdasdas daasdasdasdasdasdasd asd asd asd asdasdasda das asd
                            asdas dasdaasd asdasdasd asdasd asd asd asd asdasdasda das asd
                            asdasd asdaasda sdasdasdasdasd asd asd asd asdasdasda das asd
                            asdasd asdaasd asdasdasda sdasd asd asd asd asdasdasda das asd
                            asdasdasdaa sdasdasdas dasdasd asd asd asd asdasdasda das asd
                            asdasdasdaasdasdasdasdasdasd asd asd asd asdasdasda das asd
                            asdasdas daasdasdasdasdasdasd asd asd asd asdasdasda das asd
                            asdas dasdaasd asdasdasd asdasd asd asd asd asdasdasda das asd
                            asdasd asdaasda sdasdasdasdasd asd asd asd asdasdasda das asd
                            asdasd asdaasd asdasdasda sdasd asd asd asd asdasdasda das asd
                            asdasdasdaa sdasdasdas dasdasd asd asd asd asdasdasda das asd
                            asdasdasdaasdasdasdasdasdasd asd asd asd asdasdasda das asd
                            asdasdas daasdasdasdasdasdasd asd asd asd asdasdasda das asd
                            asdas dasdaasd asdasdasd asdasd asd asd asd asdasdasda das asd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/footer.html
</div>

<style>

</style>
