//= partials/head.html

<div class="global-wrapper">
    //= partials/top-banner.html
    <header>
        //= partials/nav.html
        //= partials/header.html
        //= partials/mobilemenu.html
    </header>
    <div class="main">
        //= partials/catalognav-notmain.html
        <div class="mbox">
            <div class="scelet cabmenu__scelet">
                <div class="scelet__left">
                    //= partials/cabmenu.html
                </div>
                <div class="scelet__right">
                    <div class="catalog">
                        //= partials/breadcrumbs.html
                        <div class="title title--simple">
                            <h1>Мій Список Бажань</h1>
                        </div>
                        <div class="cabmenu__sorter">
                            <div class="catalog__sorter">
                                <div class="catalog__sort">
                                    <b>Категорії:</b>
                                    <div class="catalog__sort-select">
                                        <select name="test" class="js-styler">
                                            <option value="test">Всі</option>
                                            <option value="test">Зелені</option>
                                            <option value="test">Мягкі</option>
                                            <option value="test">Новорічні</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn--lowercase"><span>Додати все в кошик</span></a>
                            <div class="catalog__tag cabmenu__tag"><span>Скинути все</span><div class="catalog__cross"></div></div>
                        </div>

                        <div class="catalog__items catalog__items--rowed">
                            <div class="catalog__item">
                                <button type="button" class="topbanner__cross" onclick="$(this).closest('.catalog__item').remove()"></button>
                                //= partials/product.html
                            </div>
                            <div class="catalog__item">
                                <button type="button" class="topbanner__cross" onclick="$(this).closest('.catalog__item').remove()"></button>
                                //= partials/product2.html
                            </div>
                            <div class="catalog__item">
                                <button type="button" class="topbanner__cross" onclick="$(this).closest('.catalog__item').remove()"></button>
                                //= partials/product3.html
                            </div>
                        </div>
                        //= partials/paginator.html
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>